
@{
    ViewBag.Title = "餐饮核销";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <form id="form1" method="post">
                <div class="layui-form">
                    <div class="layui-form-item ">
                        <label class="layui-form-label">核销状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="Status" value="-1" title="全部" checked>
                            @foreach (var item in EnumDescriptionHelper.GetAllItemValueList<CateringVerificationStatusEnum, int>())
                            {
                                <input type="radio" name="Status" value="@item.Key" title="@item.Value">
                            }
                        </div>
                    </div>
                    <div class="layui-form-item ">
                        <label class="layui-form-label">订单编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="OrderNo" id="OrderNo" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">产品编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ProductNo" id="ProductNo" autocomplete="off" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item ">

                        <label class="layui-form-label">产品信息</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ProductName" id="ProductName" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">消费券号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="CateringToken" id="CateringToken" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn layui-btn-warm" type="button" id="btnSearch" data-type="reload">查询</button>
                    </div>

                </div>
            </form>
        </div>
        <div class="panel-body">
            <button class="layui-btn layui-btn-warm layui-btn-sm" data-type="ToExcel">导出</button>
            <table id="order-table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="tableTool">
    {{#  if(d.Status ==@((int)CateringVerificationStatusEnum.NoVerification)){ }}
    <button class="layui-btn layui-btn-default layui-btn-sm" lay-event="cancel">核销</button>
    <button class="layui-btn layui-btn-default layui-btn-sm" lay-event="lose-efficacy">失效</button>
    {{#  } }}
</script>
<script>
    layui.use(['jquery', 'table', "form"], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.$;
       var tableOptions={
            elem: '#order-table'
            , skin: 'line'
            , limit: 20
            , url: '@Url.Action("VerificationSearch", "Catering")'//数据
            , method: 'post'
            , page: true //开启分页
            , cols: [[ //表头
                { field: 'OrderNo', title: '订单编号', sort: true }
                , { field: 'CreatorAccount', title: '下单账户', }
                , { field: 'ProductName', title: '产品信息', }
                , { field: 'CateringToken', title: '消费券号', }
                , { field: 'ExpiryDate', title: '有效日期' }
                , { field: 'SupplierName', title: '供应商', sort: true }
                , { field: 'StatusCH', title: '核销状态', }
                , { field: 'VerificationDateCH', title: '核销时间', }
                , { field: 'PatternCH', title: '核销方式', }
                , { title: '操作', toolbar: '#tableTool', minWidth: 200 }
            ]],
            where: { Status: $("input[name='Status']:checked").val(), OrderNo: $("#OrderNo").val(), ProductNo: $("#ProductNo").val(), ProductName: $("#ProductName").val() , CateringToken: $("#CateringToken").val(), ProductName: $("#ProductName").val() }
        };
        table.render(tableOptions);
        active = {
            reload: function () {
                //执行重载
                table.reload('order-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    loading: true,
                    where: { Status: $("input[name='Status']:checked").val(), OrderNo: $("#OrderNo").val(), ProductNo: $("#ProductNo").val(), ProductName: $("#ProductName").val(), SupplierName: $("#SupplierName").val(), CateringToken: $("#CateringToken").val(), ProductName: $("#ProductName").val() }
                });
            },
            ToExcel: function () {
                $("#form1").attr("action", "/Order/Catering/VerificationExportToExcel");
                $("#form1").submit();
            },
        };
        table.on('tool(table)', function (obj) {
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    var tr = obj.tr; //获得当前行 tr 的DOM对象
                    if (layEvent == 'cancel') {
                        layer.confirm('确定要核销该票务？', {
                            btn: ['确定', '返回'] //按钮
                        }, function () {
                            return SupplierSetVerificat(data["Id"]);
                        }, function () {

                        });
                    }
                    if (layEvent == 'lose-efficacy') {
                        layer.confirm('确定要将该票务设为失效？', {
                            btn: ['确定', '返回'] //按钮
                        }, function () {
                            return SupplierSetInvalid(data["Id"]);
                        }, function () {

                        });
                    }
                });
                $('.panel .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                //点击事件
                form.on("radio", function (data) {
                    $("#btnSearch").click();
                });
            var _IsSubmit = false;
            function SupplierSetVerificat(id)
            {
                var bool = false;
                if (!_IsSubmit)
                {
                    $.ajax({
                            url: "@Url.Action("SupplierSetVerificat", "Catering")",
                            type: "post",
                            data: { Id: id},
                            beforeSend: function () {
                                _IsSubmit = true;
                            },
                            success: function (res) {
                                bool = res.IsSuccess;
                                if (res.IsSuccess) {
                                    layer.msg("操作成功", {
                                                icon: 1
                                                , time: 2000
                                    }, function () {
                                        layer.closeAll();
                                        $("#btnSearch").click();
                                        });
                                }
                                else {
                                    layer.msg(res.Info, {
                                        icon: 2
                                        , time: 2000
                                    });
                                }
                                _IsSubmit = false;
                            }
                    });
                    return bool;
                }
            }
            function SupplierSetInvalid(id)
            {
                var bool = false;
                if (!_IsSubmit)
                {
                    $.ajax({
                            url: "@Url.Action("SupplierSetInvalid", "Catering")",
                            type: "post",
                            data: { Id: id},
                            beforeSend: function () {
                                _IsSubmit = true;
                            },
                            success: function (res) {
                                bool = res.IsSuccess;
                                if (res.IsSuccess) {
                                    layer.msg("操作成功", {
                                                icon: 1
                                                , time: 2000
                                    }, function () {
                                        layer.closeAll();
                                        $("#btnSearch").click();
                                        });
                                }
                                else {
                                    layer.msg(res.Info, {
                                        icon: 2
                                        , time: 2000
                                    });
                                }
                                _IsSubmit = false;
                            }
                    });
                    return bool;
                }
            }
    })
</script>


