
@{
    ViewBag.Title = "农产品订单详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OrderDetailForSpecialtyDTO
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            订单信息
        </div>
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row row-3">
                    <div class="item">
                        <span class="label">订单号</span>
                        <span class="text">@Model.OrderBasic.OrderNo</span>
                    </div>
                    <div class="item">
                        <span class="label">订单创建时间</span>
                        <span class="text">@Model.OrderBasic.CreatorTime.ToDateTimeString()</span>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <span class="label">订单状态</span>
                        <span class="text">@EnumDescriptionHelper.GetDescription((OrderStatusForSpecialtyEnum)Model.OrderBasic.OrderStatus)</span>
                    </div>
                    <div class="item">
                        <span class="label">订单总金额</span>
                        <span class="text pro-color">￥@(Model.OrderBasic.ActualAmount.ToDouble()) <span>（待支付金额：￥ @(Model.OrderBasic.OrderStatus == (int)OrderStatusForSpecialtyEnum.Unpaid ? Model.OrderBasic.ActualAmount.ToDouble() : ((Model.OrderBasic.OrderStatus == (int)OrderStatusForSpecialtyEnum.PayDeposit || Model.OrderBasic.OrderStatus == (int)OrderStatusForSpecialtyEnum.UnRetainage) ? ((Model.OrderBasic.ActualAmount - Model.PaidAmount).ToDouble()) : (double)0)) ）</span></span>
                    </div>

                </div>
                <div class="row row-3">
                    <div class="item">
                        <span class="label">用户名</span>
                        <span class="text">@Model.OrderBasic.CreatorAccount</span>
                    </div>
                    <div class="item">
                        <span class="label">订单来源</span>
                        <span class="text">@EnumDescriptionHelper.GetDescription((OrderSourceEnum)Model.OrderBasic.OrderSource)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.OrderBillList != null && Model.OrderBillList.Any())
    {
        <div class="panel">
            <div class="panel-title">
                付款信息
            </div>
            <div class="panel-body">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>交易流水号</th>
                            <th>付款金额</th>
                            <th>状态</th>
                            <th>支付方式</th>
                            <th>支付时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBillList)
                        {
                            <tr>
                                <td>@item.TranscationNo</td>
                                <td>￥@item.Amount</td>
                                <td>@EnumDescriptionHelper.GetDescription((OrderPayStatusEnum)item.PayStatus)</td>
                                <td>@EnumDescriptionHelper.GetDescription((OrderPayClassifyEnum)item.PayClassify)</td>
                                <td>@((item.PayStatus == (int)BillPayStatusEnum.Paid) ? item.LastModifyTime.ToDateTimeString() : "")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.OrderItemList != null && Model.OrderItemList.Any())
    {
        <div class="panel">
            <div class="panel-title">
                产品信息
            </div>
            <div class="panel-body">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>产品编号</th>
                            <th>农产品分类</th>
                            <th>农产品名称</th>
                            <th>品种</th>
                            <th>规格</th>
                            <th>单位</th>
                            <th>销售模式</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderItemList)
                        {
                            <tr>
                                <td>@item.ProductNo</td>
                                <td>@item.CategoryName</td>
                                <td>@item.ProductName</td>
                                <td>@item.Varieties</td>
                                <td>@item.SpecsStr</td>
                                <td>@item.SalesUnit</td>
                                <td>@EnumDescriptionHelper.GetDescription((ProductSaleModelEnum)item.SalesModel)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.OrderItemList != null && Model.OrderItemList.Any())
    {
        <div class="panel">
            <div class="panel-title">
                价格信息
            </div>
            <div class="panel-body">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>品种</th>
                            <th>单价</th>
                            <th>购买数量</th>
                            <th>运费</th>
                            <th>金额小计</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal totalprice = 0;
                            foreach (var item in Model.OrderItemList)
                            {
                                <tr>
                                    <td>@item.Varieties</td>
                                    <td>￥@item.Price.ToDouble()</td>
                                    <td>@item.Quantity.ToString()</td>
                                    <td>￥@item.ExpressFee.ToDouble()</td>
                                    <td>￥@item.SubTotalAmount.ToDouble()</td>
                                </tr>
                                totalprice += item.SubTotalAmount;
                            }
                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                订单总金额：
                                <span class="pro-color">￥@totalprice.ToDouble()</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                            }

    <div class="panel">
        <div class="panel-title">
            收货地址
        </div>
        <div class="panel-body">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>地址</th>
                        <th>手机号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.OrderBasic.Consignee</td>
                        <td>@Model.OrderBasic.ConsigneeAddress</td>
                        <td>@Model.OrderBasic.ConsigneePhone</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.OrderBasic.OrderStatus != (int)OrderStatusForSpecialtyEnum.Unpaid
                                                            && Model.OrderBasic.OrderStatus != (int)OrderStatusForSpecialtyEnum.UnSend
                                                            && Model.OrderBasic.OrderStatus != (int)OrderStatusForSpecialtyEnum.PayDeposit
                                                            && Model.OrderBasic.OrderStatus != (int)OrderStatusForSpecialtyEnum.UnRetainage)
    {
        <div class="panel">
            <div class="panel-title">
                发货信息
            </div>
            <div class="panel-body">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>寄送方式</th>
                            <th>快递公司</th>
                            <th>运单号</th>
                            <th>更新时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>快递</td>
                            <td>@Model.OrderBasic.ExpressCompany</td>
                            <td>@Model.OrderBasic.WaybillNumber</td>
                            <td>@(Model.OrderBasic.DeliverGoodsTime.ToDateTimeString().Equals(DateTime.MaxValue.ToDateTimeString()) ? "" : Model.OrderBasic.DeliverGoodsTime.ToDateTimeString())</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

    @{
        if (Model.RefundableRecordList != null && Model.RefundableRecordList.Any())
        {
            <div class="panel">
                <div class="panel-title">
                    退换货信息
                </div>
                <div class="panel-body">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>退换货单号</th>
                                <th>日期</th>
                                <th>产品名称</th>
                                <th>退换数量</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RefundableRecordList)
                            {
                                <tr>
                                    <td>@item.RefundableNo</td>
                                    <td>@item.CreatorTime.ToDateTimeString()</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductQuantity.ToString()</td>
                                    <td>@item.StatusCH</td>
                                    <td><a href="@(Url.Action("RefundChange", "Specialty", new { refundableNo = item.RefundableNo }))" class="layui-btn layui-btn-primary layui-btn-sm">查看</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }



    @if (Model.OrderProcessList != null && Model.OrderProcessList.Any())
    {
        var orderRefund = Model.OrderProcessList.Where(t => t.ProcessClassify == 2).OrderByDescending(t => t.CreatorTime).ToList();
        if (orderRefund != null && orderRefund.Any())
        {
            <div class="panel">
                <div class="panel-title">
                    退款信息
                </div>
                <div class="panel-body">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">退款申请</h3>
                                @foreach (var item in orderRefund)
                                {
                                    <p>
                                        @if (!(!string.IsNullOrWhiteSpace(item.Remark) && item.Remark.Contains("不同意")))
                                        {
                                            <br>@Html.Raw("退款金额：" + item.Amount.ToDouble())
                                        }

                                        <br>操作类型：@item.ProcessName
                                        @if (!(!string.IsNullOrWhiteSpace(item.Remark) && item.Remark.Contains("不同意")))
                                        {
                                            <br>@Html.Raw("退款方式：原路返回")
                                        }

                                        <br>操作时间：@item.CreatorTime.ToDateTimeString()
                                        @if (!(!string.IsNullOrWhiteSpace(item.ProcessName) && item.ProcessName.Contains("申请")))
                                        {
                                            <br>@Html.Raw("处理结果：" + @item.Remark)
                                        }

                                    </p>
                                }
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        }
    }
    <div class="panel margin-bottom-50">
        <div class="panel-title">
            操作日志
        </div>
        <div class="panel-body">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col>
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th>操作类型</th>
                        <th>操作内容</th>
                        <th>操作人</th>
                        <th>操作时间</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderProcessList != null && Model.OrderProcessList.Any())
                    {
                        foreach (var item in Model.OrderProcessList)
                        {
                            <tr>
                                <td>@item.ProcessName</td>
                                <td>@item.Remark</td>
                                <td>@item.CreatorAccount</td>
                                <td>@item.CreatorTime.ToDateTimeString()</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="main-fixed-footer center">

        @if (Model.OrderBasic.OrderStatus == (int)OrderStatusForSpecialtyEnum.Refunding && Model.OrderBasic.CancelForSystem == (int)(int)CancelForSystemEnum.Supplier)
        {
            <button class="layui-btn layui-btn-warm" id="button3">处理退款</button>
        }
        <button class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
    </div>
</div>





<!--弹出框模板-->
<div id="button3-modal" style="display:none">
    <div class="layui-form big-label">
        <div class="layui-form-item ">
            <label class="layui-form-label">订单金额</label>
            <div class="layui-input-block">
                <span class="text pro-color">￥@(Model.OrderBasic.ActualAmount.ToDouble())</span>
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">处理结果</label>
            <div class="layui-input-inline">
                <input type="radio" name="modal3_IsAgree" value="true" title="同意" checked>
                <input type="radio" name="modal3_IsAgree" value="false" title="拒绝">
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">实际退款金额</label>
            <div class="layui-input-inline flex">
                <span class="pro-color">￥</span>
                <input type="text" name="price" id="modal3_RefundAmount" value="@(Model.PaidAmount.ToDouble())" @(Model.SaleModel == (int)ProductSaleModelEnum.Presale ? "disabled='disabled'" : "") required autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">处理结果说明</label>
            <div class="layui-input-inline">
                <textarea name="desc" placeholder="请输入内容" id="modal3_Remark" class="layui-textarea" style="width:300px;"></textarea>
            </div>
        </div>
    </div>
</div>


<script>
    layui.use(['jquery', 'table', 'layer'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        $("#button3").click(function () {

            layer.open({
                type: 1,
                title: '退款处理',
                btn: ['确定', '取消'],
                //skin: 'layui-layer-rim', //加上边框
                area: ['500px'], //宽高
                content: $('#button3-modal'),
                yes: function () {
                    return ScenicHandleRefund();
                },
                btn2: function () {

                }
            });
        })


    });
    var _IsSubmit = false;
        //处理退款
    function ScenicHandleRefund() {
        var bool = false;
        var orderId = '@(Model.OrderBasic.Id.ToString())';
        var isAgree = $("input[name='modal3_IsAgree']:checked").val();
        var refundAmount = $("#modal3_RefundAmount").val();
        var remark = $("#modal3_Remark").val();
        var regex = /^\d{1,16}(\.\d{1,2})?$/;
        if (isAgree=="true") {
            if (refundAmount == '') {
                layer.msg('请输入退款金额', {
                    icon: 2
                    , time: 2000
                });
                return false;
            }
            if (!regex.test(refundAmount)) {
                layer.msg('金额格式不正确', {
                    icon: 2
                    , time: 2000
                });
                return false;
            }
        }
        else {
            refundAmount = 0;
        }
        if (!_IsSubmit)
        {
            $.ajax({
                    url: "@Url.Action("ScenicHandleRefund", "Specialty")",
                    type: "post",
                    data: { OrderId: orderId, IsAgree: isAgree, RefundAmount: refundAmount , Remark: remark},
                    beforeSend: function () {
                        _IsSubmit = true;
                    },
                    success: function (res) {
                        bool = res.IsSuccess;
                        if (res.IsSuccess) {
                            layer.msg("操作成功", {
                                        icon: 1
                                        , time: 2000
                            }, function () {
                                layer.closeAll();
                                location.reload();
                                });

                        }
                        else {
                            layer.msg(res.Info, {
                                icon: 2
                                , time: 2000
                            });
                        }
                        _IsSubmit = false;
                    }
            });
            return bool;
        }
    }
</script> 