@{
    ViewBag.Title = "店铺详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EnrolmentPlatform.Project.DTO.Product.ShopDto dto = ViewBag.Shop;
    List<EnrolmentPlatform.Project.DTO.Product.CateringParamDto> serviceFacilities = ViewBag.ServiceFacilities;
    string serviceFacilitiesName = "";
    if (dto != null)
    {
        var arr = dto.ServiceFacilitiesIds.Split('|');
        foreach (var item in arr)
        {
            var curItemDto = serviceFacilities.FirstOrDefault(a => a.ParamId == Guid.Parse(item));
            if (curItemDto != null)
            {
                serviceFacilitiesName = serviceFacilitiesName + curItemDto.ParamName + " ";
            }
        }
    }

    //openDay
    var openDayStr = "";
    if (dto.OpenDay.Length == 7)
    {
        openDayStr = "周一至周日";
    }
    else
    {
        foreach (var item in dto.OpenDay)
        {
            if (item == '1')
            {
                openDayStr += "周一";
            }
            else if (item == '2')
            {
                openDayStr += "周二";
            }
            else if (item == '3')
            {
                openDayStr += "周三";
            }
            else if (item == '4')
            {
                openDayStr += "周四";
            }
            else if (item == '5')
            {
                openDayStr += "周五";
            }
            else if (item == '6')
            {
                openDayStr += "周六";
            }
            else if (item == '7')
            {
                openDayStr += "周日";
            }
        }
    }

    var openTime = "";
    if (dto.OpenTime == "0")
    {
        openTime = "24小时营业";
    }
    else
    {
        openTime = dto.OpenTime + "-" + dto.CloseTime;
    }
}

<div class="main-wrap store-detail-styel">
    <div class="panel">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                @*<li>操作日志</li>*@
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="panel">
                        <div class="panel-title">
                            产品状态
                        </div>
                        <div class="panel-body info-cell">
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">当前状态</label>
                                    <div class="text">@EnumDescriptionHelper.GetDescription(dto.Status)</div>
                                </div>
                                <div class="item">
                                    <label class="label">供应商</label>
                                    <div class="text">@dto.EnterpriseName</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">创建时间</label>
                                    <div class="text pro-color">@dto.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                </div>
                                <div class="item">
                                    <label class="label">审核时间</label>
                                    <div class="text">@(dto.AuditTime.HasValue ? dto.AuditTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">审核结果说明</label>
                                    <div class="text">@(dto.AuditComment)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-title">基本信息</div>
                        <div class="panel-body info-cell width-95">
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">
                                        <span class="pro-color">*</span>店铺名称
                                    </label>
                                    <div class="text">@dto.ShopName</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">类型</label>
                                    <div class="text">@dto.CuisineName</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">
                                        地址
                                    </label>
                                    <div class="text">@dto.FullAddressName</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">
                                        电话
                                    </label>
                                    <div class="text">@dto.Tel1 @dto.Tel2</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">
                                        营业时间
                                    </label>
                                    <div class="text">
                                        @openDayStr @openTime
                                    </div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">
                                        <span class="pro-color">*</span>服务设施
                                    </label>
                                    <div class="text">@serviceFacilitiesName</div>
                                </div>
                            </div>
                            <div class="row row-3">
                                <div class="item">
                                    <label class="label">
                                        <span class="pro-color">*</span>图片
                                    </label>
                                    <div class="text">
                                        @if (dto.FileList != null && dto.FileList.Count > 0)
                                        {
                                            foreach (var item in dto.FileList)
                                            {
                                                <div class="img-box" style="width:50%!important;">
                                                    <img style="width:150px!important;" src="@item.FileName" alt="">
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <table id="logTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['table', 'element', 'layer', 'jquery'], function () {
        var table = layui.table;
        var element = layui.element;
        table.render({
            elem: '#logTable'
            , data: [{
                type: '创建申请',
                content: '提交审核',
                name: '13107221223',
                time: '2017-02-18 15:00:00',
            }
            ]
            , cols: [[
                { field: 'type', title: '操作类型' },
                { field: 'content', title: '操作内容' },
                { field: 'name', title: '操作人' },
                { field: 'time', title: '操作时间' }
            ]]
        });

    });
</script>