
@{
    ViewBag.Title = "景点管理";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var ProductStatus = ViewBag.ProductStatus as List<KeyValuePair<int, string>>;
    var TikcetParamLevel = ViewBag.TikcetParamLevel as List<ProductCategoriesDto>;
    var TikcetParamCate = ViewBag.TikcetParamCate as List<ProductCategoriesDto>;

}


<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="productStatus"  lay-filter="status_search" value="0" title="全部" checked>
                        @foreach (var item in ProductStatus)
                        {
                            <input type="radio" name="productStatus"  lay-filter="status_search" value="@item.Key" title="@item.Value" />
                        }
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">景点类型</label>
                    <div class="layui-input-inline">
                        <select name="tickettype" lay-filter="sel_search">
                            <option value="@(Guid.Empty)">全部</option>
                            @foreach (var item in TikcetParamCate)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <label class="layui-form-label">景点等级</label>
                    <div class="layui-input-inline">
                        <select name="ticketlevel" lay-filter="sel_search">
                            <option value="@(Guid.Empty)">全部</option>
                            @foreach (var item in TikcetParamLevel)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">景点名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="scenicSportName" placeholder="景点名称" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-inline">
                        <input type="text" id="contact" placeholder="联系人" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">景点编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="projectNumber" placeholder="景点编号" autocomplete="off" class="layui-input ckshuzi">
                    </div>
                    <button class="layui-btn layui-btn-warm" data-type="reload">查询</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a href="/product/landmng/option" class="layui-btn layui-btn-warm layui-btn-sm">添加景点</a>
            <button class="layui-btn layui-btn-default layui-btn-sm" data-type="onEnlable">启用</button>
            <button class="layui-btn layui-btn-default layui-btn-sm" data-type="onDisabled">禁用</button>
            <table id="landmark-table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="del">删除</a> 
</script>
<script>
    var searchUrl = '@Url.Action("GetScenicSportForList", "LandMng", new { area = "Product" })';
    var onEnabledUrl = '@Url.Action("OnEnabled", "LandMng", new { area = "Product" })';
    var onDisabledUrl = '@Url.Action("OnDisabled", "LandMng", new { area = "Product" })';
    var onDelUrl = '@Url.Action("DelScenicSport", "LandMng", new { area = "Product" })';
    var isSubmit = true; 

    layui.use(['jquery', 'table', 'layer', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        //实例表格
        var tableOptions = {
            elem: '#landmark-table'
            , skin: 'line'
            , limit: 20
            , url:searchUrl//数据
            , page: true //开启分页
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'ScenicSportNumber', title: '景点编号', sort: true }
                , { field: 'ScenicSportName', title: '景点名称', }
                , { field: 'ScenicClassifyStr', title: '景点类型', }
                , { field: 'Contact', title: '联系人', }
                , { field: 'ScenicTel', title: '联系电话', }
                , { field: 'ScenicLevelStr', title: '景点等级' }
                , { field: 'Address', title: '景点地址', }
                , { field: 'StatusStr', title: '状态' }
                , { title: '操作', toolbar: '#tableTool', minWidth: 150 }
            ]]
        }

        table.render(tableOptions);

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('landmark-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        Status: $("input[name=productStatus]:checked").val(),
                        ScenicClassifyId: $("select[name=tickettype]").val(),
                        ScenicLevelId: $("select[name=ticketlevel]").val(),
                        ScenicSportName: $.trim($('#scenicSportName').val()),
                        Contact: $.trim($('#contact').val()),
                        Number: $.trim($('#projectNumber').val())
                    }
                });
            },
            onEnlable: function () {
                var checkStatus = table.checkStatus('landmark-table')
                    , data = checkStatus.data;
                if (data.length == 0) return false;

                var ids = []; 
                var isOption = true;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Status == "@((int)StatusBaseEnum.Enabled)") {
                        isOption = false;
                        layer.msg("请勾选未启用的景点进行启用！");
                        break;
                    } else {
                        ids.push(data[i].Id);
                    }
                }    
                if (isOption) {
                    layer.confirm('您确定要启用选中的景点吗？', function (index) {
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: onEnabledUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { ids: ids },
                                success: function (result) {
                                    isSubmit = true;
                                    layer.msg(result.Info);
                                    if (result.IsSuccess) {
                                        table.reload('landmark-table');
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                        layer.close(index);
                    });
                }
            },
            onDisabled: function () {
                var checkStatus = table.checkStatus('landmark-table')
                    , data = checkStatus.data;
                if (data.length == 0) return false;

                var ids = []; 
                var isOption = true;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Status == "@((int)StatusBaseEnum.Disabled)") {
                        isOption = false;
                        layer.msg("请勾选未禁用的景点进行禁用！");
                        break;
                    } else {
                        ids.push(data[i].Id);
                    }
                }   
                if (isOption) {
                    layer.confirm('您确定要禁用选中的景点吗？', function (index) {
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: onDisabledUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { ids: ids },
                                success: function (result) {
                                    isSubmit = true;
                                    if (result.IsSuccess) {
                                        table.reload('landmark-table');
                                    }
                                    else {
                                        layer.msg(result.Info);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                        layer.close(index);
                    });
                }
            }
        };

        $('.panel .layui-btn').on('click', function () { 
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('radio(status_search)', function (data) {
            //执行重载
            table.reload('landmark-table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    Status: $("input[name=productStatus]:checked").val(),
                    ScenicClassifyId: $("select[name=tickettype]").val(),
                    ScenicLevelId: $("select[name=ticketlevel]").val(),
                    ScenicSportName: $.trim($('#scenicSportName').val()),
                    Contact: $.trim($('#contact').val()),
                    Number: $.trim($('#projectNumber').val())
                }
            });
        });
        form.on('select(sel_search)', function (data) {
            //执行重载
            table.reload('landmark-table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    Status: $("input[name=productStatus]:checked").val(),
                    ScenicClassifyId: $("select[name=tickettype]").val(),
                    ScenicLevelId: $("select[name=ticketlevel]").val(),
                    ScenicSportName: $.trim($('#scenicSportName').val()),
                    Contact: $.trim($('#contact').val()),
                    Number: $.trim($('#projectNumber').val())
                }
            });
        });
         
        table.on('tool(table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit') {
                location.href = "@Url.Action("Option", "LandMng")?scenicSportId=" + data.Id;
            } else if (layEvent === 'del') {
                layer.confirm('您确定要删除该景点吗？', function (index) {
                    if (isSubmit) {
                        isSubmit = false;
                        $.ajax({
                            url: onDelUrl,
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { id: data.Id },
                            success: function (result) {
                                isSubmit = true;
                                if (result.IsSuccess) {
                                    table.reload('landmark-table');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                isSubmit = true;
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        });
                    }
                    layer.close(index);
                }); 
            }
        })

    })
</script>