
@{
    ViewBag.Title = "结算中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="cw-panel">
        <div class="card">
            <p>待结算金额</p>
            <p> @ViewBag.SettlementCenterInfo.PendingSettlePrice  元</p>
        </div>
        <div class="card">
            <p>已结算金额</p>
            <p>@ViewBag.SettlementCenterInfo.SettledPrice 元</p>
        </div>
    </div>
    <div class="panel">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">待结算订单</li>
                <li>结算单</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-hide" id="table1"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="table2" lay-filter="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script type="text/javascript">
    layui.use(['jquery', 'table', 'layer'], function () {
        var table = layui.table;
        table.render({
            elem: '#table1'
            , url: '@Url.Action("GetPendingOrderInfoList", "Payment")'//数据
            , cols: [[
                { field: 'OrderNo', title: '订单编号' },
                { field: 'ClassifyName', title: '订单类型' }
                , { field: 'ProductName', title: '产品信息' }
                , { field: 'Amount', title: '订单总金额' },
                { field: 'OrderStatusName', title: '订单状态' },
                { field: 'PendingAmount', title: '待结算金额' }
            ]]
            , page: true
        });
        table.render({
            elem: '#table2'
            , url: '@Url.Action("GetOrderSettlement", "Payment")'//数据
            , cols: [[
                { field: 'SettlementNo', title: '结算单号' },
                { field: 'CreatorTime', title: '申请时间', minWidth: 180 }
                , { field: 'OrderQuantity', title: '订单数量' }
                , { field: 'TotalOrderAmount', title: '订单总金额' },
                { field: 'StatusName', title: '结算状态' },
                { field: 'SettlementAmount', title: '申请结算金额' },
                { title: '操作', toolbar: '#tableTool' }
            ]]
            , page: true
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent == 'detail') {
                location.href = "@Url.Action("SettlementCenterInfo", "Payment")" + "?id=" + data.Id;
            }
        });
        });
</script>