
@model OptionParamForPlayMngDataDto
@{
    ViewBag.Title = Model != null ? Model.ProjectName : "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nameStr = "";
}

<div class="main-wrap play-style">
    <div class="panel">
        <div class="panel-title">创建信息</div>
        <div class="panel-body info-cell">
            <div class="row row-3">
                <div class="item">
                    <label class="label">创建人</label>
                    <div class="text">@(Model != null ? Model.CreateName : "")</div>
                </div>
                <div class="item">
                    <label class="label">创建时间</label>
                    <div class="text">@(Model != null ? Model.CreateTime.ToString("yyyy-MM-dd HH:mm:ss") : "")</div>
                </div>
            </div>
            <div class="row row-3">
                <div class="item">
                    <label class="label">状态</label>
                    <div class="text pro-color">@(Model != null ? Model.StatusStr : "")</div>
                </div>
                @if (Model != null && (Model.Status.Equals((int)StatusForPlayProjectEnum.Enable) || Model.Status.Equals((int)StatusForPlayProjectEnum.CheckNo)))
                {
                    <div class="item">
                        <label class="label">审核时间</label>
                        <div class="text">@((Model != null && !Model.AuditTime.Equals(DateTime.MinValue) && !Model.AuditTime.Equals(DateTime.MaxValue)) ? Model.AuditTime.ToString("yyyy-MM-dd HH:mm:ss") : "")</div>
                    </div>
                }
            </div>
            <div class="row row-3">
                @if (Model != null && (Model.Status.Equals((int)StatusForPlayProjectEnum.Enable) || Model.Status.Equals((int)StatusForPlayProjectEnum.CheckNo)))
                {
                    <div class="item">
                        <label class="label">审核结果说明</label>
                        <div class="text">@(Model != null ? Model.AuditResult : "")</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">游乐项目信息</div>
        <div class="panel-body">
            <div class="panel-body info-cell">
                <div class="row row-3">
                    <div class="item">
                        <label class="label">游乐项目编号</label>
                        <div class="text">@(Model != null ? Model.ProjectNumber.ToString() : "")</div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <label class="label">游乐项目名称</label>
                        <div class="text">@(Model != null ? Model.ProjectName : "")</div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <label class="label">所在地址</label>
                        <div class="text">@(Model != null ? Model.Address : "")</div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <label class="label">地址坐标</label>
                        <div class="text">@(Model != null ? Model.Coordinate : "")</div>
                    </div>
                </div>
                <div class="row row-3">
                    <div style="width:100%; margin-left:110px;">
                        <label class="label"></label>
                        <div class="text map" id="allmap" style="height:400px; width:80%;">
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <label class="label">所属景点</label>
                        <div class="text">
                            @if (Model.OptionParamForKeyValueDto != null && Model.OptionParamForKeyValueDto.Any())
                {
                    foreach (var item in Model.OptionParamForKeyValueDto)
                    {
                        nameStr += (item.Value + ",");
                    }
                }
                            @(nameStr)
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <label class="label">景点范围</label>
                        <div class="text">@(Model != null ? Model.ScenicRangeStr : "")</div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <label class="label">开放时间</label>
                        <div class="text">@((Model != null && !string.IsNullOrWhiteSpace(Model.OpenTime)) ? Model.OpenTime : "00:00")-@((Model != null && !string.IsNullOrEmpty(Model.CloseTime)) ? Model.CloseTime : "00:00")</div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item width-100">
                        <label class="label">游乐项目图片</label>
                        <div class="text" id="layer-photos">
                            @if (Model.OptionParamForPictureDto != null && Model.OptionParamForPictureDto.Any())
                {
                    foreach (var item in Model.OptionParamForPictureDto)
                    {
                        <div class="img-box">
                            <img layer-src="@(item.FilePath)" src="@(item.FilePath)" alt="@(item.FileName)">
                            @if (item.Iscover)
                {
                    <p>主图</p>
    }
                        </div>
        }
    }
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item" style="width:80%;">
                        <label class="label">预订须知</label>
                        <div class="text">
                            @(Html.Raw(Model != null ? Model.OrderNotes : ""))
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item" style="width:80%;">
                        <label class="label">详情介绍</label>
                        <div class="text">
                            @(Html.Raw(Model != null ? Model.Description : ""))
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item" style="width:80%;">
                        <label class="label">交通指南</label>
                        <div class="text">
                            @(Html.Raw(Model != null ? Model.TrafficGuide : ""))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="panel">
        <div class="panel-title">操作日志</div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/_logSettingForTable.cshtml", Model.Id)
        </div>
    </div>
    <div class="main-fixed-footer center">
        <a href="@(Url.Action("Index", "PlayMng", new { area = "Product" }))" class="layui-btn layui-btn-primary">返回</a>
    </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=@(System.Configuration.ConfigurationManager.AppSettings["BaiDuAK"])"></script>
<script type="text/javascript">
    // 百度地图API功能
    var Long_load = parseFloat("@(Model != null&& !string.IsNullOrEmpty(Model.Coordinate) ? Model.Coordinate.Split(',')[0] : "116.331398")").toFixed(6);
    var Lat_load = parseFloat("@(Model != null && !string.IsNullOrEmpty(Model.Coordinate) ? Model.Coordinate.Split(',')[1] : "39.897445")").toFixed(6);
    var fdjs = parseInt("@(Model != null ? 16 : 12)");
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(Long_load, Lat_load);
    map.centerAndZoom(point, fdjs);
    setTimeout(function () {
        map.setZoom(16);
    }, 2000);  //2秒后放大到14级
    map.enableScrollWheelZoom(true);
    map.addOverlay(new BMap.Marker(point));
    var top_right_navigation = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_ZOOM });
    map.addControl(top_right_navigation);

    layui.use(['jquery', 'layer'], function () {
        //调用示例
        layer.photos({
            photos: '#layer-photos'
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    });
</script>