@{
    ViewBag.Title = "查看毕业照";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OrderDto dto = ViewBag.OrderInfo;
    OrderImageDto imageDto = ViewBag.ImageDto;
}
<style type="text/css">
    .info-cell .row .item .label {
        margin-right: 10px;
    }

    .info-cell .row .item {
        margin-left: 25px;
    }

        .info-cell .row .item .orderImg {
            width: 250px;
            /*border: 1px solid #808080;*/
            cursor: pointer;
            height: 168px;
        }

        .info-cell .row .item .imgDiv {
            width: 250px;
            height: 175px;
        }

    .info-cell .orderrow .label {
        width: 112px;
        height: 170px;
    }
</style>
<div class="main-wrap">
    <div class="panel layui-form">
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row">
                    <div class="item" style="margin-left:0px;">
                        <span class="label">学生姓名：</span>
                        <span class="text">@dto.StudentName</span>
                    </div>
                    <div class="item">
                        <span class="label">身份证号：</span>
                        <span class="text">@dto.IDCardNo</span>
                    </div>
                    <div class="item">
                        <span class="label">招生老师：</span>
                        <span class="text">@dto.UserName</span>
                    </div>
                    <div class="item">
                        <span class="label">批次信息：</span>
                        <span class="text">@dto.BatchName</span>
                    </div>
                    <div class="item">
                        <span class="label">学籍信息：</span>
                        <span class="text">@(dto.SchoolName + " " + dto.LevelName + " " + dto.MajorName)</span>
                    </div>
                </div>
                <div class="row orderrow">
                    <div class="item" style="margin-left: 0px;">
                        <span class="label">学信网学籍截图：</span>
                        <div class="text">
                            <div class="imgDiv">
                                <img id="image1" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.BiYeXueJiImg)?imageDto.BiYeXueJiImg:"/Content/Website/images/nopic.png")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row orderrow">
                    <div class="item" style="margin-left: 0px;">
                        <span class="label">毕业照片：</span>
                        <div class="text">
                            <div class="imgDiv">
                                <img id="image2" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.BiYePhoto)?imageDto.BiYePhoto:"/Content/Website/images/nopic.png")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var form, layer;
    layui.use(['jquery', 'form', 'layer'], function () {
        form = layui.form;
        layer = layui.layer;

        $(".orderImg").click(function () {
            window.open($(this).attr("src"));
        });
    });
</script>

