@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HomeInfoForSupplierDto

<div class="main-wrap gys-index-style">
    <div class="panel">
        <div class="panel-title">
            <span class="text-16">待办事项</span>
            <small class="gray-color">
                您有
                <span class="pro-color">@(Model != null ? Model.CountForSupplierForAll : 0) </span>件工作待处理！
            </small>
            @*<span class="panel-button">收起</span>*@
        </div>
        <div class="panel-body">
            <div class="panel-body-item">
                <div class="item-title">订单待办项</div>
                <div class="item-body">
                    <p>
                        <span style="width:100px;">农场品待退款：</span>
                        <a href="@Url.Action("Index","Specialty",new { Area="Order" })" class="pro-color">@(Model != null ? Model.CountForSupplierForSpecialtyOrderForRefund : 0)</a>
                    </p>
                    <p>
                        <span style="width:100px;">票务待退款：</span>
                        <a href="@Url.Action("Index","Ticket",new { Area="Order" })" class="pro-color">@(Model != null ? Model.CountForSupplierForTicketOrderForRefund : 0)</a>
                    </p>
                    <p>
                        <span style="width:100px;">餐饮待退款：</span>
                        <a href="@Url.Action("Index","Catering",new { Area="Order" })" class="pro-color">@(Model != null ? Model.CountForSupplierForCateringOrderForRefund : 0)</a>
                    </p>
                    <p>
                        <span style="width:100px;">待发货：</span>
                        <a href="@Url.Action("Index","Specialty",new { Area="Order" })" class="pro-color">@(Model != null ? Model.CountForSupplierForOrderForShip : 0)</a>
                    </p>
                    <p>
                        <span style="width:100px;">待退换货：</span>
                        <a href="@Url.Action("RefundChange","Specialty",new { Area="Order" })" class="pro-color">@(Model != null ? Model.CountForSupplierForOrderForExchange : 0)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title flex">
            <span class="text-16">运营概况</span>
            <div class="right-box">
                <div class="layui-btn-group" id="btn_div_click">
                    <button class="layui-btn layui-btn-sm layui-btn-primary">今日</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary">本周</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary">本月</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary">本年</button>
                </div>
            </div>
            <div class="right-box">
                <span class="margin-right-10">按日期查询</span>
                <input type="text" style="width:220px;" readonly="readonly" class="layui-input margin-right-10" id="date">
                <button type="button" class="layui-btn layui-btn-sm" id="searchData">查询</button>
            </div>
        </div>
        <div class="panel-body flex">
            <div class="card color-5 bg-icon2">
                <div class="head">新增订单数</div>
                <div class="big" id="countForOrderForAdd">0</div>
                <div class="footer">
                    <span>销售额：<ab id="priceForOrderForAddForSale">0.00</ab></span>
                </div>
            </div>
            <div class="card color-4 bg-icon2">
                <div class="head">退款订单数</div>
                <div class="big" id="countForOrderForCancel">0</div>
                <div class="footer">
                    <span>退款额：<ab id="priceForOrderForCancel">0.00</ab></span>
                </div>
            </div>
            <div class="card color-2 bg-icon2">
                <div class="head">新上架商品数</div>
                <div class="big" id="countForProductForAdd">0</div>
                <div class="footer">
                    <span>已上架商品总数：<ab id="countForProductAll">0</ab></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/website/js/jquery.cookie.js"></script>
<script>
    var isSubmit = true;
    layui.use(['element', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var $ = layui.$;
        var laydate = layui.laydate;
        var _indexCookie = 0;

        //执行一个laydate实例
        laydate.render({
            range: true,
            elem: '#date' //指定元素
            , max: '@(DateTime.Now.ToString("yyyy-MM-dd"))'
        });

        $("#btn_div_click button").click(function () {
            _indexCookie = $(this).index();
            $.cookie('indexCookie', _indexCookie);
            getInfoByCookie(_indexCookie);
        })

        $("#searchData").click(function () {
            if ($.trim($("#date").val()).length > 0) {
                $.cookie('indexCookie', 4);
                $.cookie('dateCookie', $.trim($("#date").val()));
                getInfoByCookie(4);
            } else {
                layer.msg("请选择时间段");
            }
        })

        _indexCookie = $.cookie('indexCookie');
        if (_indexCookie == undefined || _indexCookie == null) {
            _indexCookie = 0;
        }
        getInfoByCookie(_indexCookie);

        function getInfoByCookie(_index) {
            $("#btn_div_click button").addClass("layui-btn-primary");
            if (_index != 4) {
                $("#btn_div_click button:eq(" + _index + ")").removeClass("layui-btn-primary");
            }
            if (_index == 0) {
                getdataInfo('@(DateTime.Now.ToString("yyyy-MM-dd"))', '@(DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"))');
            } else if (_index == 1) {
                getdataInfo('@(Ext.GetWeekFirstDayMon(DateTime.Now).ToString("yyyy-MM-dd"))', '@(Ext.GetWeekLastDaySun(DateTime.Now).ToString("yyyy-MM-dd"))');
            } else if (_index == 2) {
                getdataInfo('@(DateTime.Now.ToString("yyyy-MM-01"))', '@(DateTime.Now.AddMonths(1).ToString("yyyy-MM-01"))');
            } else if (_index == 3) {
                getdataInfo('@(DateTime.Now.ToString("yyyy-01-01"))', '@(DateTime.Now.AddYears(1).ToString("yyyy-01-01"))');
            } else if (_index == 4) {
                $("#date").val($.cookie('dateCookie'))
                getdataInfo();
            }
        }

        function getdataInfo(s, e) {
            var _startTime = "";
            var _endTime = "";
            if (arguments.length == 0) {
                var dateStr = $("#date").val();
                _startTime = dateStr.split(" - ")[0];
                _endTime = dateStr.split(" - ")[1];
            } else {
                _startTime = s;
                _endTime = e;
            }
            if (isSubmit) {
                isSubmit = false;
                $.post("@(Url.Action("GetDataInfo", "Home"))", { startTime: _startTime, endTime: _endTime }, function (data) {
                    isSubmit = true;
                    $("#countForOrderForAdd").html(data.CountForOrderForAdd);
                    $("#priceForOrderForAddForSale").html(parseFloat(data.PriceForOrderForAddForSale).toFixed(2));
                    $("#countForOrderForCancel").html(data.CountForOrderForCancel);
                    $("#priceForOrderForCancel").html(parseFloat(data.PriceForOrderForCancel).toFixed(2));
                    $("#countForProductForAdd").html(data.CountForProductForAdd);
                    $("#countForProductAll").html(data.CountForProductAll);
                });
            }
        }
    });
</script>