@model FoodEditDto
@{
    ViewBag.Title = Model.FoodId.IsEmpty() ? "添加菜名" : "编辑菜名";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-body">
            <div class="layui-form">
                <input type="hidden" name="FoodId" value="@Model.FoodId" />
                <div class="layui-form-item input-inline-400 required">
                    <label class="layui-form-label">菜名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="FoodName" required lay-verify="required" autocomplete="off" class="layui-input" value="@Model.FoodName">
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Price" required lay-verify="required|money" autocomplete="off" class="layui-input" value="@(Model.Price==0?"":Model.Price.ToString("0.##"))">
                    </div>
                    <div class="layui-input-inline" style="padding:10px 0;">
                        <label>元</label>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea name="Description" placeholder="请输入内容" class="layui-textarea" style="width:600px;">@Model.Description</textarea>
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-primary" id="upload">上传图片</button>
                        <span>（图片格式为jpg/png/bmp，最大为2M，至少上传一张，最多10张。）</span>
                        <div class="upload-img-box">
                            @if (Model.FoodImgList != null && Model.FoodImgList.Any())
                            {
                                foreach (var item in Model.FoodImgList)
                                {
                                    <div class="img-item">
                                        <div class="cover @(item.Iscover?"show":"")">
                                            <span onclick="setPic(this)">@(item.Iscover ? "主图" : "设为主图")</span>
                                            <span class="layui-icon" onclick="deletePic(this)">ဇ</span>
                                        </div>
                                        <img src="@item.FilePath" alt="" />
                                    </div>
                                }
                            }
                        </div>
                        <div style="display:none">
                            <textarea id="imgload" name="imgload"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" lay-filter="save" lay-submit="">确定</a>
                        <a href="@Url.Action("Index", "Food")" class="layui-btn layui-btn-primary">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Html.RenderTextAreaEditorScripts()
    <script>
        var isSubmit = true;
        var editor;
        $("#imgload").createEditor({ width: "100%", height: 50, imageUploadLimit: 10 }, function (e) {
            editor = e;
        });

        $("#upload").click(function () {
            var img_len = $(".upload-img-box .img-item").length;
            if (img_len >= 10) {
                layer.msg("最多上传10张图片");
                return false;
            }
            editor.loadPlugin('multiimage', function () {
                editor.plugin.multiImageDialog({
                    showRemote: false,
                    clickFn: function (urlList) {
                        if (urlList.length > 10 - img_len) {
                            layer.msg("最多上传10张图片");
                            return false;
                        } else {
                            $.each(urlList, function (i, data) {
                                LoadImgBox(data.url);
                            });
                            editor.hideDialog();
                        }
                    }
                });
            });
        });
        //加载图片
        function LoadImgBox(url) {
            var html = "<div class=\"img-item\">" +
                "<div class=\"cover\">" +
                "<span onclick=\"setPic(this)\">设为主图</span>" +
                "<span class=\"layui-icon\" onclick=\"deletePic(this)\">ဇ</span>" +
                "</div>" +
                "<img src=\"" + url + "\" alt=\"\">" +
                "</div>";
            $(".upload-img-box").append(html);
        }
        //移除图片
        function deletePic(_this) {
            $(_this).parents("div[class='img-item']").remove();
        }
        //设为主图
        function setPic(_this) {
            var isZhutu = $.trim($(_this).text()) == "设为主图";
            $(".upload-img-box .img-item").each(function () {
                $(this).find("div").removeClass("show");
                $(this).find("span:eq(0)").text("设为主图");
            });
            if (isZhutu) {
                $(_this).text("主图");
                $(_this).parent().addClass("show");
            } else {
                $(_this).text("设为主图");
                $(_this).parent().removeClass("show");
            }
        }

        layui.use(['jquery', 'form'], function () {
            var $ = layui.$;
            var form = layui.form;
            //自定义验证规则
            form.verify({
                money: [
                    /^(([1-9]\d*(\.\d?[1-9])?)|(0\.\d?[1-9]))$/
                    , '格式不正确'
                ] 
            });
            form.on('submit(save)', function (data) {
                var img_value = GetImgArr();
                if (img_value.length == 0) {
                    layer.msg("请上传一张图片");
                    return false;
                }
                if (!hasMainPic) {
                    layer.msg("请设置一张主图");
                    return false;
                }
                data.field.FoodImgList = img_value;
                if (isSubmit) {
                    isSubmit = false;
                    $.ajax({
                        url: "@Url.Action("SaveFoodSetting", "Food")",
                        type: "post",
                        data: data.field,
                        dataType: "json",
                        success: function (res) {
                            if (res.IsSuccess) {
                                layer.msg("保存成功", {
                                    icon: 1
                                    , time: 1000
                                }, function () {
                                    location.href = "@Url.Action("Index", "Food")";
                                });
                            } else {
                                layer.msg(res.Info, {
                                    icon: 2
                                    , time: 2000
                                });
                            }
                        },
                        complete: function () {
                            isSubmit = true;
                        }
                    });
                }
            });

            //获取添加的图片
            var hasMainPic = false;
            function GetImgArr() {
                var img_value = [];
                $(".upload-img-box .img-item").each(function () {
                    var path = $(this).find("img").attr("src");
                    var iscover_temp = $.trim($(this).find("span:eq(0)").text()) != "设为主图";
                    var imgObj = { FilePath: path, Iscover: iscover_temp };
                    img_value.push(imgObj);
                    if (iscover_temp) hasMainPic = true;
                });
                return img_value;
            }
        })
    </script>
}