
@{
    ViewBag.Title = "订单详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model OrderDetailForCateringDTO

<div class="main-wrap catering-detail">
    <div class="panel">
        <div class="panel-title flex">
            <div>
                <span>
                    订单状态：
                    <span style="color:red">@EnumDescriptionHelper.GetDescription((OrderStatusForCateringEnum)Model.OrderBasic.OrderStatus)</span>
                </span>
                @{
                    int n = Model.OrderForCatering.EndExpiryDate.Subtract(DateTime.Today.Date).Days;
                    if (n >= 0)
                    {
                        <span>将于@(n.ToString())天过期</span>
                    }
                    else
                    {
                        <span>已过期</span>
                    }
                }
                
            </div>
            <div>

                @if (Model.OrderBasic.CancelForSystem == (int)CancelForSystemEnum.Supplier && Model.OrderBasic.OrderStatus == (int)OrderStatusForCateringEnum.Refunding)
                {
                    <button class="layui-btn layui-btn-warm" id="button3">处理退款</button>
                }
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">消费券号（到店凭券号或二维码均可完成消费）</div>
        <div class="panel-body flex">
            <div class="ticket-list">
                @if (Model.VerificationForCateringList != null && Model.VerificationForCateringList.Any())
                {
                    foreach (var item in Model.VerificationForCateringList)
                    {
                        <div class="ticket-item flex">
                            <div class="number">消费券号：@item.CateringToken</div>
                            <div class="status pro-color">[@(EnumDescriptionHelper.GetDescription((CateringVerificationStatusEnum)item.Status))]</div>
                        </div>
                    }
                }
            </div>
            <div class="img-box">
                <img style="width:200px;height:200px" layer-src="@Url.Action("GetRQCode", "RQCode", new { Area = "", content = Model.OrderForCatering.UnifiedCheckCode })" src="@Url.Action("GetRQCode", "RQCode", new { Area = "", content = Model.OrderForCatering.UnifiedCheckCode })" alt="@Model.OrderForCatering.UnifiedCheckCode">
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">
            订单信息
        </div>
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row row-3">
                    <div class="item">
                        <span class="label">订单号</span>
                        <span class="text">@Model.OrderBasic.OrderNo</span>
                    </div>
                    <div class="item">
                        <span class="label">下单时间</span>
                        <span class="text">@Model.OrderBasic.CreatorTime.ToDateTimeString()</span>
                    </div>
                </div>
                @{
                    var bill = Model.OrderBillList.Where(t => t.PayStatus == (int)BillPayStatusEnum.Paid && t.PayClassify == (int)TransactionClassifyEnum.Payment).FirstOrDefault();
                }
                <div class="row row-3">
                    <div class="item">
                        <span class="label">付款日期</span>
                        <span class="text">@(bill != null ? bill.LastModifyTime.ToDateTimeString() : "")</span>
                    </div>
                    <div class="item">
                        <span class="label">订单总金额</span>
                        <span class="text pro-color">￥@(Model.OrderBasic.ActualAmount.ToDouble())</span>
                    </div>
                </div>
                <div class="row row-3">
                    @{

                        if (bill != null)
                        {
                            <div class="item">
                                <span class="label">付款方式</span>
                                <span class="text">@EnumDescriptionHelper.GetDescription((OrderPayStatusEnum)bill.PayStatus)</span>
                            </div>
                            <div class="item">
                                <span class="label">交易流水号</span>
                                <span class="text">@bill.TranscationNo</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title"></div>
        <div class="panel-body">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>项目</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>总价</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>@Model.OrderForCatering.ProductName</p>
                            <img src="@Model.ProductPhoto" alt="">
                        </td>
                        <td>￥@Model.OrderForCatering.Price.ToString("#0.00")</td>
                        <td>@Model.OrderForCatering.Quantity.ToString()</td>
                        <td class="pro-color">￥@Model.OrderForCatering.SubTotalPrice.ToString("#0.00")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @if (Model.OrderProcessList != null && Model.OrderProcessList.Any())
    {
        var orderRefund = Model.OrderProcessList.Where(t => t.ProcessClassify == 2).OrderByDescending(t => t.CreatorTime).ToList();
        if (orderRefund != null && orderRefund.Any())
        {
            <div class="panel">
                <div class="panel-title">
                    退款信息
                </div>
                <div class="panel-body">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">退款申请</h3>
                                @foreach (var item in orderRefund)
                                {
                                    <p>
                                        @if (!(!string.IsNullOrWhiteSpace(item.Remark) && item.Remark.Contains("不同意")))
                                        {
                                            <br>@Html.Raw("退款金额：" + item.Amount.ToDouble())
                                        }

                                        <br>操作类型：@item.ProcessName
                                        @if (!(!string.IsNullOrWhiteSpace(item.Remark) && item.Remark.Contains("不同意")))
                                        {
                                            <br>@Html.Raw("退款方式：原路返回")
                                        }

                                        <br>操作时间：@item.CreatorTime.ToDateTimeString()
                                        @if (!(!string.IsNullOrWhiteSpace(item.ProcessName) && item.ProcessName.Contains("申请")))
                                        {
                                            <br>@Html.Raw("处理结果：" + @item.Remark)
                                        }
                                    </p>
                                }
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        }
    }

    <div class="panel">
        <div class="panel-title">
            操作日志
        </div>
        <div class="panel-body">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col>
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th>操作类型</th>
                        <th>操作内容</th>
                        <th>操作人</th>
                        <th>操作时间</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderProcessList != null && Model.OrderProcessList.Any())
                    {
                        foreach (var item in Model.OrderProcessList)
                        {
                            <tr>
                                <td>@item.ProcessName</td>
                                <td>@item.Remark</td>
                                <td>@item.CreatorAccount</td>
                                <td>@item.CreatorTime.ToDateTimeString()</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="audit-btn-modal" style="display:none">
    <div class="layui-form big-label">
        <div class="layui-form-item">
            <label class="layui-form-label">订单金额</label>
            <div class="layui-form-mid" id="div_ActualAmount">@(Model.OrderBasic.ActualAmount.ToDouble())</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">处理结果</label>
            <div class="layui-input-inline">
                <input type="radio" name="modal_IsAgree" value="true" title="同意" lay-filter="modal_IsAgree" checked>
                <input type="radio" name="modal_IsAgree" value="false" title="拒绝" lay-filter="modal_IsAgree">
            </div>
        </div>
        <div class="layui-form-item" id="div_RefundAmount">
            <label class="layui-form-label">实际退款金额</label>
            <div class="layui-input-inline flex">
                <span class="pro-color">￥</span>
                <input type="text" name="price" id="modal_RefundAmount" value="@(Model.OrderBasic.ActualAmount.ToDouble())" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-inline">
                <textarea name="desc" placeholder="请输入内容" id="modal3_Remark" class="layui-textarea" style="width:300px;"></textarea>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        layui.use(['layer', "form"], function () {
        var layer = layui.layer;
        var form = layui.form;
        layer.photos({
            photos: '#layer-photos-demo'
            , anim: 5
            , name: ''
            , area: ['260px', '260px'],
        });
        $("#button3").click(function () {
            layer.open({
                type: 1,
                title: '退款处理',
                btn: ['确定', '取消'],
                //skin: 'layui-layer-rim', //加上边框
                area: ['500px'], //宽高
                content: $('#audit-btn-modal'),
                yes: function () {
                    return ScenicHandleRefund()
                },
                btn2: function () {

                }
            });
        });
        form.on('radio(modal_IsAgree)', function (data) {
            if (data.value == "false") {
                $("#modal_RefundAmount").val('');
                $("#div_RefundAmount").css("display", "none");
            }
            else {
                $("#div_RefundAmount").css("display", "block");

            }
        });
    });

    var _IsSubmit = false;
    //处理退款
    function ScenicHandleRefund() {
        var bool = false;
        var orderId = '@Model.OrderBasic.Id.ToString()';
        var isAgree = $("input[name='modal_IsAgree']:checked").val();
        var refundAmount = $("#modal_RefundAmount").val();
        var remark = $("#modal_Remark").val();
        var regex = /^\d{1,16}(\.\d{1,2})?$/;
        if (isAgree=="true") {
            if (refundAmount == '') {
                layer.msg('请输入退款金额', {
                    icon: 2
                    , time: 2000
                });
                return false;
            }
            if (!regex.test(refundAmount)) {
                layer.msg('金额格式不正确', {
                    icon: 2
                    , time: 2000
                });
                return false;
            }
        }
        else {
            refundAmount = 0;
        }
        if (!_IsSubmit)
        {
            $.ajax({
                    url: "@Url.Action("ScenicHandleRefund", "Catering")",
                    type: "post",
                    data: { OrderId: orderId, IsAgree: isAgree, RefundAmount: refundAmount , Remark: remark},
                    beforeSend: function () {
                        _IsSubmit = true;
                    },
                    success: function (res) {
                        bool = res.IsSuccess;
                        if (res.IsSuccess) {
                            layer.msg("操作成功", {
                                icon: 1
                                , time: 2000
                            }, function () {
                                layer.closeAll();
                                location.reload();

                            })
                        }
                        else {
                            layer.msg(res.Info, {
                                icon: 2
                                , time: 2000
                            });
                        }
                        _IsSubmit = false;
                    }
            });
            return bool;
        }
    }
</script>