
@{
    ViewBag.Title = "农产产品参数";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<style type="text/css">
    .layui-form-select dl { max-height:130px !important; }
</style>
<div class="main-wrap">
    <div class="panel">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title" id="cateClassify_ul">
                <li class="layui-this">农产品分类</li>
                <li>农产品名称</li>
                <li>单位设置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="panel-body">
                        <button class="layui-btn layui-btn-warm layui-btn-sm" id="table1-add">添加</button> 
                        <table id="table1" lay-filter="table1"></table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="panel-body">
                        <button class="layui-btn layui-btn-warm layui-btn-sm" id="table2-add">添加</button> 
                        <table id="table2" lay-filter="table2"></table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="panel-body">
                        <button class="layui-btn layui-btn-warm layui-btn-sm" id="table3-add">添加</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" id="table3-del3">删除</button>
                        <table id="table3" lay-filter="table3"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--弹出框模板 添加农产品名称-->
<div id="table2-modal" style="display:none">
    <div class="layui-form margin-top-20">
        <div class="layui-form-item big-label">
            <label class="layui-form-label">所属农产品分类</label>
            <div class="layui-input-inline">
                <select lay-verify="required" id="cateAll">  
                </select>
            </div>
        </div>
        <div class="layui-form-item big-label">
            <label class="layui-form-label">农产品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="price" required autocomplete="off" id="specialty_name" class="layui-input">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="tableTool1">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit1">编辑</a>
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="del1">删除</a>
</script>
<script type="text/html" id="tableTool2">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit2">编辑</a>
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="del2">删除</a>
</script>
<script type="text/html" id="tableTool3">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit3">编辑</a>
</script>
<script>
    var isSubmit = true;
    var searchCateUrl = "@Url.Action("GetProductCategoriesForAdmin", "ParamForSpecialty",new { area = "Setting" })";
    var addCateUrl = "@Url.Action("AddProductCategories", "ParamForSpecialty",new { area = "Setting" })";
    var editCateUrl = "@Url.Action("ModifyProductCategories", "ParamForSpecialty",new { area = "Setting" })";
    var delCateUrl = "@Url.Action("DelProductCategories", "ParamForSpecialty",new { area = "Setting" })";
    var searchNameUrl = "@Url.Action("GetSpecialtyNameForAdmin", "ParamForSpecialty",new { area = "Setting" })";
    var addNameUrl = "@Url.Action("AddSpecialtyName", "ParamForSpecialty",new { area = "Setting" })";
    var editNameUrl = "@Url.Action("ModifySpecialtyName", "ParamForSpecialty",new { area = "Setting" })";
    var delNameUrl = "@Url.Action("DelSpecialtyName", "ParamForSpecialty",new { area = "Setting" })"; 
    var searchUnitUrl = "@Url.Action("GetProductUnit", "ParamForSpecialty",new { area = "Setting" })";
    var addUnitUrl = "@Url.Action("AddProductUnit", "ParamForSpecialty",new { area = "Setting" })";
    var editUnitUrl = "@Url.Action("ModifyProductUnit", "ParamForSpecialty",new { area = "Setting" })";
    var delUnitUrl = "@Url.Action("DelProductUnit", "ParamForSpecialty",new { area = "Setting" })";
    var getAllCateUrl = "@Url.Action("GetProductCategoriesForAll", "ParamForSpecialty",new { area = "Setting" })";

    layui.use(['jquery', 'table', 'layer', 'form'], function () {
        var table_cate = layui.table;
        var table_name = layui.table;
        var table_unit = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.$;

        /****************分类开始****************/
        //实例表格
        var table_cateParam = {
            elem: '#table1'
            , skin: 'line'
            , limit: 20
            , url: searchCateUrl//数据
            , page: true //开启分页
            , cols: [[ //表头
                { field: 'Name', title: '农产品分类' }
                , { title: '操作', toolbar: '#tableTool1', width: 150 }
            ]]
        };

        $('#table1-add').click(function () {
            layer.prompt({ title: '添加农产品分类' }, function (value, index, elem) {
                if (value.length > 0) {
                    var key = value;
                    if (isSubmit) {
                        isSubmit = false;
                        $.ajax({
                            url: addCateUrl,
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { Key: key },
                            success: function (result) {
                                isSubmit = true;
                                if (result.IsSuccess) {
                                    table_cate.reload('table1');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                isSubmit = true;
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        });
                    }
                }
                layer.close(index);
            });
        })

        table_cate.on('tool(table1)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent == 'edit1') {
                layer.prompt({ title: '修改农产品分类', value: data.Name }, function (value, index, elem) {
                    if (value.length > 0) {
                        var key = value;
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: editCateUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { Key: key, Id: data.Id },
                                success: function (result) {
                                    isSubmit = true;
                                    if (result.IsSuccess) {
                                        table_cate.reload('table1');
                                    }
                                    else {
                                        layer.msg(result.Info);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                    }
                    layer.close(index);
                });
            }

            if (layEvent == 'del1') {
                layer.confirm('您确定要删除分类吗？', function (index) { 
                    if (isSubmit) {
                        isSubmit = false;
                        $.ajax({
                            url: delCateUrl,
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { Id: data.Id },
                            success: function (result) {
                                isSubmit = true;
                                if (result.IsSuccess) {
                                    table_cate.reload('table1');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                isSubmit = true;
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        });
                    }
                    layer.close(index);
                });
            }
        })

        /****************分类结束****************/


        /****************名称开始****************/
        //实例表格
        var table_nameParam = {
            elem: '#table2'
            , skin: 'line'
            , limit: 20
            , url: searchNameUrl//数据
            , page: true //开启分页
            , cols: [[ //表头 
                { field: 'Name', title: '农产品名称' }
                , { field: 'CateName', title: '农产品分类' }
                , { title: '操作', toolbar: '#tableTool2', width: 150 }
            ]]
        };
        
        $('#table2-add').click(function () {
            $("#specialty_name").val("");
            getAllCate();
            layer.open({
                type: 1,
                title: '添加农产品名称',
                btn: ['确定', '取消'],
                area: ['400px', '300px'], //宽高
                content: $('#table2-modal'),
                yes: function () {
                    var specialty_name = $.trim($("#specialty_name").val());
                    if (specialty_name.length > 0) {
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: addNameUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { Key: specialty_name, KeyId: $("#cateAll").val() },
                                success: function (result) {
                                    isSubmit = true;
                                    if (result.IsSuccess) {
                                        layer.closeAll();
                                        table_name.reload('table2');
                                    }
                                    else {
                                        layer.msg(result.Info);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                    } else {
                        layer.msg("请输入农产品名称！");
                    }
                },
                btn2: function () {

                }
            });
        })

        table_name.on('tool(table2)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent == 'edit2') {
                $("#cateAll option[value='" + data.CateId + "']").attr("selected", "selected");
                form.render('select');

                $("#specialty_name").val(data.Name);
                layer.open({
                    type: 1,
                    title: '修改农产品名称',
                    btn: ['确定', '取消'],
                    area: ['400px', '300px'], //宽高
                    content: $('#table2-modal'),
                    yes: function () {
                        var specialty_name = $.trim($("#specialty_name").val());
                        if (specialty_name.length > 0) {
                            if (isSubmit) {
                                isSubmit = false;
                                $.ajax({
                                    url: editNameUrl,
                                    type: 'Post',
                                    async: false,
                                    dataType: 'json',
                                    data: { Key: specialty_name, KeyId: $("#cateAll").val(), Id: data.Id },
                                    success: function (result) {
                                        isSubmit = true;
                                        if (result.IsSuccess) {
                                            layer.closeAll();
                                            table_name.reload('table2');
                                        }
                                        else {
                                            layer.msg(result.Info);
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        isSubmit = true;
                                        layer.msg("系统出现异常，请联系管理员！");
                                    }
                                });
                            }
                        } else {
                            layer.msg("请输入农产品名称！");
                        }
                    },
                    btn2: function () {
                    }
                });
            }

            if (layEvent == 'del2') {
                layer.confirm('您确定要删除该农产品名称吗？', function (index) {
                    if (isSubmit) {
                        isSubmit = false;
                        $.ajax({
                            url: delNameUrl,
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { Id: data.Id },
                            success: function (result) {
                                isSubmit = true;
                                if (result.IsSuccess) {
                                    table_name.reload('table2');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                isSubmit = true;
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        });
                    }
                    layer.close(index);
                });
            }
        })

        function getAllCate() {
            $.post(getAllCateUrl, {}, function (data) {
                var htmlCate = "";
                if (data != null && data.length > 0) { 
                    for (var i = 0; i < data.length; i++) {
                        htmlCate += "<option value=\"" + data[i].Id + "\">" + data[i].Name+"</option>";
                    }
                }
                $("#cateAll").html(htmlCate);
                form.render('select');
            })
        }
        /****************名称结束****************/


        /****************单位开始****************/
        //实例表格
        var table_unitParam = {
            elem: '#table3'
            , skin: 'line'
            , limit: 20
            , url: searchUnitUrl//数据
            , page: true //开启分页
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'UnitName', title: '单位名称' }
                , { title: '操作', toolbar: '#tableTool3', width: 150 }
            ]]
        };        

        $('#table3-add').click(function () {
            layer.prompt({ title: '添加单位名称' }, function (value, index, elem) {
                if (value.length > 0) {
                    var key = value;
                    if (isSubmit) {
                        isSubmit = false;
                        $.ajax({
                            url: addUnitUrl,
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { Key: key },
                            success: function (result) {
                                isSubmit = true;
                                if (result.IsSuccess) {
                                    table_unit.reload('table3');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                isSubmit = true;
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        });
                    }
                }
                layer.close(index);
            });
        })

        $('#table3-del3').click(function () {
            var checkStatus = table_unit.checkStatus('table3')
                    , data = checkStatus.data;
                if (data.length == 0) return false;
            layer.confirm('您确定要删除选中的单位名称吗？', function (index) {
                var ids = [];
                for (var i = 0; i < data.length; i++) {
                    ids.push(data[i].Id);
                } 
                if (isSubmit) {
                    isSubmit = false;
                    $.ajax({
                        url: delUnitUrl,
                        type: 'Post',
                        async: false,
                        dataType: 'json',
                        data: { ids: ids },
                        success: function (result) {
                            isSubmit = true;
                            if (result.IsSuccess) {
                                table_unit.reload('table3');
                            }
                            else {
                                layer.msg(result.Info);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.msg("系统出现异常，请联系管理员！");
                        }
                    });
                } 
                layer.close(index);
            });
        })

        table_unit.on('tool(table3)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent == 'edit3') {
                layer.prompt({ title: '修改单位名称', value: data.UnitName }, function (value, index, elem) {
                    if (value.length > 0) {
                        var key = value;
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: editUnitUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { Key: key, Id: data.Id },
                                success: function (result) {
                                    isSubmit = true;
                                    if (result.IsSuccess) {
                                        table_unit.reload('table3');
                                    }
                                    else {
                                        layer.msg(result.Info);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                    }
                    layer.close(index);
                });
            }
        })

        /****************单位结束****************/

        table_cate.render(table_cateParam);
        $("#cateClassify_ul li").click(function () {
            var ul_Index = $(this).index();
            if (ul_Index == 0) {
                table_cate.render(table_cateParam);
            } else if (ul_Index == 1) {
                table_name.render(table_nameParam);
            } else if (ul_Index == 2) {
                table_unit.render(table_unitParam);
            }

        })
    })

</script> 