@{
    Layout = null;

    var TypeForTicket = ViewBag.TypeForTicket as List<KeyValuePair<int, string>>;
    var ProductStatus = ViewBag.ProductStatus as List<KeyValuePair<int, string>>;
    var ProductCate = ViewBag.ProductCate as List<ProductCategoriesDto>;
    var TikcetParamTheme = ViewBag.TikcetParamTheme as List<ProductCategoriesDto>;
    //var RefundRule = ViewBag.RefundRule as List<KeyValuePair<int, string>>;
    var RefundPrice = ViewBag.RefundPrice as List<KeyValuePair<int, string>>;
}
@model OptionParamForTicketForDataForBasicDto
<style type="text/css">
    .layui-form-label > em { color: #f00; font-style: normal; padding: 0 5px; }
</style>
<div class="layui-form-item">
    <input type="hidden" id="ScenicSpotIdStr" value="@(Model != null ? Model.ScenicSpotIdStr : "")" />
    <input type="hidden" id="ScenicSpotNameStr" value="@(Model != null ? Model.ScenicSpotNameStr : "")" />
    <input type="hidden" id="AmusementProjectIdStr" value="@(Model != null ? Model.AmusementProjectIdStr : "")" />
    <input type="hidden" id="AmusementProjectNameStr" value="@(Model != null ? Model.AmusementProjectNameStr : "")" />
    <label class="layui-form-label"><em>*</em>类别</label>
    <div class="layui-input-block">
        @if (TypeForTicket != null && TypeForTicket.Any())
        {
            foreach (var item in TypeForTicket)
            {
                if (item.Key.Equals(Model != null ? (Model.TicketClassify.Equals(0) ? (int)TypeForTicketEnum.Single : Model.TicketClassify) : (int)TypeForTicketEnum.Single))
                {
                    <input type="radio" checked="checked" name="typeForTicket" value="@(item.Key)" title="@(item.Value)">
                }
                else
                {
                    <input type="radio" name="typeForTicket" value="@(item.Key)" title="@(item.Value)">
                }
            }
        }
    </div>
</div>
@*<div class="layui-form-item">
        <label class="layui-form-label">上架状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="上架">
            <input type="radio" name="status" value="1" title="下架" checked>
        </div>
    </div>*@
<div class="layui-form-item input-inline-400">
    <label class="layui-form-label"><em>*</em>产品名称</label>
    <div class="layui-input-inline">
        <input type="text" id="ProductName" value="@(Model != null ? Model.ProductName : "")" placeholder="产品名称" required lay-verify="required" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label"><em>*</em>主题</label>
    <div class="layui-input-inline">
        <select id="ThemeId" lay-verify="required">
            @if (TikcetParamTheme != null && TikcetParamTheme.Any())
            {
                foreach (var item in TikcetParamTheme)
                {
                    if (item.Id.Equals(Model != null ? Model.ThemeId : Guid.Empty))
                    {
                        <option selected="selected" value="@(item.Id)">@(item.Name)</option>
                    }
                    else
                    {
                        <option value="@(item.Id)">@(item.Name)</option>
                    }
                }
            }
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label"><em>*</em>票种</label>
    <div class="layui-input-inline">
        <select id="ProductCategoriesId" lay-verify="required">
            @if (ProductCate != null && ProductCate.Any())
            {
                foreach (var item in ProductCate)
                {
                    if (item.Id.Equals(Model != null ? Model.ProductCategoriesId : Guid.Empty))
                    {
                        <option selected="selected" value="@(item.Id)">@(item.Name)</option>
                    }
                    else
                    {
                        <option value="@(item.Id)">@(item.Name) </option>
                    }
                }
            }
        </select>
    </div>
</div>
@if (Model != null && Model.SupplierType.Equals((int)SupplierTypeEnum.Self))
{
    <div class="layui-form-item">
        <label class="layui-form-label">包含景点</label>
        <div class="layui-input-block" id="scenicSpot">
            @if (Model.ScenicSpotForKeyValueDto != null && Model.ScenicSpotForKeyValueDto.Any())
            {
                foreach (var item in Model.ScenicSpotForKeyValueDto)
                {
                    <div class="layui-btn-group" temp_i="@(item.Id)" temp_v="@(item.Value)">
                        <button class="layui-btn layui-btn-primary layui-btn-sm">@(item.Value)</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteSpot(this)"><i class="layui-icon"></i></button>
                    </div>
                }
            }
            <button type="button" class="layui-btn layui-btn-sm" id="btn1">
                <i class="layui-icon"></i> 添加
            </button>
        </div>
        <div class="layui-form-mid layui-word-aux">所属景点与所属游乐项目至少需要一项</div>
    </div>
}
<div class="layui-form-item">
    <label class="layui-form-label">包含游乐项目</label>
    <div class="layui-input-block" id="playProject">
        @if (Model.AmusementProjectForKeyValueDto != null && Model.AmusementProjectForKeyValueDto.Any())
        {
            foreach (var item in Model.AmusementProjectForKeyValueDto)
            {
                <div class="layui-btn-group" temp_i="@(item.Id)" temp_v="@(item.Value)">
                    <button class="layui-btn layui-btn-primary layui-btn-sm">@(item.Value)</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteSpot(this)"><i class="layui-icon"></i></button>
                </div>
            }
        }
        <button type="button" class="layui-btn layui-btn-sm" id="btn2">
            <i class="layui-icon"></i> 添加
        </button>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label"><em>*</em>产品包含人数</label>
        <div class="layui-form-mid">成人</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="AdultNumber" value="@(Model != null ? Model.AdultNumber : 0)" class="layui-input ckshuzi">
        </div>
        <div class="layui-form-mid">人，儿童</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="ChildNumber" value="@(Model != null ? Model.ChildNumber : 0)" class="layui-input ckshuzi">
        </div>
        <div class="layui-form-mid">人</div>
        <div class="layui-form-mid layui-word-aux">1件产品对应的人数，例如情侣套餐预订1件对应的是2人。</div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label"><em>*</em>购买年龄限制</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="BuyMinAge" value="@(Model != null ? Model.BuyMinAge : 0)" class="layui-input ckshuzi">
        </div>
        <div class="layui-form-mid">岁到</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="BuyMaxAge" value="@(Model != null ? Model.BuyMaxAge : 0)" class="layui-input ckshuzi">
        </div>
        <div class="layui-form-mid">岁</div>
        <div class="layui-form-mid layui-word-aux">“0”表示不限制(必选录入身份证才会起效)</div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">线上预订时间限制</label>
        <div class="layui-form-mid">游玩日期前</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="BookTimeLimitDay" value="@(Model != null ? Model.BookTimeLimitDay : 0)" class="layui-input ckshuzi">
        </div>
        <div class="layui-form-mid">天</div>
        <div class="layui-input-inline">
            <input type="text" readonly="readonly" id="BookTimeLimitHour" value="@(Model != null ? Model.BookTimeLimitHourStr : "00"):@(Model != null ? Model.BookTimeLimitMinuteStr : "00")" class="layui-input" placeholder="HH:mm:ss">
        </div>
        <div class="layui-form-mid">前预订</div>
        <div class="layui-form-mid layui-word-aux">填“0”表示当天游玩可当天买票，无需提前预订</div>
    </div>
</div>
@if (RefundPrice != null && RefundPrice.Any())
{
    foreach (var item in RefundPrice)
    {
        <div class="layui-form-item">
            @if (item.Key == (int)RefundPriceEnum.No)
            {
                <label class="layui-form-label"><em>*</em>退款规则</label>
            }
            else
            {
                <label class="layui-form-label"></label>
            }
            <div class="layui-input-block">
                @if (item.Key.Equals(Model != null ? (Model.RefundRule.Equals(0) ? (int)RefundPriceEnum.No : Model.RefundRule) : (int)RefundPriceEnum.No))
                {
                    <input type="radio" checked="checked" name="RefundRule" value="@(item.Key)" title="@(item.Value)">
                }
                else
                {
                    <input type="radio" name="RefundRule" value="@(item.Key)" title="@(item.Value)">
                }
                @if (item.Key == (int)RefundPriceEnum.Before)
                {
                    <div class="layui-input-inline" style="float:none; width:100px;">
                        <input type="text" id="RefundDay1" value="@((Model != null&&Model.RefundRule == (int)RefundPriceEnum.Before) ? Model.RefundDay : 0)" class="layui-input ckshuzi" placeholder="0">
                    </div>
                    <div class="layui-input-inline" style="float:none;">天，可申请退款</div>
                }
                else if (item.Key == (int)RefundPriceEnum.After)
                {
                    <div class="layui-input-inline" style="float:none; width:100px;">
                        <input type="text" id="RefundDay2" value="@((Model != null&&Model.RefundRule == (int)RefundPriceEnum.After) ? Model.RefundDay : 0)" class="layui-input ckshuzi" placeholder="0">
                    </div>
                    <div class="layui-input-inline" style="float:none;width:300px;">天内，可申请退款（含游玩日期前也可退）</div>
                }
            </div>
        </div>
        if (item.Key == (int)RefundPriceEnum.After)
        {
            <div class="layui-form-item"><label class="layui-form-label"></label><div class="layui-input-block layui-word-aux">退款时间需在订单自动完成时间范围（即游玩日期X天内）</div></div>
        }
    }
}

<!-- 弹出框 -->
<div id="add-spec-modal1" style="display:none">
    <div class="layui-form  margin-top-30">
        <div class="layui-form-item">
            <label class="layui-form-label">景点名称</label>
            <div class="layui-input-inline">
                <input type="text" id="add-spec-name" required autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-warm" data-type="onsearch">查询</button>
        </div>
    </div>
    <table id="spot-table" lay-filter="spot-table"></table>
</div>

<div id="add-spec-modal2" style="display:none">
    <div class="layui-form  margin-top-30">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">游乐项目名称</label>
            <div class="layui-input-inline">
                <input type="text" id="add-play-name" required autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-warm" data-type="onsearchPro">查询</button>
        </div>
    </div>
    <table id="play-table" lay-filter="play-table"></table>
</div>

<script>

    var searchUrl = '@Url.Action("GetScenicSportForList", "PlayMng", new { area = "Product" })';
    var searchUrl1 = '@Url.Action("PlayList", "PlayMng", new { area = "Product" })';
    var ticketForBasicNext = '@Url.Action("TicketForBasicNext", "Ticket", new { area = "Product" })';
    var ticketForBasicNextUrl = '@Url.Action("OptionXiang", "Ticket", new { area = "Product" })';
    var ticketForBasicSubmitUrl = '@Url.Action("TicketForBasicSubmit", "Ticket", new { area = "Product" })';
    var supplierType = "@(Model != null ? Model.SupplierType : 0)";
    var supplierSelf = "@((int)SupplierTypeEnum.Self)";

    layui.use(['element', 'laydate', 'layer', 'table', 'jquery', 'form'], function () {
        var isSubmit = true;
        var element = layui.element;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var form  = layui.form ;
        var table1 = layui.table;
        var table2 = layui.table;
        var $ = layui.$, active = {
            onsearch: function () {
                //执行重载
                table1.reload('spot-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        ScenicSportName: $.trim($('#add-spec-name').val())
                    }
                });
            },
            onsearchPro: function () {
                //执行重载
                table2.reload('play-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        ProjectName: $.trim($('#add-play-name').val()),
                        Status: 2,
                    }
                });
            }
        };

        laydate.render({
            elem: '#BookTimeLimitHour'
            , type: 'time',
            format: 'HH:mm'
        });

        $('.panel .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#btn1').click(function () {
            layer.open({
                type: 1,
                title: '选择包含景点',
                btn: ['确定', '取消'],
                //skin: 'layui-layer-rim', //加上边框
                area: ['800px', '500px'], //宽高
                content: $('#add-spec-modal1'),
                yes: function (z_index) {
                    var checkStatus = table1.checkStatus('spot-table')
                        , data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请勾选包含的景点");
                        return false;
                    }
                    for (var i = 0; i < data.length; i++) {
                        LoadSpotBox(data[i].Id, data[i].ScenicSportName);
                    }
                    layer.close(z_index);
                }
            });

            //实例表格
            var table1Options = {
                elem: '#spot-table'
                , skin: 'line'
                , limit: 5
                , limits: [5]
                , url: searchUrl//数据
                , page: true //开启分页
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'ScenicSportName', title: '景点名称', width: 150, }
                    , { field: 'ScenicClassifyStr', title: '景点类型', width: 150, }
                    , { field: 'Address', title: '地址', width: 500 }
                ]]
            }

            table1.render(table1Options);
        })

        $('#btn2').click(function () {
            layer.open({
                type: 1,
                title: '选择包含游玩项目',
                btn: ['确定', '取消'],
                //skin: 'layui-layer-rim', //加上边框
                area: ['800px', '500px'], //宽高
                content: $('#add-spec-modal2'),
                yes: function (z_index) {
                    var checkStatus = table2.checkStatus('play-table')
                        , data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请勾选包含的游玩项目");
                        return false;
                    }
                    for (var i = 0; i < data.length; i++) {
                        LoadPlayBox(data[i].Id, data[i].ProjectName);
                    }
                    layer.close(z_index);
                }
            });

            //实例表格
            var table2Options = {
                elem: '#play-table'
                , skin: 'line'
                , limit: 5
                , limits: [5]
                , url: searchUrl1 //数据
                , page: true //开启分页
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'ProjectNumber', title: '编号', sort: true }
                    , { field: 'ProjectName', title: '游乐项目名称', sort: true }
                    , { field: 'Address', title: '地址', }
                    , { field: 'ScenicRangeStr', title: '景点范围' }
                ]],
                where: {
                    Status: 2
                }
            }

            table2.render(table2Options);
        })

        //获取添加的景点
        function GetSpotArr() {
            var idsArr = [];
            var idstr = "";
            var namestr = "";
            $("#scenicSpot>div").each(function () {
                if (idsArr.indexOf($.trim($(this).attr("temp_i"))) < 0) {
                    idstr += ($.trim($(this).attr("temp_i")) + ",");
                    namestr += ($.trim($(this).attr("temp_v")) + ",");
                    idsArr.push($.trim($(this).attr("temp_i")));
                }
            });
            $("#ScenicSpotIdStr").val(idstr);
            $("#ScenicSpotNameStr").val(namestr);
        }

        //获取添加的游乐项目
        function GetProjectArr() {
            var idsArr = [];
            var idstr = "";
            var namestr = "";
            $("#playProject>div").each(function () {
                if (idsArr.indexOf($.trim($(this).attr("temp_i"))) < 0) {
                    idstr += ($.trim($(this).attr("temp_i")) + ",");
                    namestr += ($.trim($(this).attr("temp_v")) + ",");
                    idsArr.push($.trim($(this).attr("temp_i")));
                }
            });
            $("#AmusementProjectIdStr").val(idstr);
            $("#AmusementProjectNameStr").val(namestr);
        }

        //获取时间小时
        function GetTimeForHour() {
            var times_temp = $("#BookTimeLimitHour").val();
            var temp_hour = times_temp.split(':')[0];
            return (temp_hour < 0 || temp_hour > 23) ? 0 : temp_hour;
        }

        //获取时间分钟
        function GetTimeForMin() {
            var times_temp = $("#BookTimeLimitHour").val();
            var temp_min = times_temp.split(':')[1];
            return (temp_min < 0 || temp_min > 59) ? 0 : temp_min;
        }

        function savedata(d, n) {
            GetSpotArr();
            GetProjectArr();
            //如果是自营，则判断项目和景点任选一个
            if (supplierType == supplierSelf) {
                if ($("#ScenicSpotIdStr").val().length <= 10 && $("#AmusementProjectIdStr").val().length <= 10) {
                    layer.msg("包含的景点或者游玩项目至少任选一个");
                    return false;
                }
            } else { //项目必选
                if ($("#AmusementProjectIdStr").val().length <= 10) {
                    layer.msg("请选择包含的游玩项目");
                    return false;
                }
            }
            if ((parseInt($("#AdultNumber").val()) + parseInt($("#ChildNumber").val())) < 1) {
                layer.msg("产品包含人数至少为1人");
                return false;
            }
            var optionUrl = n == 3 ? ticketForBasicSubmitUrl : ticketForBasicNext;
            var _refund = $("input[name='RefundRule']:checked").val();
            var param = {
                Id: $("#TicketId").val(),
                ProductName: $("#ProductName").val(),
                ProductCategoriesId: $("#ProductCategoriesId").val(),
                TicketClassify: $("input[name='typeForTicket']:checked").val(),
                ThemeId: $("#ThemeId").val(),
                ScenicSpotIdStr: $("#ScenicSpotIdStr").val(),
                ScenicSpotNameStr: $("#ScenicSpotNameStr").val(),
                AmusementProjectIdStr: $("#AmusementProjectIdStr").val(),
                AmusementProjectNameStr: $("#AmusementProjectNameStr").val(),
                AdultNumber: $("#AdultNumber").val(),
                ChildNumber: $("#ChildNumber").val(),
                BuyMaxAge: $("#BuyMaxAge").val(),
                BuyMinAge: $("#BuyMinAge").val(),
                BookTimeLimitDay: $("#BookTimeLimitDay").val(),
                BookTimeLimitHour: GetTimeForHour(),
                BookTimeLimitMinute: GetTimeForMin(),
                RefundRule: _refund,
                RefundDay: (_refund == 1 ? "0" : _refund == 2 ? $("#RefundDay1").val() : $("#RefundDay2").val()),
                IsBefore: _refund == 2
            };
            if (isSubmit) {
                isSubmit = false;
                $.ajax({
                    url: optionUrl,
                    type: "post",
                    data: param,
                    dataType: "json",
                    success: function (res) {
                        isSubmit = true;
                        if (res.IsSuccess) {
                            $("#TicketId").val(res.Data);
                            layer.msg("保存成功", {
                                icon: 1
                                , time: 1000
                            }, function () {
                                if (n == 1) {
                                    location.href = ticketForBasicNextUrl + "?ticketId=" + res.Data;
                                }
                            });
                        } else {
                            layer.msg(res.Info, {
                                icon: 2
                                , time: 2000
                            });
                        }
                    },
                    complete: function () {
                        isSubmit = true;
                    }
                });
            }
        }

        //下一步
        form.on('submit(saveBasicNext)', function (data) {
            savedata(data, 1);
        });

        //存草稿
        form.on('submit(saveBasicInfo)', function (data) {
            savedata(data, 2);
        });

        //发布
        form.on('submit(saveBasicSubmit)', function (data) {
            savedata(data, 3);
        });
    });

    //加载景点
    function LoadSpotBox(id, val) {
        if ($("#scenicSpot>div[temp_i='" + id + "']").length <= 0) {
            var html = "<div class=\"layui-btn-group\" temp_i=\"" + id + "\" temp_v=\"" + val + "\">";
            html += "<button class=\"layui-btn layui-btn-primary layui-btn-sm\">" + val + "</button>";
            html += "<button class=\"layui-btn layui-btn-primary layui-btn-sm\" onclick=\"deleteSpot(this)\"><i class=\"layui-icon\"></i></button></div>";
            $("#btn1").before(html);
        }
    }
    //移除景点
    function deleteSpot(_this) {
        $(_this).parent().remove();
    }
    //加载游玩项目
    function LoadPlayBox(id, val) {
        if ($("#playProject>div[temp_i='" + id + "']").length <= 0) {
            var html = "<div class=\"layui-btn-group\" temp_i=\"" + id + "\" temp_v=\"" + val + "\">";
            html += "<button class=\"layui-btn layui-btn-primary layui-btn-sm\">" + val + "</button>";
            html += "<button class=\"layui-btn layui-btn-primary layui-btn-sm\" onclick=\"deleteSpot(this)\"><i class=\"layui-icon\"></i></button></div>";
            $("#btn2").before(html);
        }
    }
</script>
