@{
    Layout = null;
}
@model Guid

<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-inline">
            <input type="text" readonly="readonly" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" name="StartTime" id="StartTime" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-inline">
            <input type="text" readonly="readonly" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" name="EndTime" id="EndTime" class="layui-input">
        </div>
    </div>
    <div class="layui-from-item" style="text-align:left;margin:15px;">
        <div class="layui-input-inline">
            <input type="checkbox" name="Week" value="1" ck="1" title="星期一" lay-skin="primary" checked="checked" />
            <input type="checkbox" name="Week" value="2" ck="2" title="星期二" lay-skin="primary" checked="checked" />
            <input type="checkbox" name="Week" value="3" ck="3" title="星期三" lay-skin="primary" checked="checked" />
            <input type="checkbox" name="Week" value="4" ck="4" title="星期四" lay-skin="primary" checked="checked" />
            <input type="checkbox" name="Week" value="5" ck="5" title="星期五" lay-skin="primary" checked="checked" />
            <input type="checkbox" name="Week" value="6" ck="6" title="星期六" lay-skin="primary" checked="checked" />
            <input type="checkbox" name="Week" value="0" ck="0" title="星期日" lay-skin="primary" checked="checked" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">每日可售</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="Count" id="Count" value="0" class="layui-input ckshuzi">
        </div>
        <div class="layui-form-mid">张</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">销售价</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="Price" id="Price" value="0" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="text-align:center;">
        <button class="layui-btn" lay-submit="" lay-filter="saveInventInfo">保存</button>
    </div>
</div>
<script>

    var ticketOnSale = '@Url.Action("TicketOnSale", "Ticket", new { area = "Product" })';
    var ticketOnDraft = '@Url.Action("TicketOnDraft", "Ticket", new { area = "Product" })';
    var ticketHome = '@Url.Action("Index", "Ticket", new { area = "Product" })';
    var optionInventory = '@Url.Action("OptionInventoryForTicket", "Inventory", new { area = "Product" })';
    var searchInventory = '@Url.Action("SearchScheduleForTicket", "Inventory", new { area = "Product" })';
    var ticketId = "@(Model)";

    layui.use(['form', 'laydate', 'table', 'jquery', 'laytpl'], function () {
        var isSubmit = true;

        var form = layui.form;
        var laydate = layui.laydate;
        var $ = layui.$;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var date = new Date;
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var mydate = (year.toString() + '年' + month.toString() + "月");
        $('.data-month').text(mydate);
        var $td = $('#riliDiv .tbody').find('td');
        var day = date.getDate(), days;
        var startTime_db;
        var endTime_db;

        function initCal(yy, mm, dd) {
            if (mm == 2 && yy % 4 == 0 && yy % 100 !== 0) {
                days = 28;
            } else if (mm == 1 || mm == 3 || mm == 5 || mm == 7 || mm == 8 || mm == 10 || mm == 12) {
                days = 31;
            } else if (mm == 4 || mm == 6 || mm == 9 || mm == 11) {
                days = 30;
            } else {
                days = 29;
            }
            var m = mm < 3 ? (mm == 1 ? 13 : 14) : mm;
            yy = m > 12 ? yy - 1 : yy;
            var c = Number(yy.toString().substring(0, 2)),
                y = Number(yy.toString().substring(2, 4)),
                d = 1;
            var week = y + parseInt(y / 4) + parseInt(c / 4) - 2 * c + parseInt(26 * (m + 1) / 10) + d - 1;
            week = week < 0 ? (week % 7 + 7) % 7 : week % 7;
            $td.text('').attr("date", "");
            for (var i = 0; i < days; i++) {
                var i_j = i + 1;
                $td.eq(week % 7 + i).text(i_j).attr("date", yy + "-" + (mm < 10 ? ("0" + mm) : mm) + "-" + (i_j < 10 ? ("0" + i_j) : i_j)).attr("day", i_j);
            }
            $('#riliDiv .tbody').find('tr').each(function () {
                var hasCount = 0;
                $(this).find("td").each(function () {
                    var hasHide = $(this).attr("date");
                    if (hasHide == undefined || hasHide.length <= 0) {
                        hasCount++;
                    }
                })
                if (hasCount == 7) {
                    $(this).removeClass("layui-hide").addClass("layui-hide");
                } else {
                    $(this).removeClass("layui-hide");
                }
            })
            startTime_db = yy + "-" + mm + "-01";
            endTime_db = getLastDayCurrMonth(startTime_db);
            getdateInfo(startTime_db, endTime_db)
        }

        initCal(year, month, day);

        laydate.render({
            elem: '#StartTime', showBottom: false
        });
        laydate.render({
            elem: '#EndTime', showBottom: false
        });

        $(document).on("click", ".date-icon", function () {
            if ($(this).hasClass("left")) {
                if (month == 1) {
                    month = 12;
                    year--;
                    mydate = (year.toString() + '年' + month.toString() + "月");
                    $('.data-month').text(mydate);
                } else {
                    month--;
                    mydate = (year.toString() + '年' + month.toString() + "月");
                    $('.data-month').text(mydate);
                }
            } else {
                if (month == 12) {
                    month = 1;
                    year++;
                    mydate = (year.toString() + '年' + month.toString() + "月");
                    $('.data-month').text(mydate);
                } else {
                    month++;
                    mydate = (year.toString() + '年' + month.toString() + "月");
                    $('.data-month').text(mydate);
                }
            }
            initCal(year, month, day);
        })

        $td.click(function () {
            var dataTemp = $(this).attr("data_temp");
            var dateTemp = $(this).attr("date");
            var weekTemp = $(this).index();
            if (dataTemp != undefined && dataTemp.length > 0) {
                $("#Count").val(dataTemp.split('_')[0]);
                $("#Price").val(dataTemp.split('_')[1]);
            }
            if (dateTemp != undefined && dateTemp.length > 0) {
                $("#StartTime").val(dateTemp);
                $("#EndTime").val(dateTemp);
            }
            $("input[name='Week']").removeAttr("checked");
            $("input[name='Week'][ck='" + weekTemp + "']").trigger("click");
            form.render("checkbox");
        })

        //获取选中的星期
        function GetWeeksArr() {
            var weeksArr = [];
            $("input[name='Week']:checked").each(function () {
                weeksArr.push($(this).val());
            });
            return weeksArr;
        }

        function getLastDayCurrMonth(d) {
            var temp_date = new Date(d);
            var temp_year = temp_date.getFullYear() + "";
            var temp_month = (temp_date.getMonth() + 1) + "";
            // 本月最后一天日期
            var lastDateOfCurrentMonth = new Date(temp_year, temp_month, 0);
            return temp_year + "-" + temp_month + "-" + lastDateOfCurrentMonth.getDate();
        }

        form.on('submit(saveInventInfo)', function (data) {
            var timeStart = $("#StartTime").val();
            var timeEnd = $("#EndTime").val();
            var count = $("#Count").val();
            var price = $("#Price").val();
            if (timeStart.length <= 0) {
                layer.msg("请选择开始时间");
                return false;
            } else if (timeEnd.length <= 0) {
                layer.msg("请选择结束时间");
                return false;
            } else if (!compareDate(timeStart, timeEnd)) {
                layer.msg("开始日期不能大于结束日期");
                return false;
            } else if (count <= 0) {
                layer.msg("请输入销售数量");
                return false;
            } else if (isNaN(price) || price <= 0) {
                layer.msg("请输入价格");
                return false;
            }
            var param = {
                Id: ticketId,
                StartTime: timeStart,
                EndTime: timeEnd,
                Weeks: GetWeeksArr(),
                Count: count,
                Price: price
            };
            if (isSubmit) {
                isSubmit = false;
                $.ajax({
                    url: optionInventory,
                    type: "post",
                    data: param,
                    dataType: "json",
                    success: function (res) {
                        isSubmit = true;
                        if (res.IsSuccess) {
                            getdateInfo(startTime_db, endTime_db)
                            layer.msg("保存成功", {
                                icon: 1
                                , time: 1000
                            });
                        } else {
                            layer.msg(res.Info, {
                                icon: 2
                                , time: 2000
                            });
                        }
                    },
                    complete: function () {
                        isSubmit = true;
                    }
                });
            }
        });

        //发布
        $("#onSale").click(function () {
            var ticketIds = [];
            ticketIds.push(ticketId);
            layer.confirm('您确定要发布该门票产品吗？', function (index) {
                if (isSubmit) {
                    isSubmit = false;
                    $.ajax({
                        url: ticketOnSale,
                        type: 'Post',
                        async: false,
                        dataType: 'json',
                        data: { ticketIds: ticketIds },
                        success: function (result) {
                            isSubmit = true;
                            if (result.IsSuccess) {
                                location.href = ticketHome;
                            }
                            else {
                                layer.msg(result.Info);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            isSubmit = true;
                            layer.msg("系统出现异常，请联系管理员！");
                        }
                    });
                }
                layer.close(index);
            });
        })
        //存草稿
        $("#onDraft").click(function () {
            var ticketIds = [];
            ticketIds.push(ticketId);
            if (isSubmit) {
                isSubmit = false;
                $.ajax({
                    url: ticketOnDraft,
                    type: 'Post',
                    async: false,
                    dataType: 'json',
                    data: { ticketIds: ticketIds },
                    success: function (result) {
                        isSubmit = true;
                        if (result.IsSuccess) {
                            location.href = ticketHome;
                        }
                        else {
                            layer.msg(result.Info);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        isSubmit = true;
                        layer.msg("系统出现异常，请联系管理员！");
                    }
                });
            }
        })

        function getdateInfo(startTime, endTime) {
            if (isSubmit) {
                isSubmit = false;
                $.ajax({
                    url: searchInventory,
                    type: 'Post',
                    async: false,
                    dataType: 'json',
                    data: { ProductId: ticketId, StartTime: startTime, EndTime: endTime },
                    success: function (result) {
                        isSubmit = true;
                        if (result != null && result.length >= 0) {
                            for (var j = 0; j < result.length; j++) {
                                var $td_temp = $(".tbody").find("td[date='" + result[j].PlayDay + "']");
                                $td_temp.attr("data_temp", result[j].InventCount + "_" + result[j].Price);
                                $td_temp.html($td_temp.attr("day") + "" + "<p>销售价：" + result[j].Price + "</p><p>可售：" + result[j].InventCount + "张</p>");
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        isSubmit = true;
                        layer.msg("系统出现异常，请联系管理员！");
                    }
                });
            }
        }
    })
</script>