
@{
    ViewBag.Title = "票务编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model OptionParamForTicketForDataDto


<div class="main-wrap add-price-style">
    <div class="panel">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>详细信息</li>
                <li>库存价格</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form add-style">
                        <input type="hidden" id="TicketId" value="@Model.OptionParamForTicketForDataForBasicDto.Id" />

                        @Html.Partial("~/Areas/Product/Views/Ticket/_editForBasic.cshtml", Model.OptionParamForTicketForDataForBasicDto)

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="saveBasicSubmit">发布</button>
                                <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="saveBasicInfo">存草稿</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form add-data-style">
                        @Html.Partial("~/Areas/Product/Views/Ticket/_editForXiang.cshtml", Model.OptionParamForTicketForDataForXiangDto)
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="saveXiangSubmit">发布</button>
                                <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="saveXiangInfo">存草稿</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="panel-body price-style">
                        <div class="panel-body-left">
                            <div class="date-title">
                                <i class="layui-icon left date-icon"></i>
                                <span class="data-month"></span>
                                <i class="layui-icon date-icon"></i>
                            </div>
                            <div class="date-body">
                                @Html.Partial("~/Views/Shared/_calendar.cshtml")
                            </div>
                        </div>
                        <div class="panel-body-right">
                            @(Html.Partial("~/Areas/Product/Views/Ticket/_editForDate.cshtml", Model.OptionParamForTicketForDataForBasicDto.Id))
                        </div>
                    </div>
                    <div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="onSale">发布</button>
                                <button class="layui-btn layui-btn-primary" id="onDraft">存草稿</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Html.RenderTextAreaEditorScripts()
    <script>
        var defaltGuid = "@(Guid.Empty)";
        var ticketForXiangNext = '@Url.Action("TicketForXiangNext", "Ticket", new { area = "Product" })';
        var ticketForXiangNextUrl = '@Url.Action("Ticket", "Inventory", new { area = "Product" })';
        var ticketForXiangSubmitUrl = '@Url.Action("TicketForXiangSubmit", "Ticket", new { area = "Product" })';

        var bookDescription;
        var useDescription;
        $("#BookDescription").createEditor({ width: "100%", height: 300, imageUploadLimit: 10 }, function (e) {
            bookDescription = e;
        });
        $("#UseDescription").createEditor({ width: "100%", height: 300, imageUploadLimit: 10}, function (e) {
            useDescription = e;
        });

        $("#upload").click(function () {
            var img_len = $(".upload-img-box .img-item").length;
            if (img_len >= 10) {
                layer.msg("最多上传10张图片");
            } else {
                bookDescription.loadPlugin('multiimage', function () {
                    bookDescription.plugin.multiImageDialog({
                        showRemote: false,
                        clickFn: function (urlList) {
                            if (urlList.length > 10 - img_len) {
                                layer.msg("最多上传10张图片");
                                return false;
                            } else {
                                $.each(urlList, function (i, data) {
                                    LoadImgBox(data.url);
                                });
                                bookDescription.hideDialog();
                            }
                        }
                    });
                });

                //bookDescription.loadPlugin('image', function () {
                //    bookDescription.plugin.imageDialog({
                //        showRemote: false,
                //        clickFn: function (url, title, width, height, border, align) {
                //            LoadImgBox(url);
                //            bookDescription.hideDialog();
                //        }
                //    });
                //});
            }
        });

        //加载图片
        function LoadImgBox(url) {
            var html = "<div class=\"img-item\">";
            html += "<div class=\"cover\">";
            html += "<span onclick=\"setPic(this)\">设为主图</span>";
            html += "<span class=\"layui-icon\" onclick=\"deletePic(this)\">ဇ</span>";
            html += "</div><img src=\"" + url + "\" alt=\"\">";
            html += "<input type=\"text\" value=\"\" class=\"img-name\" placeholder=\"图片名称\"></div>";
            $(".upload-img-box").append(html);
        }

        //移除图片
        function deletePic(_this) {
            $(_this).parents("div[class='img-item']").remove();
        }

        //设为主图
        function setPic(_this) {
            var isZhutu = $.trim($(_this).text()) == "设为主图";
            $(".upload-img-box .img-item").each(function () {
                $(this).find("div").removeClass("show");
                $(this).find("span:eq(0)").text("设为主图");
            });
            if (isZhutu) {
                $(_this).text("主图");
                $(_this).parent().addClass("show");
            } else {
                $(_this).text("设为主图");
                $(_this).parent().removeClass("show");
            }
        }

        layui.use(['jquery', 'element', 'layer', 'form'], function () {
            var isSubmit = true;
            var layer = layui.layer, form = layui.form, element = layui.element;
            var $ = layui.$;

            function savedata(d, n) {
                $("#BookDescription").val(bookDescription.html());
                $("#UseDescription").val(useDescription.html());
                if ($(".upload-img-box .img-item").length <= 0) {
                    layer.msg("请上传一张图片");
                    return false;
                } else if ($(".upload-img-box .img-item .show").length < 1) {
                    layer.msg("请设置一张图片为主图");
                    return false;
                } else if ($.trim($("#BookDescription").val()).length < 1) {
                    layer.msg("请填写预订说明");
                    return false;
                } else if ($.trim($("#UseDescription").val()).length < 1) {
                    layer.msg("请填写使用说明");
                    return false;
                }
                var param = {
                    Id: $("#TicketId").val(),
                    BookDescription: $("#BookDescription").val(),
                    UseDescription: $("#UseDescription").val(),
                    OptionParamForPictureDto: GetImgArr()
                };
                var optionUrl = n == 3 ? ticketForXiangSubmitUrl : ticketForXiangNext;
                if (isSubmit) {
                    isSubmit = false;
                    $.ajax({
                        url: optionUrl,
                        type: "post",
                        data: param,
                        dataType: "json",
                        success: function (res) {
                            isSubmit = true;
                            if (res.IsSuccess) { 
                                layer.msg("保存成功", {
                                    icon: 1
                                    , time: 1000
                                }, function () {
                                    if (n == 1) {
                                        location.href = ticketForXiangNextUrl + "?id=" + res.Data;
                                    }
                                });
                            } else {
                                layer.msg(res.Info, {
                                    icon: 2
                                    , time: 2000
                                });
                            }
                        },
                        complete: function () {
                            isSubmit = true;
                        }
                    });
                }
            }

            //下一步
            form.on('submit(saveXiangNext)', function (data) {
                savedata(data, 1);
            });

            //存草稿
            form.on('submit(saveXiangInfo)', function (data) {
                savedata(data, 2);
            });

            //发布
            form.on('submit(saveXiangSubmit)', function (data) {
                savedata(data, 3);
            });

            //获取添加的图片
            function GetImgArr() {
                var img_value = [];
                $(".upload-img-box .img-item").each(function () {
                    var path = $(this).find("img").attr("src");
                    var filename = $(this).find(".img-name").val();
                    var iscover_temp = $.trim($(this).find("span:eq(0)").text()) != "设为主图";
                    var imgObj = { FilePath: path, FileName: filename, FileClassify: 1, ForeignKeyClassify: 1, Iscover: iscover_temp, IsFocus: "False" };
                    img_value.push(imgObj);
                });
                return img_value;
            }
        })
    </script>

}