@using EnrolmentPlatform.Project.DTO.Finance;
@using EnrolmentPlatform.Project.Infrastructure.EnumHelper;

@model  ApplyCashDetailDto
@{
    ViewBag.Title = "提现信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">提现信息</div>
        <div class="panel-body info-cell">
            <div class="row row-3">
                <div class="item">
                    <label class="label">申请账号</label>
                    <div class="text">@Model.CreatorAccount</div>
                </div>
                <div class="item">
                    <label class="label">用户名称</label>
                    <div class="text">@Model.CardName</div>
                </div>
            </div>
            <div class="row row-3">
                <div class="item">
                    <label class="label">用户类型</label>
                    <div class="text">@Model.UserType</div>
                </div>
                <div class="item">
                    <label class="label">提现金额</label>
                    <div class="text pro-color">￥@Model.Amount</div>
                </div>
            </div>
            <div class="row row-3">
                <div class="item">
                    <label class="label">提现时间</label>
                    <div class="text">@Model.CreatorTime</div>
                </div>
                <div class="item">
                    <label class="label">审核状态</label>
                    <div class="text"> @EnumDescriptionHelper.GetDescription(Model.Status)</div>
                </div>
            </div>
            <div class="row row-3">
                <div class="item">
                    <label class="label">审核时间</label>
                    <div class="text">@Model.AuditTime</div>
                </div>
            </div>
            <div class="row row-3">
                <div class="item">
                    <label class="label">审核结果说明</label>
                    <div class="text">@Model.OptionReason</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">银行卡信息</div>
        <div class="panel-body info-cell">
            <div class="row row-3">
                <div class="item">
                    <label class="label">账户名</label>
                    <div class="text">@Model.CardName</div>
                </div>
                <div class="item">
                    <label class="label">开户行</label>
                    <div class="text">@Model.Bank</div>
                </div>
            </div>
            <div class="row row-3">
                <div class="item">
                    <label class="label">账户</label>
                    <div class="text">@Model.CardNumber</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">操作日志</div>
        <div class="panel-body">
          @Html.Partial("~/Views/Shared/_logSettingForTable.cshtml",Model.Id)
        </div>
    </div>
    <div class="main-fixed-footer center">
        <button class="layui-btn layui-btn-primary" id="button"><a href="@Url.Action("Index","Withdraw")">返回</a> </button>
    </div>
</div>


<script>
    layui.use('table', function () {
        var table = layui.table;
        table.init('demo', {
            height: 315 //设置高度
            , limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
            //支持所有基础参数
        });
    });
</script> 