@using EnrolmentPlatform.Project.Infrastructure.EnumHelper;
@using EnrolmentPlatform.Project.DTO.Enums.Finance;
@{
    ViewBag.Title = "提现管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                <div class="layui-form-item ">
                    <label class="layui-form-label">审核状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="Status" value="" title="全部" checked>
                        @foreach (var item in EnumDescriptionHelper.GetAllItemValueList<CashApplyStatusEnum, int>())
                        {
                            <input type="radio" name="TransactionClassify" value="@item.Key" title="@item.Value">
                        }
                        @*<input type="radio" name="Status" value="0" title="待审核">
                        <input type="radio" name="Status" value="1" title="审核通过">
                        <input type="radio" name="Status" value="2" title="审核拒绝">*@
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">申请时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input time-item" id="txtStartTime">
                    </div>
                    <span>至</span>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input time-item" id="txtEndTime">
                    </div>
                    <button class="layui-btn layui-btn-warm" id="btnSearch">查询</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a href="@Url.Action("Option","Withdraw",new { area="Finance",parentId=4 })" class="layui-btn layui-btn-warm layui-btn-sm">申请提现</a>
            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>


<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script>
    layui.use(['table', 'laydate','form'], function () {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        lay('.time-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });
        table.render({
            elem: '#table'
            , url: '@Url.Action("GetApplyCashList", "Withdraw")'//数据
            , cols: [[
                { field: 'Amount', title: '提现金额', sort: true, style: 'color:#ff8903;', templet: function (d) { return '￥' + d.Amount.toFixed(2); } },
                { field: 'CardName', title: '账户名', sort: true },
                { field: 'Bank', title: '开户行', sort: true },
                { field: 'CardNumber', title: '账户', sort: true },
                { field: 'StatusName', title: '审核状态', sort: true },
                { field: 'CreatorTime', title: '申请时间', sort: true },
                { title: '操作', toolbar: '#tableTool' }
            ]]
            , page: true
        });
        /// 监听工具条
        table.on('tool(table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                location.href = "@Url.Action("Detail", "Withdraw", new { area = "Finance", parentId = 4 })" + "&id=" + data.Id;
            }
        });

        // 查询事件
        $("#btnSearch").click(function () {
            if (!compareDate($("#txtStartTime").val(), $("#txtEndTime").val())) {
                layer.msg("结束时间不能小于开始时间");
                return;
            }
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    Status: $("input[name=Status]:checked").val(),
                    StartTime: $("#txtStartTime").val(),
                    EndTime: $('#txtEndTime').val()
                }
            });
        })

        // radio 点击事件
        form.on("radio", function (data) {
            $("#btnSearch").click();
        });
    });
</script> 