@using EnrolmentPlatform.Project.DTO.Enums.Product;
@{
    ViewBag.Title = "餐饮参数";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">菜系</li>
                <li>服务设施</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="panel-body">
                        <button class="layui-btn layui-btn-warm layui-btn-sm" id="table1-add">添加</button>
                        <table id="table1" lay-filter="table1"></table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="panel-body">
                        <button class="layui-btn layui-btn-warm layui-btn-sm" id="table2-add">添加</button>
                        <table id="table2" lay-filter="table2"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 弹出层 -->
<div id="option-ServiceFacilities" style="display:none">
    <div class="layui-form big-label" style="margin:20px;">
        <div class="layui-form-item ">
            <label class="layui-form-label">服务设施</label>
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入内容" class="layui-input" id="serviceName" />
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-primary" id="upload">上传图标</button>
                <div class="upload-img-box"></div>
                <div style="display:none">
                    <textarea id="imgload" name="imgload"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
</script>
@section scripts{
    @Html.RenderTextAreaEditorScripts()
    <script>
        var isSubmit = true;
        var editor;
        $("#imgload").createEditor({ width: "100%", height: 50 }, function (e) {
            editor = e;
        });

        $("#upload").click(function () {
            editor.loadPlugin('image', function () {
                editor.plugin.imageDialog({
                    showRemote: false,
                    clickFn: function (url, title, width, height, border, align) {
                        LoadImgBox(url);
                        editor.hideDialog();
                    }
                });
            });
        });

        //加载图片
        function LoadImgBox(url) {
            $(".upload-img-box").empty();
            var html = "<div class=\"img-item\">" +
                "<div class=\"cover\">" +
                "<span class=\"layui-icon\" onclick=\"deletePic(this)\">ဇ</span>" +
                "</div>" +
                "<img src=\"" + url + "\" alt=\"\">" +
                "</div>";
            $(".upload-img-box").html(html);
        }

        //移除图片
        function deletePic(obj) {
            $(".upload-img-box").empty();
        }
        layui.use(['jquery', 'table', 'layer'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var $ = layui.$;
            $('#table1-add').click(function () {
                layer.prompt({ title: '添加菜系' }, function (value, index, elem) {
                    if (isSubmit) {
                        isSubmit = false;
                        $.ajax({
                            url: "@Url.Action("AddCateringParam", "ParamForCatering")",
                            type: "post",
                            data: { ParamName: value, Classify: "@CateringParamClassifyEnum.FoodSeries" },
                            dataType: "json",
                            success: function (res) {
                                if (res.IsSuccess) {
                                    layer.msg("保存成功", {
                                        icon: 1
                                        , time: 1000
                                    }, function () {
                                        table.reload('table1');
                                        layer.close(index);
                                    });
                                } else {
                                    layer.msg(res.Info, {
                                        icon: 2
                                        , time: 2000
                                    });
                                }
                            },
                            complete: function () {
                                isSubmit = true;
                            }
                        });
                    }
                });
            });
            table.render({
                elem: '#table1'
                , skin: 'line'
                , limit: 20
                , url: '@Url.Action("CateringParamList", "ParamForCatering", new { Classify = CateringParamClassifyEnum.FoodSeries })'//数据
                , page: true //开启分页
                , cols: [[ //表头
                    { field: 'ParamName', title: '菜系' }
                    , { title: '操作', toolbar: '#tableTool' }
                ]]
            })
            $('#table2-add').click(function () {
                $("#serviceName").val("");
                $(".upload-img-box").empty();
                layer.open({
                    type: 1,
                    title: '添加服务设施',
                    btn: ['确定', '取消'],
                    area: ['500px', '380px'], //宽高
                    content: $("#option-ServiceFacilities"),
                    zIndex: 999,
                    yes: function () {
                        var serviceName = $.trim($("#serviceName").val());
                        if (serviceName == "") {
                            layer.msg("请输入服务设施名称");
                            return false;
                        }
                        if ($(".upload-img-box img").length == 0) {
                            layer.msg("请上传图标");
                            return false;
                        }
                        var imgPath = $(".upload-img-box img").attr("src");
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: "@Url.Action("AddCateringParam", "ParamForCatering")",
                                type: "post",
                                data: { ParamName: serviceName, Classify: "@CateringParamClassifyEnum.ServiceFacilities", FilePath: imgPath },
                                dataType: "json",
                                success: function (res) {
                                    if (res.IsSuccess) {
                                        layer.msg("保存成功", {
                                            icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('table2');
                                            layer.closeAll();
                                        });
                                    } else {
                                        layer.msg(res.Info, {
                                            icon: 2
                                            , time: 2000
                                        });
                                    }
                                },
                                complete: function () {
                                    isSubmit = true;
                                }
                            });
                        }
                    },
                    btn2: function () {

                    }
                });
            });
            table.render({
                elem: '#table2'
                , skin: 'line'
                , limit: 20
                , url: '@Url.Action("CateringParamList", "ParamForCatering", new { Classify = CateringParamClassifyEnum.ServiceFacilities })'//数据
                , page: true //开启分页
                , cols: [[ //表头
                    { field: 'ParamName', title: '服务设施' }
                    , { title: '操作', toolbar: '#tableTool' }
                ]]
            })


            table.on('tool(table1)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    layer.prompt({
                        value: data.ParamName,
                        title: '编辑菜系',
                    }, function (value, index, elem) {
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: "@Url.Action("UpdateCateringParam", "ParamForCatering")",
                                type: "post",
                                data: { ParamId: data.ParamId, ParamName: value },
                                dataType: "json",
                                success: function (res) {
                                    if (res.IsSuccess) {
                                        layer.msg("保存成功", {
                                            icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('table1');
                                            layer.close(index);
                                        });
                                    } else {
                                        layer.msg(res.Info, {
                                            icon: 2
                                            , time: 2000
                                        });
                                    }
                                },
                                complete: function () {
                                    isSubmit = true;
                                }
                            });
                        }
                    });
                } else if (obj.event === 'del') {
                    layer.confirm('您确定要删除该菜系吗？', function (index) {
                        var ajaxOption = {
                            url: "@Url.Action("DeleteCateringParam", "ParamForCatering")",
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { paramId: data.ParamId },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    table.reload('table1');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        }
                        $.ajax(ajaxOption);
                        layer.close(index);
                    });
                }
            })

            table.on('tool(table2)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    $("#serviceName").val(data.ParamName);
                    LoadImgBox(data.FilePath);
                    layer.open({
                        type: 1,
                        title: '编辑服务设施',
                        btn: ['确定', '取消'],
                        area: ['500px', '380px'], //宽高
                        content: $("#option-ServiceFacilities"),
                        zIndex: 999,
                        yes: function () {
                            var serviceName = $.trim($("#serviceName").val());
                            if (serviceName == "") {
                                layer.msg("请输入服务设施名称");
                                return false;
                            }
                            if ($(".upload-img-box img").length == 0) {
                                layer.msg("请上传图标");
                                return false;
                            }
                            var imgPath = $(".upload-img-box img").attr("src");
                            if (isSubmit) {
                                isSubmit = false;
                                $.ajax({
                                    url: "@Url.Action("UpdateCateringParam", "ParamForCatering")",
                                    type: "post",
                                    data: { ParamId: data.ParamId, ParamName: serviceName, FilePath: imgPath },
                                    dataType: "json",
                                    success: function (res) {
                                        if (res.IsSuccess) {
                                            layer.msg("保存成功", {
                                                icon: 1
                                                , time: 1000
                                            }, function () {
                                                table.reload('table2');
                                                layer.closeAll();
                                            });
                                        } else {
                                            layer.msg(res.Info, {
                                                icon: 2
                                                , time: 2000
                                            });
                                        }
                                    },
                                    complete: function () {
                                        isSubmit = true;
                                    }
                                });
                            }
                        },
                        btn2: function () {

                        }
                    });
                } else if (obj.event === 'del') {
                    layer.confirm('您确定要删除该服务设施吗？', function (index) {
                        var ajaxOption = {
                            url: "@Url.Action("DeleteCateringParam", "ParamForCatering")",
                            type: 'Post',
                            async: false,
                            dataType: 'json',
                            data: { paramId: data.ParamId },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    table.reload('table2');
                                }
                                else {
                                    layer.msg(result.Info);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                layer.msg("系统出现异常，请联系管理员！");
                            }
                        }
                        $.ajax(ajaxOption);
                        layer.close(index);
                    });
                }
            })
        })

    </script>
}