@using EnrolmentPlatform.Project.Infrastructure.EnumHelper;
@using EnrolmentPlatform.Project.DTO.Enums.Orders;

@{
    ViewBag.Title = "账户资产";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap">
    <div class="panel">
        <div class="panel-body flex">
            <div class="panel-body_left"></div>
            <div class="panel-body_right">
                <p>收款合计</p>
                <p>￥@ViewBag.TouristsAccountDetails.ReceiptTotal</p>
                <p>退款合计</p>
                <p>￥@ViewBag.TouristsAccountDetails.RefundTotal</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">
            收支明细
        </div>
        <div class="panel-body">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">交易类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="TransactionClassify" value="" title="不限" checked>
                        @foreach (var item in EnumDescriptionHelper.GetAllItemValueList<TransactionClassifyEnum, int>())
                        {
                            <input type="radio" name="TransactionClassify" value="@item.Key" title="@item.Value">
                        }
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">发生时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input time-item" id="txtStartTime">
                        </div>
                        <span class="layui-form-mid">至</span>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input time-item" id="txtEndTime">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">操作人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Operator" autocomplete="off" class="layui-input" id="txtOperator">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付方式</label>
                    <div class="layui-input-inline">
                        <select name="PaymentMethod" id="txtPaymentMethod" lay-filter="PaymentMethod">
                            <option value=""></option>
                            <option value="@OrderPayClassifyEnum.WeChatPay">@EnumDescriptionHelper.GetDescription(OrderPayClassifyEnum.WeChatPay)</option>
                            <option value="@OrderPayClassifyEnum.Cash">@EnumDescriptionHelper.GetDescription(OrderPayClassifyEnum.Cash)</option>
                            <option value="@OrderPayClassifyEnum.Alipay">@EnumDescriptionHelper.GetDescription(OrderPayClassifyEnum.Alipay)</option>
                        </select>
                    </div>
                    <label class="layui-form-label">流水单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="TransactionNo" autocomplete="off" class="layui-input" id="txtTransactionNo">
                    </div>
                    <button type="button" class="layui-btn layui-btn-warm" id="btnSearch">查询</button>
                </div>
            </div>
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['table', 'laydate',"form"], function () {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        lay('.time-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });
        table.render({
            elem: '#table',
            url: '@Url.Action("GetTransactionDetails", "Payment")'
            , page: true
            , cols: [[{ field: 'Amount', title: '金额' }
                , { field: 'TransactionClassifyName', title: '交易类型' }
                , { field: 'PaymentMethodName', title: '支付方式' }
                , { field: 'CreatorTime', title: '发生时间' }
                , { field: 'TransactionNo', title: '流水单号' }
                , { field: 'Operator', title: '操作人' }
            ]]
        });

        //查询事件
        $("#btnSearch").click(function () {
            if (!compareDate($("#txtStartTime").val(), $("#txtEndTime").val())) {
                layer.msg("结束时间不能小于开始时间");
                return;
            }
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    TransactionClassify: $("input[name=TransactionClassify]:checked").val(),
                    StartTime: $("#txtStartTime").val(),
                    EndTime: $('#txtEndTime').val(),
                    PaymentMethod: $("#txtPaymentMethod").val(),
                    Operator: $("#txtOperator").val(),
                    TransactionNo: $("#txtTransactionNo").val(),
                }
            });
        });

        //支付方式  change事件
        form.on("radio", function (data) {
            $("#btnSearch").click();
        })
        form.on("select", function (data) {
            $("#btnSearch").click();
        })          
    });
</script>

