
@{
    ViewBag.Title = "套餐管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProductStatus = ViewBag.ProductStatus as List<KeyValuePair<int, string>>;
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                <div class="layui-form-item ">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="status_search" name="productStatus" value="0" title="全部" checked>
                        @if (ProductStatus != null && ProductStatus.Any())
                        {
                            foreach (var item in ProductStatus)
                            { 
                                if (!item.Key.Equals((int)ProductStatusEnum.Draft))
                                {
                                    <input type="radio" lay-filter="status_search" name="productStatus" value="@(item.Key)" title="@(item.Value)">
                                }
                            }
                        }
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">供应商</label>
                    <div class="layui-input-inline">
                        <input type="text" id="supplierName" placeholder="供应商" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">套餐名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="productName" placeholder="套餐名称" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn layui-btn-warm" data-type="reload">查询</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="layui-btn layui-btn-warm layui-btn-sm" data-type="onSale">批量审核</button>
            <button class="layui-btn layui-btn-default layui-btn-sm" data-type="onSales">上架</button>
            <button class="layui-btn layui-btn-default layui-btn-sm" data-type="offSale">下架</button>
            <table id="catering-table" lay-filter="table"></table>
        </div>
    </div>
</div>
<!-- 弹出层 -->
<div id="audit-btn-modal" style="display:none">
    <div class="layui-form big-label">
        <div class="layui-form-item">
            <label class="layui-form-label">审核结果</label>
            <div class="layui-input-inline">
                <input type="radio" name="result_checking" lay-filter="result_checking" value="1" title="审核通过" checked>
                <input type="radio" name="result_checking" lay-filter="result_checking" value="2" title="审核拒绝">
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-inline">
                <textarea id="desc" placeholder="请输入内容" class="layui-textarea" style="width:300px; resize:none;">套餐合格，准许上架</textarea>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script>

    var searchUrl = '@Url.Action("List", "Catering", new { area = "Product" })';
    var onSaleUrl = '@Url.Action("OnSale", "Catering", new { area = "Product" })';
    var offSaleUrl = '@Url.Action("OffSale", "Catering", new { area = "Product" })';
    var isSubmit = true;
    var defaltStatus = 1;
    var checking = "@((int)ProductStatusEnum.Checking)";
    var offSale = "@((int)ProductStatusEnum.OffSale)";
    var onSale = "@((int)ProductStatusEnum.OnSale)";

    layui.use(['jquery', 'table', 'form', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form  = layui.form ;
        var $ = layui.$;
        //实例表格
        var tableOptions = {
            elem: '#catering-table'
            , skin: 'line'
            , limit: 20
            , url: searchUrl//数据
            , page: true //开启分页
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'ProductName', title: '套餐名称', minWidth: 300, sort: true }
                , { field: 'Price', title: '价格' }
                , { field: 'OrderCount', title: '已售' }
                , { field: 'CreateTime', title: '更新时间' }
                , { field: 'SupplierName', title: '供应商' }
                , { field: 'StatusStr', title: '销售状态', sort: true }
                , { title: '操作', toolbar: '#tableTool', minWidth: 100 }
            ]]
        }
        table.render(tableOptions)

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('catering-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        Status: $("input[name=productStatus]:checked").val(),
                        ProductName: $.trim($('#productName').val()),
                        SupplierName: $.trim($('#supplierName').val())
                    }
                });
            },
            onSale: function () {
                var checkStatus = table.checkStatus('catering-table')
                    , data = checkStatus.data;
                if (data.length == 0) return false;

                var productIds = [];
                var isOption = true;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Status != checking) {
                        isOption = false;
                        layer.msg("请勾选待审核的套餐进行审核！");
                        break;
                    } else {
                        productIds.push(data[i].ProductId);
                    }
                }
                if (isOption) {
                    layer.open({
                        type: 1,
                        title: '处理审核',
                        btn: ['确定', '取消'],
                        area: ['500px', '300px'], //宽高
                        content: $('#audit-btn-modal'),
                        yes: function (z_index) {
                            if (isSubmit) {
                                isSubmit = false;
                                $.ajax({
                                    url: onSaleUrl,
                                    type: 'Post',
                                    async: false,
                                    dataType: 'json',
                                    data: { productIds: productIds, Status: defaltStatus, Remark: $("#desc").val() },
                                    success: function (result) {
                                        isSubmit = true;
                                        if (result.IsSuccess) {
                                            table.reload('catering-table');
                                            layer.msg(result.Info);
                                        }
                                        else {
                                            layer.msg(result.Info);
                                        }
                                        layer.close(z_index);
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        isSubmit = true;
                                        layer.msg("系统出现异常，请联系管理员！");
                                    }
                                });
                            }
                        },
                        btn2: function () {
                        }
                    });
                }
            },
            onSales: function () {
                var checkStatus = table.checkStatus('catering-table')
                    , data = checkStatus.data;
                if (data.length == 0) return false;

                var productIds = [];
                var isOption = true;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Status != offSale) {
                        isOption = false;
                        layer.msg("请勾选已下架的套餐进行强制上架！");
                        break;
                    } else {
                        productIds.push(data[i].ProductId);
                    }
                }
                if (isOption) {
                    layer.confirm('您确定要上架选中的套餐吗？', function (index) {
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: onSaleUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { productIds: productIds, Status: 10, Remark: "管理后台强制上架" },
                                success: function (result) {
                                    isSubmit = true;
                                    if (result.IsSuccess) {
                                        table.reload('catering-table');
                                    }
                                    else {
                                        layer.msg(result.Info);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                        layer.close(index);
                    });
                }
            },
            offSale: function () {
                var checkStatus = table.checkStatus('catering-table')
                    , data = checkStatus.data;
                if (data.length == 0) return false;

                var productIds = [];
                var isOption = true;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Status != onSale) {
                        isOption = false;
                        layer.msg("请勾选已上架的套餐进行下架！");
                        break;
                    } else {
                        productIds.push(data[i].ProductId);
                    }
                }
                if (isOption) {
                    layer.confirm('您确定要下架选中的套餐吗？', function (index) {
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: offSaleUrl,
                                type: 'Post',
                                async: false,
                                dataType: 'json',
                                data: { productIds: productIds },
                                success: function (result) {
                                    isSubmit = true;
                                    if (result.IsSuccess) {
                                        table.reload('catering-table');
                                    }
                                    else {
                                        layer.msg(result.Info);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    isSubmit = true;
                                    layer.msg("系统出现异常，请联系管理员！");
                                }
                            });
                        }
                        layer.close(index);
                    });
                }
            }
        };

        $('.panel .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('radio(result_checking)', function (data) {
            defaltStatus = data.value;
            $("#desc").val(defaltStatus == "1" ? "套餐合格，准许上架" : "套餐不合格，需要仔细校对");
        });

        form.on('radio(status_search)', function (data) {
            //执行重载
            table.reload('catering-table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    Status: $("input[name=productStatus]:checked").val(),
                    ProductName: $.trim($('#productName').val()),
                    SupplierName: $.trim($('#supplierName').val())
                }
            });
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent == 'detail') {
                location.href = "@Url.Action("Detail", "Catering")?cateringId=" + data.ProductId;
            }
        });

    })
</script>