@using EnrolmentPlatform.Project.Infrastructure.EnumHelper;
@using EnrolmentPlatform.Project.DTO.Enums.Finance;

@{
    ViewBag.Title = "提现审核";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                <div class="layui-form-item ">
                    <label class="layui-form-label">审核状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="Status" value="" title="不限" checked>
                        @foreach (var item in EnumDescriptionHelper.GetAllItemValueList<CashApplyStatusEnum, int>())
                        {
                            <input type="radio" name="Status" value="@item.Key" title="@item.Value">
                        }
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-form-label">供应商名称</div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="txtEnterpriseName" maxlength="100">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">提交日期</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input time-item" id="txtStartTime">
                        </div>
                        <div class="layui-form-mid">至</div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input time-item" id="txtEndTime">
                        </div>
                        <button class="layui-btn layui-btn-warm" type="button" id="btnSearch">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button href="javascript:;" class="layui-btn layui-btn-warm layui-btn-sm" id="button">批量审核</button>
            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>


<!-- 弹出层 -->
<div id="btn-modal" style="display:none">
    <div class="layui-form big-label">
        <div class="layui-form-item">
            <label class="layui-form-label">审核结果</label>
            <div class="layui-input-inline">
                <input type="radio" name="CashApplyStatus" value="@CashApplyStatusEnum.Agree" title="@EnumDescriptionHelper.GetDescription(CashApplyStatusEnum.Agree)" checked>
                <input type="radio" name="CashApplyStatus" value="@CashApplyStatusEnum.Refuse" title="@EnumDescriptionHelper.GetDescription(CashApplyStatusEnum.Refuse)">
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-inline">
                <textarea name="desc" id="txtOptionReason" placeholder="请输入内容" class="layui-textarea" style="width:300px;"></textarea>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script>
        layui.use(['table', 'layer', 'jquery', 'laydate','form'], function () {
            var table = layui.table;
            var laydate = layui.laydate;
            var layer = layui.layer;
            var $ = layui.$;
            var form = layui.form;
        
            lay('.time-item').each(function () {
                laydate.render({
                    elem: this
                    , trigger: 'click'
                });
            });
            table.render({
                elem: '#table'
                , url: '@Url.Action("GetApplyCashList", "Withdraw")'//数据
                , cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'Amount', title: '提现金额', style: 'color:#ff8903;',templet: function (d) { return '￥' + d.Amount.toFixed(2); } },
                    { field: 'CreatorAccount', title: '提交用户' },
                    { field: 'EnterpriseName', title: '供应商名称' },
                    { field: 'UserTypeName', title: '类型' },
                    { field: 'CardName', title: '账户名' },
                    { field: 'Bank', title: '开户行' },
                    { field: 'CardNumber', title: '账户' },
                    { field: 'StatusName', title: '审核状态' },
                    { field: 'CreatorTime', title: '申请时间' },
                    { title: '操作', toolbar: '#tableTool' }
                ]]
                , page: true
            });
            table.on('tool(table)', function (obj) {
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                if (layEvent == 'detail') {
                    location.href = "@Url.Action("Detail","Withdraw",new { parentId=4 })" + "&id=" + data.Id;;
                }
            });

            $("#button").click(function () {
                var checkStatus = table.checkStatus('table')
                    , postdata = checkStatus.data;
                console.log(postdata);
                if (postdata.length <= 0)
                    return;
                var isExist = false;
                var ids = [];
                $.each(postdata, function (i, val) {
                    ids.push(val.Id);
                    if (val.Status != 0) {
                        isExist = true;
                        return;
                    }
                });
                if (isExist) {
                    layer.msg("请选择待审核状态的提现申请！");
                    return;
                }
                layer.open({
                    type: 1,
                    title: '处理审核',
                    btn: ['确定', '取消'],
                    area: ['500px', '300px'], //宽高
                    content: $('#btn-modal'),
                    yes: function (index) {
                        $.ajax({
                            url: "@Url.Action("AuditApplyCash", "Withdraw")",
                            type: "post",
                            async: false,
                            dataType: 'json',
                            data: { Ids: ids, Status: $("input[name=CashApplyStatus]:checked").val(), OptionReason: $("#txtOptionReason").val() },
                            success: function (res) {
                                if (res.IsSuccess) {
                                    table.reload('table');
                                    layer.msg("操作成功");
                                    layer.close(index);
                                } else
                                    layer.msg(res.Info);
                            }
                        });                        
                    },
                    btn2: function () {
                        console.log("ssss");
                    }
                });
            });
            //查询事件 
            $("#btnSearch").click(function () {
                if (!compareDate($("#txtStartTime").val(), $("#txtEndTime").val())) {
                    layer.msg("结束时间不能小于开始时间");
                    return;
                }
                table.reload('table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        Status: $("input[name=Status]:checked").val(),
                        StartTime: $("#txtStartTime").val(),
                        EndTime: $('#txtEndTime').val(),
                        EnterpriseName: $('#txtEnterpriseName').val()
                    }
                });
            })

            // radio 点击事件
            form.on("radio", function (data) {
                $("#btnSearch").click();
            });
        });
</script>