@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UsePeopleEnum = ViewBag.UsePeopleEnum as List<KeyValuePair<int, string>>;
    var RefundRuleEnum = ViewBag.RefundRuleEnum as List<KeyValuePair<int, string>>;
}
@model ProductForCateringPackageDataDto

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">基本信息</div>
        <div class="panel-body">
            <form class="layui-form">
                <div class="layui-form-item input-inline-400 required">
                    <label class="layui-form-label">套餐名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="ProductName" value="@(Model!=null?Model.ProductName:"")" required lay-verify="required" autocomplete="off" class="layui-input">
                        <input type="hidden" id="ProductId" value="@(Model!=null?Model.ProductId:Guid.Empty)" />
                    </div>
                </div>
                <div class="layui-form-item input-inline-400">
                    <label class="layui-form-label">套餐描述</label>
                    <div class="layui-input-inline">
                        <input type="text" id="Description" value="@(Model!=null?Model.Description:"")" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">用餐人数</label>
                    <div class="layui-input-inline">
                        <select id="UsePeople" lay-verify="required">
                            @if (UsePeopleEnum != null && UsePeopleEnum.Any())
                            {
                                foreach (var item in UsePeopleEnum)
                                {
                                    if (Model != null && Model.UsePeople == item.Key)
                                    {
                                        <option selected="selected" value="@(item.Key)">@(item.Value)</option>
                                    }
                                    else
                                    {
                                        <option value="@(item.Key)">@(item.Value)</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">门店价</label>
                    <div class="layui-input-inline">
                        <input type="text" id="MinMarkPrice" value="@(Model!=null?Model.MinMarkPrice:0)" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">销售价</label>
                    <div class="layui-input-inline">
                        <input type="text" id="MinDistributionPrice" value="@(Model!=null?Model.MinDistributionPrice:0)" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">是否预约</label>
                    <div class="layui-input-block">
                        <input type="radio" name="IsSubscribe" value="0" title="不需要" @(Model != null && Model.IsSubscribe ? "" : "checked=checked") />
                        <input type="radio" name="IsSubscribe" value="1" title="需要" @(Model != null && Model.IsSubscribe ? "checked=checked" : "") />
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">退款规则</label>
                    <div class="layui-input-block">
                        @if (RefundRuleEnum != null && RefundRuleEnum.Any())
                        {
                            foreach (var item in RefundRuleEnum)
                            {
                                if (Model != null && Model.RefundRule == item.Key)
                                {
                                    <input type="radio" checked="checked" name="RefundRule" value="@(item.Key)" title="@(item.Value)">
                                }
                                else
                                {
                                    <input type="radio" name="RefundRule" value="@(item.Key)" title="@(item.Value)">
                                }
                            }
                        }
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">介绍图片</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-primary" id="upload">批量上传图片</button>
                        <span>（图片格式为jpg/png/bmp，最大为2M，至少上传一张，最多10张。）</span>
                        <div class="upload-img-box">
                            @if (Model.OptionParamForPictureDto != null && Model.OptionParamForPictureDto.Any())
                            {
                                foreach (var item in Model.OptionParamForPictureDto)
                                {
                                    <div class="img-item">
                                        <div class="cover @(item.Iscover ? "show" : "")">
                                            <span onclick="setPic(this)">@(item.Iscover ? "主图" : "设为主图")</span>
                                            <span class="layui-icon" onclick="deletePic(this)">ဇ</span>
                                        </div>
                                        <img src="@item.FilePath" alt="">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="layui-form-item required">
                    <div class="layui-inline">
                        <label class="layui-form-label">日期范围</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="date" value="@(Model!=null&&!Model.StartExpiryDate.Equals(DateTime.MinValue)?Model.StartExpiryDate.ToString("yyyy-MM-dd"):"")@(Model!=null&&!Model.EndExpiryDate.Equals(DateTime.MinValue)?(" - "+Model.EndExpiryDate.ToString("yyyy-MM-dd")):"")" name="ExpiryDate">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item input-inline-400 required">
                    <label class="layui-form-label">使用时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="UseTime" value="@(Model!=null?Model.UseTime:"")" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text required">
                    <label class="layui-form-label">使用规则</label>
                    <div class="layui-input-block">
                        <textarea id="UseRule" placeholder="请输入内容" required lay-verify="required" class="layui-textarea" style="width:600px; resize:none;">@(Model!=null?Model.UseRule : "")</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        @if (Model.ProductId.Equals(Guid.Empty))
                        {
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="saveBasicNext">下一步</button>
                        }
                        else
                        {
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="saveBasicSubmit">提交并下一步</button>
                            <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="saveBasicNext1">跳过此步骤</button>
                        }
                        <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="saveBasicInfo">存草稿</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="display:none;">
    <textarea id="imgs"></textarea>
</div>

@section scripts{
    @Html.RenderTextAreaEditorScripts()
    <script>
        var defaltGuid = "@(Guid.Empty)";
        var next = '@Url.Action("CateringForNext", "Catering", new { area = "Product" })';
        var submitUrl = '@Url.Action("CateringForSubmit", "Catering", new { area = "Product" })';
        var nextUrl = '@Url.Action("OptionDetail", "Catering", new { area = "Product" })';

        var imgs;
        $("#imgs").createEditor({ width: "100%", height: 300, imageUploadLimit: 10 }, function (e) {
            imgs = e;
        });

        $("#upload").click(function () {
            var img_len = $(".upload-img-box .img-item").length;
            if (img_len >= 10) {
                layer.msg("最多上传10张图片");
            } else {
                imgs.loadPlugin('multiimage', function () {
                    imgs.plugin.multiImageDialog({
                        showRemote: false,
                        clickFn: function (urlList) {
                            if (urlList.length > 10 - img_len) {
                                layer.msg("最多上传10张图片");
                                return false;
                            } else {
                                $.each(urlList, function (i, data) {
                                    LoadImgBox(data.url);
                                });
                                imgs.hideDialog();
                            }
                        }
                    });
                });
            }
        });

        //加载图片
        function LoadImgBox(url) {
            var html = "<div class=\"img-item\">";
            html += "<div class=\"cover\">";
            html += "<span onclick=\"setPic(this)\">设为主图</span>";
            html += "<span class=\"layui-icon\" onclick=\"deletePic(this)\">ဇ</span>";
            html += "</div><img src=\"" + url + "\" alt=\"\"></div>";
            $(".upload-img-box").append(html);
        }

        //移除图片
        function deletePic(_this) {
            $(_this).parents("div[class='img-item']").remove();
        }

        //设为主图
        function setPic(_this) {
            var isZhutu = $.trim($(_this).text()) == "设为主图";
            $(".upload-img-box .img-item").each(function () {
                $(this).find("div").removeClass("show");
                $(this).find("span:eq(0)").text("设为主图");
            });
            if (isZhutu) {
                $(_this).text("主图");
                $(_this).parent().addClass("show");
            } else {
                $(_this).text("设为主图");
                $(_this).parent().removeClass("show");
            }
        }

        layui.use(['jquery', 'element', 'laydate','layer', 'form'], function () {
            var isSubmit = true;
            var layer = layui.layer, form = layui.form, element = layui.element;
            var laydate = layui.laydate;
            var $ = layui.$;

            laydate.render({
                elem: '#date'
                , range: true
            });

            function savedata(d, n) {
                if ($(".upload-img-box .img-item").length <= 0) {
                    layer.msg("请上传一张图片");
                    return false;
                } else if ($(".upload-img-box .img-item .show").length < 1) {
                    layer.msg("请设置一张图片为主图");
                    return false;
                }
                var param = {
                    ProductId: $("#ProductId").val(),
                    ProductName: $.trim($("#ProductName").val()),
                    Description: $.trim($("#Description").val()),
                    UsePeople: $("#UsePeople").val(),
                    MinMarkPrice: $("#MinMarkPrice").val(),
                    MinDistributionPrice: $("#MinDistributionPrice").val(),
                    IsSubscribe: $("input[name='IsSubscribe']:checked").val()==1,
                    RefundRule: $("input[name='RefundRule']:checked").val(),
                    StartExpiryDate: GetTime(1),
                    EndExpiryDate: GetTime(2),
                    UseTime: $("#UseTime").val(),
                    UseRule: $("#UseRule").val(),
                    OptionParamForPictureDto: GetImgArr()
                };
                var optionUrl = n == 2 ? submitUrl : next;
                if (isSubmit) {
                    isSubmit = false;
                    $.ajax({
                        url: optionUrl,
                        type: "post",
                        data: param,
                        dataType: "json",
                        success: function (res) {
                            isSubmit = true;
                            if (res.IsSuccess) {
                                $("#ProductId").val(res.Data);
                                layer.msg("保存成功", {
                                    icon: 1
                                    , time: 1000
                                }, function () {
                                    if (n == 1 || n == 2) {
                                        location.href = nextUrl + "?cateringId=" + res.Data;
                                    }
                                });
                            } else {
                                layer.msg(res.Info, {
                                    icon: 2
                                    , time: 2000
                                });
                            }
                        },
                        complete: function () {
                            isSubmit = true;
                        }
                    });
                }
            }

            //获取时间小时
            function GetTime(s) {
                if (s == 1) {
                    return $("#date").val().split(' - ')[0];
                } else {
                    return $("#date").val().split(' - ')[1];
                }
            }

            //下一步
            form.on('submit(saveBasicNext)', function (data) {
                savedata(data, 1);
            });

            //跳过
            form.on('submit(saveBasicNext1)', function (data) {
                location.href = nextUrl + "?cateringId=" + $("#ProductId").val();
            });

            //提交
            form.on('submit(saveBasicSubmit)', function (data) {
                savedata(data, 2);
            });

            //存草稿
            form.on('submit(saveBasicInfo)', function (data) {
                savedata(data, 3);
            });

            //获取添加的图片
            function GetImgArr() {
                var img_value = [];
                $(".upload-img-box .img-item").each(function () {
                    var path = $(this).find("img").attr("src");
                    var iscover_temp = $.trim($(this).find("span:eq(0)").text()) != "设为主图";
                    var imgObj = { FilePath: path, FileClassify: 1, ForeignKeyClassify: 1, Iscover: iscover_temp, IsFocus: "False" };
                    img_value.push(imgObj);
                });
                return img_value;
            }
        })
    </script>

}