
@{
    ViewBag.Title = "套餐内容";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProductForCateringPackageDetailDataDto

<div class="main-wrap catering-adddetail">
    <input type="hidden" id="ProductId" value="@(Model.ProductId)">
    <div class="panel">
        <div class="panel-title flex">
            <div>
                套餐内容
                <button class="layui-btn layui-btn-warm layui-btn-md" id="addProject">添加项目</button>
            </div>
            <span class="text-size-20">
                价值:
                <span class="pro-color" id="allPrice">￥0</span>
            </span>
        </div>
        <div class="panel-body menu" id="menuView">
            @if (Model != null && Model.ProductForCateringPackageProjectDto != null && Model.ProductForCateringPackageProjectDto.Any())
            {
                foreach (var item in Model.ProductForCateringPackageProjectDto)
                {
                    <div class="menu-item">
                        <div class="layui-form">
                            <div class="layui-form-item" style="margin-bottom:0;">
                                <label class="layui-form-label" style="width:30px;">项目</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="PeojectName" placeholder="项目名称" value="@(item.PeojectName)" class="layui-input height-30">
                                </div>
                                <button class="layui-btn layui-btn-warm layui-btn-sm add-menu">添加菜单</button>
                                <button class="layui-btn layui-btn-default layui-btn-sm" onclick="deletediv(this)">删除</button>
                            </div>
                        </div>
                        <table class="layui-table" style="margin-top:0; margin-bottom:30px;">
                            <tr>
                                <th>菜单名称</th>
                                <th>数量</th>
                                <th>单价</th>
                                <th>小计</th>
                                <th>操作</th>
                            </tr>
                            @if (item.ProductForCateringPackageProjectConDto != null && item.ProductForCateringPackageProjectConDto.Any())
                            {
                                foreach (var item1 in item.ProductForCateringPackageProjectConDto)
                                {
                                    <tr temp_id="@(item1.FoodId)" temp_na="@(item1.FoodName)" temp_price="@(item1.Price)">
                                        <td>@(item1.FoodName)</td>
                                        <td>
                                            <div class="ui-counter">
                                                <span class="reduce">-</span>
                                                <input type="text" name="count_user" value="@(item1.Quantity)">
                                                <span class="add">+</span>
                                            </div>
                                        </td>
                                        <td>@(item1.Price)</td>
                                        <td>@(item1.SubTotalPrice)</td>
                                        <td>
                                            <button class="layui-btn layui-btn-default layui-btn-sm" onclick="deletetr(this)">删除</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                }
            }
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">套餐详情</div>
        <div class="panel-body">
            <div class="layui-form-item layui-form-text">
                <div class="layui-input-block" style="width:800px;">
                    <textarea style="resize:none;" class="layui-textarea" id="PackageDetailInfo">@(Model.PackageDetailInfo)</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="saveSubmit">提交</button>
                    <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="saveInfo">存草稿</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 弹出框 -->
<div id="add-spec-modal" style="display:none">
    <div class="margin-10">
        已选择
        <span class="pro-color" style="font-weight:700" id="count_Ck">0</span>条记录
    </div>
    <table id="menuTable" class="layui-table" lay-filter="testmenu"></table>
</div>
<script id="demo" type="text/html">
    <div class="menu-item">
        <div class="layui-form">
            <div class="layui-form-item" style="margin-bottom:0;">
                <label class="layui-form-label" style="width:30px;">项目</label>
                <div class="layui-input-inline">
                    <input type="text" name="PeojectName" placeholder="项目名称" class="layui-input height-30">
                </div>
                <button class="layui-btn layui-btn-warm layui-btn-sm add-menu">添加菜单</button>
                <button class="layui-btn layui-btn-default layui-btn-sm" onclick="deletediv(this)">删除</button>
            </div>
        </div>
        <table class="layui-table" style="margin-top:0; margin-bottom:30px;">
            <tr>
                <th>菜单名称</th>
                <th>数量</th>
                <th>单价</th>
                <th>小计</th>
                <th>操作</th>
            </tr>
        </table>
    </div>
</script>

@section scripts{
    @Html.RenderTextAreaEditorScripts()
    <script>
        var searchUrl = "@Url.Action("MenuList", "Catering", new { area = "Product" })";
        var homeUrl = "@Url.Action("Index", "Catering", new { area = "Product" })";
        var submitUrl = "@Url.Action("CateringForDetailSubmit", "Catering", new { area = "Product" })";
        var draftUrl = "@Url.Action("CateringForDetailDraft", "Catering", new { area = "Product" })";
        var allprice_temp = 0;
        var isSubmit = true;

        var packageDetailInfo;
        $("#PackageDetailInfo").createEditor({ width: "100%", height: 300, imageUploadLimit: 10 }, function (e) {
            packageDetailInfo = e;
        });

        layui.use(['laytpl', 'table', 'jquery', 'form', 'layer'], function () {
            var $ = layui.$;
            var laytpl = layui.laytpl;
            var layer = layui.layer;
            var table = layui.table;
            var form = layui.form;
            var getTpl = demo.innerHTML, view = $('#menuView');
            $('#addProject').on('click', function () {
                view.append(getTpl)
            });

            //实例表格
            var tableOptions = {
                elem: '#menuTable'
                , skin: 'line'
                , limit: 8
                , limits: [8]
                , url: searchUrl//数据
                , page: true //开启分页
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'FoodName', title: '菜单名称', width: 300 }
                    , { field: 'Price', title: '单价', width: 100 }
                ]]
            }
            table.render(tableOptions)
             
            $(document).on('click', '.add-menu', function () {
                var _this = $(this).parents(".layui-form").next();
                layer.open({
                    type: 1,
                    title: '选择菜单',
                    btn: ['确定', '取消'],
                    area: ['600px'], //宽高
                    content: $('#add-spec-modal'),
                    yes: function (index) {
                        var checkStatus = table.checkStatus('menuTable')
                            , data = checkStatus.data;
                        var htmlTr = "";
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var lenCount = _this.find("tr[temp_id='" + data[i].FoodId + "']").length;
                                if (lenCount <= 0) {
                                    htmlTr += '<tr temp_id="' + data[i].FoodId + '" temp_na="' + data[i].FoodName + '" temp_price="' + parseFloat(data[i].Price).toFixed(2) + '">';
                                    htmlTr += '<td>' + data[i].FoodName + '</td>';
                                    htmlTr += '<td><div class="ui-counter"><span class="reduce">-</span>';
                                    htmlTr += '<input type="text" name="count_user" value="1" />';
                                    htmlTr += '<span class="add">+</span></div></td><td>' + parseFloat(data[i].Price).toFixed(2) + '</td><td>' + parseFloat(data[i].Price).toFixed(2) + '</td>';
                                    htmlTr += '<td><button class="layui-btn layui-btn-default layui-btn-sm" onclick="deletetr(this)">删除</button></td></tr>';
                                }
                            }
                        }
                        _this.append(htmlTr);
                        layer.close(index);
                        allPriceCal();
                    },
                    btn2: function () {

                    }
                });
                return false
            })

            table.on('checkbox(testmenu)', function (obj) {
                var checkStatus = table.checkStatus('menuTable')
                    , data = checkStatus.data;
                $("#count_Ck").html(data.length);
            });

            $(document).on('click', '.ui-counter .add', function () {
                var value = Number($(this).prev("input[name='count_user']").val());
                if (!isNaN(value)) {
                    value++;
                    $(this).prev("input[name='count_user']").val(value);
                }
                priceCal($(this).parents("tr"));
            });

            $(document).on('click', '.ui-counter .reduce', function () {
                var value = Number($(this).next("input[name='count_user']").val());
                if (!isNaN(value)) {
                    value--;
                    if (value <= 1) {
                        value = 1;
                    }
                    $(this).next("input[name='count_user']").val(value);
                }
                priceCal($(this).parents("tr"));
            });

            //提交
            form.on('submit(saveSubmit)', function (data) {
                savedata(1);
            });

            //存草稿
            form.on('submit(saveInfo)', function (data) {
                savedata(2);
            });

            function savedata(n) {
                var packageDetailInfos = packageDetailInfo.html(); 
                if ($("#menuView>div").length <= 0) {
                    layer.msg("至少添加一个项目");
                    return false;
                } else if (allprice_temp <= 0) {
                    layer.msg("套餐价格必须大于0");
                    return false;
                } else if (packageDetailInfos.length < 1) {
                    layer.msg("请填写套餐详情");
                    return false;
                }

                var isHaveval = true;
                $("#menuView").find("input[name='PeojectName']").each(function () {
                    if ($.trim($(this).val()) <= 0) {
                        if (isHaveval) {
                            isHaveval = false;
                        }
                    }
                })
                var optionUrl = n == 1 ? submitUrl : draftUrl;

                if (isSubmit) {
                    isSubmit = false;
                    layer.confirm(((isHaveval ? "" : "项目名称为空的项目将被舍弃，") + '是否确定提交？'), function (index) {
                        var param = {
                            ProductId: $("#ProductId").val(),
                            PackageDetailInfo: packageDetailInfos,
                            ProductForCateringPackageProjectDto: getProject()
                        }; 
                        $.ajax({
                            url: optionUrl,
                            type: "post",
                            data: param, 
                            success: function (res) {
                                isSubmit = true;
                                if (res.IsSuccess) {
                                    layer.msg("保存成功", {
                                        icon: 1
                                        , time: 1000
                                    }, function () {
                                        location.href = homeUrl;
                                    });
                                } else {
                                    layer.msg(res.Info, {
                                        icon: 2
                                        , time: 2000
                                    });
                                }
                            },
                            complete: function () {
                                isSubmit = true;
                            }
                        });
                        layer.close(index);
                    });
                }
            }
             
            function getProject() {
                var pro_value = [];
                if ($("#menuView .menu-item").length > 0) {
                    $("#menuView .menu-item").each(function () {
                        var pro_name = $.trim($(this).find("input[name='PeojectName']").val());
                        if (pro_name.length > 0) {
                            var con_val = [];
                            if ($(this).find("tr").length > 1) {
                                $(this).find("tr").each(function () {
                                    var f_id = $(this).attr("temp_id");
                                    if (f_id != undefined) {
                                        var f_na = $(this).attr("temp_na");
                                        var f_price = parseFloat($(this).attr("temp_price"));
                                        var f_count = parseInt($(this).find("input[name='count_user']").val());
                                        var f_subprice = f_price * f_count;
                                        var con_val_obj = { FoodId: f_id, FoodName: f_na, Quantity: f_count, Price: f_price, SubTotalPrice: f_subprice };
                                        con_val.push(con_val_obj);
                                    }
                                })
                                var pro_val_obj = { PeojectName: pro_name, ProductForCateringPackageProjectConDto: con_val };
                                pro_value.push(pro_val_obj);
                            } 
                        }
                    });
                }
                return pro_value;
            }
        })

        function deletediv(_this) {
            $(_this).parents(".menu-item").remove();
            allPriceCal();
        }

        function deletetr(_this) {
            var obj = $(_this).parents(".menu-item");
            var trCount = $(_this).parents("table").find("tr").length;
            $(_this).parents("tr").remove();
            if (trCount - 1 <= 1) {
                obj.remove();
            }
            allPriceCal();
        }

        function priceCal(_this) {
            var allprice = 0;
            var price = parseFloat($(_this).attr("temp_price"));
            var count = parseInt($(_this).find("input[name='count_user']").val());
            allprice = price * count;
            $(_this).find("td:eq(3)").html(parseFloat(allprice).toFixed(2));
            allPriceCal();
        }

        if ($("#menuView").find("tr").length > 0) {
            allPriceCal();
        }

        function allPriceCal() {
            var allprice = 0;
            $("#menuView").find("tr").each(function () {
                if ($(this).attr("temp_id") != undefined) {
                    var price = parseFloat($(this).attr("temp_price"));
                    var count = parseInt($(this).find("input[name='count_user']").val());
                    allprice += price * count;
                }
            })
            $("#allPrice").html("￥" + parseFloat(allprice).toFixed(2));
            allprice_temp = allprice;
        }
    </script>
}

