
@{
    ViewBag.Title = "退换货详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  RefundableRecordDetail
<div class="main-wrap refund-detail-style">
    <div class="panel">
        <div class="panel-title">
            订单信息
        </div>
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row row-3">
                    <div class="item">
                        <span class="label">单号</span>
                        <span class="text">@Model.RefundableRecord.RefundableNo</span>
                    </div>
                    <div class="item">
                        <span class="label">提交日期</span>
                        <span class="text">@Model.RefundableRecord.CreatorTime.ToDateTimeString()</span>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="item">
                        <span class="label">状态</span>
                        <span class="text">@EnumDescriptionHelper.GetDescription((RefundableStatusEnum)Model.RefundableRecord.Status)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">
            退货信息
        </div>
        <div class="panel-body no-padding">
            <div class="row row-3">
                <div class="item">
                    <span class="label">退货原因：</span>
                    <span class="text">@Model.RefundableRecord.Reason</span>
                </div>
            </div>
            <table class="layui-table" id="table"></table>
        </div>
    </div>
    <div class="panel img-panel">
        <div class="panel-title">
            图片信息
        </div>
        <div class="panel-body">
            @if (Model.FileList != null && Model.FileList.Any())
            {
                foreach (var item in Model.FileList)
                {
                    <div class="img-item"><img src=" @(item.FilePath)" alt=""></div>
                }
            }

        </div>
    </div>
    <div class="panel">
        <div class="panel-title">
            订单日志
        </div>
        <div class="panel-body">
            <ul class="layui-timeline">
                @if (Model.LogList != null && Model.LogList.Any())
                {
                    foreach (var item in Model.LogList)
                    {
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">@item.CreatorTime.ToDateTimeString()</h3>
                                <p>
                                    @item.BusinessName
                                </p>
                            </div>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    layui.use(['jquery', 'table', 'layer'], function () {
        //var $ = layui.$;
        var table = layui.table;
        var json = '['+'@Html.Raw(Model.RefundableRecord.ToJson())'+']';
        var jsonObj =eval('(' + json + ')');
        table.render({
            elem: '#table',
            data: jsonObj
            , cols: [[{ field: 'ProductName', title: '产品信息', sort: true }
                , { field: 'ProductQuantity', title: '退货数量', sort: true }
            ]]

        });
    })
</script>