@{
    ViewBag.Title = "新闻公告";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.ArticleCategories as List<ArticleCategoryDto>;
}
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form margin-top-10">
                <div class="layui-form-item ">
                    <label class="layui-form-label">栏目</label>
                    <div class="layui-input-inline">
                        <select name="classifyId" id="classifyId">
                            <option value=""></option>
                            @foreach (var item in categories)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="title">
                    </div>
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="dateRange">
                    </div>
                    <button class="layui-btn layui-btn-warm" data-type="reload">查询</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="article-table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
</script>
<script>
    layui.use(['jquery', 'table', 'laydate'], function () {

        var table = layui.table;
        var laydate = layui.laydate

        laydate.render({
            elem: '#dateRange'
            , range: true
            ,  max: '@(DateTime.Now.ToDateString())'
            , change: function (value, date, endDate) {
                $('#dateRange').val(value);
                $('#layui-laydate1').remove();
            }
        });

        //实例表格
        var tableOptions = {
            elem: '#article-table'
            , skin: 'line'
            , limit: 20
            , url: '@Url.Action("ArticleList", "Article")'//数据
            , page: true //开启分页
            , cols: [[ //表头{ field: 'Title', title: '标题', }
                , { field: 'ClassifyName', title: '栏目', }
                , { field: 'CreatorAccount', title: '发布者' }
                , { field: 'CreatorTime', title: '发布日期' }
                , { title: '操作', toolbar: '#tableTool', width: 150 }
            ]]
        }
        table.render(tableOptions)

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('article-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        ClassifyId: $("#classifyId").val(),
                        Title: $('#title').val(),
                        DateStr: $('#dateRange').val()
                    }
                });
            }
        };

        $('.panel .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'detail') {
                location.href = "@Url.Action("Detail", "Article")?id=" + data.ArticleId;
            }
        })
    })
</script>

