@{
    Layout = null;
    var baseController = ((EnrolmentPlatform.Project.Client.TrainingInstitutions.Controllers.BaseController)this.ViewContext.Controller);

    //当前角色权限
    List<EnrolmentPlatform.Project.DTO.Systems.RolePermissionDto> allRoleList = null;
    if (baseController.IsMaster == true)
    {
        //主账户查找所有权限
        allRoleList = EnrolmentPlatform.Project.Client.TrainingInstitutions.Filter.LoginInfoHandle.GetAllPermissionList();
    }
    else
    {
        //否则查询当前用户权限
        allRoleList = EnrolmentPlatform.Project.Client.TrainingInstitutions.Filter.LoginInfoHandle.GetUserPermissions();
    }

    //当前模块ID
    Guid curMoudleId = EnrolmentPlatform.Project.Client.TrainingInstitutions.Filter.LoginInfoHandle.GetMoudleId(this.ViewContext.RouteData);
    var moduleList = allRoleList.Where(a => a.Level == 1).OrderBy(a => a.Sort).ToList();
}
<div class="top-wrap">
    <div class="logo" style="margin-left:18px;font-size: 18px;font-weight: bold;">
        @*<img src="~/Content/website/images/home_logo.png" onclick="window.location.href='@Url.Action("Index","Home",new { area=""})'" style="max-height:43px;"/>*@
        招生机构管理后台
    </div>
    <div class="nav">
        @foreach (var item in moduleList)
        {
            //查找下面第一个界面作作为模块默认界面
            EnrolmentPlatform.Project.DTO.Systems.RolePermissionDto menuDto = null;
            var firstDto = allRoleList.Where(a => a.ParentId == item.Id).OrderBy(a => a.Sort).FirstOrDefault();
            if (firstDto == null)
            {
                continue;
            }
            else
            {
                if (firstDto.Level == 3)
                {
                    menuDto = firstDto;
                }
                else
                {
                    menuDto = allRoleList.FirstOrDefault(a => a.ParentId == firstDto.Id);
                }
            }

            if (menuDto != null)
            {
            <a href="@Url.Action(menuDto.Action, menuDto.Controller, new { area = menuDto.Area })" @(curMoudleId == item.Id ? "class=active" : "")>
                <i class="iconfont @item.Icon"></i>
                @item.Name
            </a>
            }
        }
    </div>
</div>
