@{
    ViewBag.Title = "证件明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OrderDto dto = ViewBag.OrderInfo;
    OrderImageDto imageDto = ViewBag.ImageDto;
    List<int> imageTypes = ViewBag.ImageTypes;
}
<style type="text/css">
    .info-cell .row .item .label {
        margin-right: 10px;
    }

    .info-cell .row .item {
        margin-left: 25px;
    }

    .info-cell .row .item .orderImg {
        width: 250px;
        /*border: 1px solid #808080;*/
        cursor: pointer;
        height: 168px;
    }

    .info-cell .row .item .imgDiv {
        width: 250px;
        height: 175px;
    }

    .info-cell .orderrow .label {
        width: 102px;
        height: 170px;
    }

    .info-cell .orderrow .uploadDiv {
        margin-top: 10px;
        text-align: center;
    }
</style>
<div class="main-wrap">
    <div class="panel layui-form">
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row">
                    <div class="item" style="margin-left:0px;">
                        <span class="label">学生姓名：</span>
                        <span class="text">@((dto != null) ? dto.StudentName : "")</span>
                    </div>
                    <div class="item">
                        <span class="label">身份证号：</span>
                        <span class="text">@((dto != null) ? dto.IDCardNo : "")</span>
                    </div>
                    <div class="item">
                        <span class="label">招生老师：</span>
                        <span class="text">@((dto != null) ? dto.UserName : "")</span>
                    </div>
                    <div class="item">
                        <span class="label">批次信息：</span>
                        <span class="text">@ViewBag.BatchName</span>
                    </div>
                    <div class="item">
                        <span class="label">学籍信息：</span>
                        <span class="text">@ViewBag.BiYeInfo</span>
                    </div>
                </div>
                <div class="row orderrow">
                    @if (imageTypes.Contains(1))
                    {
                        <div class="item" style="margin-left: 0px;">
                            <span class="label">身份证正面：<span style="color:red;">(开放大学正反合并一张，上传一份即可)</span></span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image1" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.IDCard1) ? imageDto.IDCard1 : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button1" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传身份证正面
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    @if (imageTypes.Contains(2))
                    {
                        <div class="item">
                            <span class="label">身份证反面：</span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image2" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.IDCard2) ? imageDto.IDCard2 : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button2" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传身份证反面
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    @if (imageTypes.Contains(3))
                    {
                        <div class="item">
                            <span class="label">两寸蓝底：</span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image3" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.LiangCunLanDiImg) ? imageDto.LiangCunLanDiImg : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button3" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传两寸蓝底
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row orderrow">
                    @if (imageTypes.Contains(4))
                    {
                        <div class="item" style="margin-left: 0px;">
                            <span class="label">毕业证：</span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image4" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.BiYeZhengImg) ? imageDto.BiYeZhengImg : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button4" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传毕业证
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    @if (imageTypes.Contains(5))
                    {
                        <div class="item">
                            <span class="label">社保/居住证正：<span style="color:red;">(开放大学正反合并一张，上传一份即可)</span></span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image5" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.MianKaoYingYuImg) ? imageDto.MianKaoYingYuImg : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button5" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传社保/居住证正面
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    @if (imageTypes.Contains(6))
                    {
                        <div class="item">
                            <span class="label">社保/居住证反：</span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image6" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.MianKaoJiSuanJiImg) ? imageDto.MianKaoJiSuanJiImg : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button6" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传社保/居住证反面
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row orderrow">
                    @if (imageTypes.Contains(7))
                    {
                        <div class="item" style="margin-left: 0px;">
                            <span class="label">教育部学历证书电子备案表：</span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image7" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.XueXinWangImg) ? imageDto.XueXinWangImg : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button7" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传教育部学历证书电子备案表
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    @if (imageTypes.Contains(8))
                    {
                        <div class="item">
                            <span class="label">录取通知书：</span>
                            <div class="text">
                                <div class="imgDiv">
                                    <img id="image8" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.TouXiang) ? imageDto.TouXiang : "/Content/Website/images/nopic.png")" />
                                </div>
                                <div class="uploadDiv">
                                    <button type="button" id="Button8" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                        <i class="layui-icon"></i>上传录取通知书
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="item">
                        <span class="label">其他：</span>
                        <div class="text">
                            <div class="imgDiv">
                                <img id="image9" class="orderImg" src="@(!string.IsNullOrWhiteSpace(imageDto.QiTa)?imageDto.QiTa:"/Content/Website/images/nopic.png")" />
                            </div>
                            <div class="uploadDiv">
                                <button type="button" id="Button9" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                    <i class="layui-icon"></i>上传其他照片
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="item" style="margin-left: 0px;">
                        <span class="label">其他附件：</span>
                        <div class="uploadDiv">
                            <button type="button" id="Button10" class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm img-oper-holder">
                                <i class="layui-icon"></i>上传附件
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="width: 500px;">
                    <table id="table" lay-filter="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidOrderId" value='@((dto != null) ? dto.OrderId.Value.ToString() :"")' />
<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/javascript">
    layui.config({
        base: '/Content/Website/cropper/' //layui自定义layui组件目录
    }).use(['jquery', 'layer', 'table', 'croppers', 'upload'], function () {
        var layer = layui.layer
        ,table = layui.table
        ,croppers = layui.croppers
        ,upload = layui.upload;

        table.render({
            elem: '#table'
            , url: "@Url.Action("FileList", "Image",new { orderId = dto.OrderId })" //数据
            , cols: [[
                { field: 'FileName', title: '文件名', templet: '<div><a href="{{d.FilePath}}" target="_blank" class="layui-table-link">{{d.FileName}}</a></div>' }
                , { title: '操作', toolbar: '#tableTool', width: 80 }
            ]]
        });

        var orderId = $('#hidOrderId').val();
        //身份证件正面
        croppers.render({
            elem: '#Button1'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 1
            , pic: $('#image1').attr("src")
            , done: function (url) { //上传完毕回调
                $("#image1").attr("src", url);
            }
        });
        //身份证反面
        croppers.render({
            elem: '#Button2'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 2
            , pic: $('#image2').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image2').attr("src", url)
            }
        });
        //两寸蓝底
        croppers.render({
            elem: '#Button3'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 3
            , pic: $('#image3').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image3').attr("src", url)
            }
        });
        //毕业证
        croppers.render({
            elem: '#Button4'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 4
            , pic: $('#image4').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image4').attr("src", url)
            }
        });
        //社保/居住证正面
        croppers.render({
            elem: '#Button5'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 5
            , pic: $('#image5').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image5').attr("src", url)
            }
        });
        //社保/居住证反面
        croppers.render({
            elem: '#Button6'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 6
            , pic: $('#image6').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image6').attr("src", url)
            }
        });
        //教育部学历证书电子备案表
        croppers.render({
            elem: '#Button7'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 7
            , pic: $('#image7').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image7').attr("src", url)
            }
        });
        //录取通知书
        croppers.render({
            elem: '#Button8'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 8
            , pic: $('#image8').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image8').attr("src", url)
            }
        });
        //其他
        croppers.render({
            elem: '#Button9'
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: "/Image/SaveImage"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , forId: orderId
            , imgType: 9
            , pic: $('#image9').attr("src")
            , done: function (url) { //上传完毕回调
                $('#image9').attr("src", url)
            }
        });
        //上传附件
        upload.render({
            elem: '#Button10'
            , url: "/Image/SaveAttachment" //改成您自己的上传接口
            , accept: 'file' //普通文件
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            , data: {
                orderId: orderId
            }
            , done: function (data) {
                if (data.ret == false) {
                    layer.msg(data.msg, {
                        icon: 2,
                        time: 2000
                    });
                }
                else {
                    layer.msg("上传成功！", {
                        icon: 1,
                        time: 2000
                    });
                    table.reload('table');
                }
                layer.closeAll('loading'); //关闭loading
            }
            , error: function (index, upload) {
                layer.closeAll('loading'); //关闭loading
            }
        });

        //监听工具条
        table.on('tool(table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                layer.confirm('您确定要删除该文件吗？', function (index) {
                    $.ajax({
                        url: '@Url.Action("DeleteFile", "Image")',
                        data: { id: data.Id },
                        dataType: 'json',
                        type: 'post',
                        success: function (result) {
                            if (result.ret == 1) {
                                layer.msg('删除成功。', {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload("table");
                                });
                            }
                            else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 2000
                                });
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });

        $(".orderImg").click(function () {
            window.open($(this).attr("src"));
        });
    });
</script>

