
@{
    ViewBag.Title = "批次管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-body">
            <button data-type="add" id="add" class="layui-btn layui-btn-normal layui-btn-small add">+添加</button>
            <button data-type="delete" id="delete" class="layui-btn layui-btn-danger layui-btn-small a4">删除</button>
            <table id="batchtable" lay-filter="batch"></table>
        </div>
    </div>
</div>
<!--弹出框-->
<div id="btn-modal" style="display:none">
    <div class="layui-form margin-top-20">
        <div class="layui-form-item big-label">
            <label class="layui-form-label">批次名称</label>
            <div class="layui-input-inline">
                <input type="text" id="batchName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item big-label">
            <label class="layui-form-label">时间段</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="date" autocomplete="off" placeholder=" - ">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="operat">
    <i class="layui-icon" lay-event="update" style="font-size: 20px;color: #009688;cursor: pointer;">&#xe642;</i>
</script>
<script type="text/html" id="dateTpl">
    {{#  if(d.StartDate != null && d.EndDate != null){ }}
    <span>{{d.StartDate.substring(0, 10)}} - {{d.EndDate.substring(0, 10)}}</span>
    {{#  } }}
</script>
<script>
    var isSubmit = true;
    layui.use(['table', 'laydate'], function () {
        var table = layui.table, laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#date'
            , range: true
        });
        //第一个实例
        table.render({
            id: 'sid'
            , elem: '#batchtable'
            , url: '@Url.Action("MetadataList", "Metadata", new { Type= MetadataTypeEnum.Batch })'
            , page: true //开启分页
            , cols: [[ //标题栏
                { title: '批次信息', colspan: 5 } //rowspan即纵向跨越的单元格数
            ], [ //标题栏
                { type: 'checkbox' }
                , { type: 'numbers', title: '序号' }
                , { field: 'Name', title: '批次名称' }
                , { title: '时间段', templet: '#dateTpl' }
                , { title: '操作', width: 80, templet: '#operat' }
            ]]
        });
        //监听工具条
        table.on('tool(batch)', function (obj) {
            var data = obj.data;
            if (obj.event === 'update') {
                $("#batchName").val(data.Name);
                if (data.StartDate != null && data.EndDate != null) {
                    $("#date").val(data.StartDate.substring(0, 10) + " - " + data.EndDate.substring(0, 10));
                } else {
                    $("#date").val("");
                }
                layer.open({
                    type: 1,
                    title: '修改批次',
                    btn: ['确定', '取消'],
                    area: ['400px', '300px'], //宽高
                    content: $('#btn-modal'),
                    yes: function () {
                        var batchName = $.trim($("#batchName").val());
                        if (batchName.length == 0) {
                            layer.msg("请输入批次名称！");
                            return false;
                        }
                        if ($.trim($("#date").val()).length == 0) {
                            layer.msg("请输入时间段！");
                            return false;
                        }
                        var startDate = $("#date").val().split(" - ")[0];
                        var endDate = $("#date").val().split(" - ")[1];
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: "@Url.Action("UpdateMetadata", "Metadata")",
                                type: "post",
                                data: { Id: data.Id, Name: batchName, StartDate: startDate, EndDate: endDate },
                                dataType: "json",
                                success: function (res) {
                                    if (res.IsSuccess) {
                                        layer.msg("保存成功", {
                                            icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('sid');
                                            layer.closeAll();
                                        });
                                    } else {
                                        layer.msg(res.Info, {
                                            icon: 2
                                            , time: 2000
                                        });
                                    }
                                },
                                complete: function () {
                                    isSubmit = true;
                                }
                            });
                        }
                    },
                    btn2: function () {
                    }
                });
            }
        });

        var active = {
            delete: function () { //获取选中数据
                var checkStatus = table.checkStatus('sid')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("请选择要删除的数据");
                } else {
                    var idArr = new Array();
                    $.each(data, function (k, v) {
                        idArr.push(v.Id);
                    })
                    layer.open({
                        title: "删除操作"
                        , content: '您确认要删除吗？'
                        , btn: ['确认', '取消']
                        , yes: function (index, layero) {
                            $.ajax({
                                url: '@Url.Action("DeleteMetadata", "Metadata")',
                                data: { idList: idArr },
                                dataType: 'json',
                                type: 'post',
                                success: function (data) {
                                    layer.msg(data.Info);
                                    if (data.IsSuccess) {
                                        setTimeout(function () {
                                            table.reload('sid');
                                        }, 800);
                                    }
                                }
                            })
                        }
                        , btn2: function (index, layero) {
                            layer.closeAll();
                        }
                    });
                }
            },
            add: function () {
                $("#batchName").val("");
                $("#date").val("");
                layer.open({
                    type: 1,
                    title: '添加批次',
                    btn: ['确定', '取消'],
                    area: ['400px', '300px'], //宽高
                    content: $('#btn-modal'),
                    yes: function () {
                        var batchName = $.trim($("#batchName").val());
                        if (batchName.length == 0) {
                            layer.msg("请输入批次名称！");
                            return false;
                        }
                        if ($.trim($("#date").val()).length == 0) {
                            layer.msg("请输入时间段！");
                            return false;
                        }
                        var startDate = $("#date").val().split(" - ")[0];
                        var endDate = $("#date").val().split(" - ")[1];
                        if (isSubmit) {
                            isSubmit = false;
                            $.ajax({
                                url: "@Url.Action("AddMetadata", "Metadata")",
                                type: "post",
                                data: { Name: batchName, Type: "@MetadataTypeEnum.Batch", StartDate: startDate, EndDate: endDate },
                                dataType: "json",
                                success: function (res) {
                                    if (res.IsSuccess) {
                                        layer.msg("保存成功", {
                                            icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('sid');
                                            layer.closeAll();
                                        });
                                    } else {
                                        layer.msg(res.Info, {
                                            icon: 2
                                            , time: 2000
                                        });
                                    }
                                },
                                complete: function () {
                                    isSubmit = true;
                                }
                            });
                        }
                    },
                    btn2: function () {
                    }
                });
            }
        };
        $('#delete,#add').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

