
@{
    ViewBag.Title = "学校管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-body">
            <button data-type="add" id="add" class="layui-btn layui-btn-normal layui-btn-small add">+添加</button>
            <button data-type="delete" id="delete" class="layui-btn layui-btn-danger layui-btn-small a4">删除</button>
            <button data-type="config" id="config" class="layui-btn layui-btn-small a4">配置层次及专业</button>
            <button data-type="charge" id="charge" class="layui-btn layui-btn-small a4">设置费用策略</button>
            <button data-type="stock" id="stock" class="layui-btn layui-btn-small a4">设置招生库存</button>
            <button data-type="addCustomerField" id="addCustomerField" class="layui-btn layui-btn-small a4">添加自定义字段</button>
            <table id="schooltable" lay-filter="school"></table>
        </div>
    </div>
</div>
<!--弹出框-->
<div id="btn-modal" style="display:none">
    <div class="layui-form margin-top-20">
        <div class="layui-form-item big-label">
            <label class="layui-form-label">学校名称</label>
            <div class="layui-input-inline">
                <input type="text" id="schoolName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item big-label">
            <label class="layui-form-label">学习形式</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="tags" value="自考" title="自考">
                <input type="checkbox" name="tags" value="成考" title="成考">
                <input type="checkbox" name="tags" value="网教" title="网教">
                <input type="checkbox" name="tags" value="开放" title="开放">
                <input type="checkbox" name="tags" value="全日制" title="全日制">
                <input type="checkbox" name="tags" value="中专" title="中专">
                <input type="checkbox" name="tags" value="研究生" title="研究生">
                <input type="checkbox" name="tags" value="资格证书" title="资格证书">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="operat">
    <i class="layui-icon" lay-event="update" style="font-size: 20px;color: #009688;cursor: pointer;">&#xe642;</i>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.Id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="statusFilter" {{ d.IsEnable == true ? 'checked' : '' }}>
</script>
<script>
    var isSubmit = true;
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form;
        //第一个实例
        table.render({
            id: 'sid'
            , elem: '#schooltable'
            , url: '@Url.Action("MetadataList", "Metadata", new { Type= MetadataTypeEnum.School })'
            , page: true //开启分页
            , cols: [[ //标题栏
                { title: '学校信息', colspan: 6 } //rowspan即纵向跨越的单元格数
            ], [ //标题栏
                { type: 'checkbox' }
                , { type: 'numbers', title: '序号' }
                , { field: 'Name', title: '学校名称' }
                , { field: 'Tags', title: '学习形式' }
                , { field: 'IsEnable', title: '启用/禁用', templet: '#status' }
                , { title: '操作', width: 80, fixed: 'right', templet: '#operat' }
            ]]
        });

        //监听工具条
        table.on('tool(school)', function (obj) {
            var data = obj.data;
            if (obj.event === 'update') {
                $("#schoolName").val(data.Name);
                if (data.Tags != null) {
                    $("input:checkbox[name='tags']").each(function () {
                        if (data.Tags.indexOf($(this).val()) > -1) {
                            $(this).prop("checked", true);
                        }
                    });
                } else {
                    $("input:checkbox[name='tags']").prop("checked", false);
                }
                form.render('checkbox');
                layer.open({
                    type: 1,
                    title: '修改学校',
                    btn: ['确定', '取消'],
                    area: ['400px', '400px'], //宽高
                    content: $('#btn-modal'),
                    yes: function () {
                        var schoolName = $.trim($("#schoolName").val());
                        var arr = new Array();
                        $("input:checkbox[name='tags']:checked").each(function () {
                            arr.push($(this).val());
                        });
                        if (schoolName.length > 0) {
                            if (isSubmit) {
                                isSubmit = false;
                                $.ajax({
                                    url: "@Url.Action("UpdateMetadata", "Metadata")",
                                    type: "post",
                                    data: { Id: data.Id, Name: schoolName, Tags: arr.join(',') },
                                    dataType: "json",
                                    success: function (res) {
                                        if (res.IsSuccess) {
                                            layer.msg("保存成功", {
                                                icon: 1
                                                , time: 1000
                                            }, function () {
                                                table.reload('sid');
                                                layer.closeAll();
                                            });
                                        } else {
                                            layer.msg(res.Info, {
                                                icon: 2
                                                , time: 2000
                                            });
                                        }
                                    },
                                    complete: function () {
                                        isSubmit = true;
                                    }
                                });
                            }
                        } else {
                            layer.msg("请输入学校名称！");
                        }
                    },
                    btn2: function () {
                    }
                });
            }
        });

        var active = {
            delete: function () { //获取选中数据
                var checkStatus = table.checkStatus('sid')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("请选择要删除的数据");
                } else {
                    var idArr = new Array();
                    $.each(data, function (k, v) {
                        idArr.push(v.Id);
                    })
                    layer.open({
                        title: "删除操作"
                        , content: '您确认要删除吗？'
                        , btn: ['确认', '取消']
                        , yes: function (index, layero) {
                            $.ajax({
                                url: '@Url.Action("DeleteMetadata", "Metadata")',
                                data: { idList: idArr },
                                dataType: 'json',
                                type: 'post',
                                success: function (data) {
                                    layer.msg(data.Info);
                                    if (data.IsSuccess) {
                                        setTimeout(function () {
                                            table.reload('sid');
                                        }, 800);
                                    }
                                }
                            })
                        }
                        , btn2: function (index, layero) {
                            layer.closeAll();
                        }
                    });
                }
            },
            config: function () { //获取选中数据
                var checkStatus = table.checkStatus('sid')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("请选择要配置的数据");
                } else if (data.length > 1) {
                    layer.msg("请选择单行数据");
                } else {
                    location.href = "@Url.Action("SchoolConfig", "Metadata")?schoolId=" + data[0].Id;
                }
            },
            charge: function () { //获取选中数据
                var checkStatus = table.checkStatus('sid')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("请选择要配置的数据");
                } else if (data.length > 1) {
                    layer.msg("请选择单行数据");
                } else {
                    $.get("@Url.Action("ConfigIsExist", "Metadata")", { schoolId: data[0].Id },
                        function (result) {
                            if (result == true) {
                                location.href = "@Url.Action("ChargeStrategy", "Metadata")?schoolId=" + data[0].Id;
                            }
                            else {
                                layer.msg("请先配置层次及专业");
                            }
                        });
                }
            },
            stock: function () { //获取选中数据
                var checkStatus = table.checkStatus('sid')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("请选择要设置库存的数据");
                } else if (data.length > 1) {
                    layer.msg("请选择单行数据");
                } else {
                    $.get("@Url.Action("ConfigIsExist", "Metadata")", { schoolId: data[0].Id },
                        function (result) {
                            if (result == true) {
                                location.href = "@Url.Action("StockSetting", "Metadata")?schoolId=" + data[0].Id;
                            }
                            else {
                                layer.msg("请先配置层次及专业");
                            }
                        });
                }
            },
            addCustomerField: function () { //获取选中数据
                var checkStatus = table.checkStatus('sid')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("请选择要设置自定义字段的数据");
                } else if (data.length > 1) {
                    layer.msg("请选择单行数据");
                } else {
                    location.href = "@Url.Action("CustomerField", "Metadata")?schoolId=" + data[0].Id;
                }
            },
            add: function () {
                $("#schoolName").val("");
                $("input:checkbox[name='tags']").prop("checked", false);
                form.render('checkbox');
                layer.open({
                    type: 1,
                    title: '添加学校',
                    btn: ['确定', '取消'],
                    area: ['400px', '400px'], //宽高
                    content: $('#btn-modal'),
                    yes: function () {
                        var schoolName = $.trim($("#schoolName").val());
                        var arr = new Array();
                        $("input:checkbox[name='tags']:checked").each(function () {
                            arr.push($(this).val());
                        });
                        if (schoolName.length > 0) {
                            if (isSubmit) {
                                isSubmit = false;
                                $.ajax({
                                    url: "@Url.Action("AddMetadata", "Metadata")",
                                    type: "post",
                                    data: { Name: schoolName, Type: "@MetadataTypeEnum.School", Tags: arr.join(',') },
                                    dataType: "json",
                                    success: function (res) {
                                        if (res.IsSuccess) {
                                            layer.msg("保存成功", {
                                                icon: 1
                                                , time: 1000
                                            }, function () {
                                                table.reload('sid');
                                                layer.closeAll();
                                            });
                                        } else {
                                            layer.msg(res.Info, {
                                                icon: 2
                                                , time: 2000
                                            });
                                        }
                                    },
                                    complete: function () {
                                        isSubmit = true;
                                    }
                                });
                            }
                        } else {
                            layer.msg("请输入学校名称！");
                        }
                    },
                    btn2: function () {
                    }
                });
            }
        };
        $('.panel .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听启用/禁用
        form.on('switch(statusFilter)', function (obj) {
            var status = obj.elem.checked;
            $.ajax({
                url: "@Url.Action("EnableOrDisable", "Metadata")",
                type: 'Post',
                async: false,
                dataType: 'json',
                data: { id: this.value, isEnable: status },
                success: function (result) {
                    if (result.IsSuccess) {
                        var msg = status == true ? '启用成功' : '禁用成功';
                        layer.alert(msg);
                    } else {
                        layer.msg(result.Info);
                    }
                }
            })
        });
    });
</script>

