@{
    ViewBag.Title = "设置招生库存";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<EnrolmentPlatform.Project.DTO.Accounts.SupplierListDto> institutionList = ViewBag.InstitutionList;
}
<link href="~/Content/website/js/jsTree/style.min.css" rel="stylesheet" />
<script src="~/Content/website/js/jsTree/jstree.min.js"></script>
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            设置招生库存
        </div>
        <div class="panel-body" style="display:flex">
            <div class="layui-form margin-top-10" style="width:45%;">
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <div id="using_json0"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-primary" onclick="javascript:window.history.go(-1);">返回</button>
                    </div>
                </div>
            </div>
            <div class="layui-form margin-top-10" style="width:55%;">
                <table id="chargetable" lay-filter="charge"></table>
            </div>
        </div>
    </div>
</div>
<form class="layui-form margin-top-20" id="from_Add" style="display:none;">
    <input type="hidden" id="StockSettingId" name="StockSettingId" value="">
    <input type="hidden" id="SchoolId" name="SchoolId" value="@ViewBag.SchoolId">
    <input type="hidden" id="LevelId" name="LevelId" value="">
    <input type="hidden" id="MajorId" name="MajorId" value="">
    <div class="layui-form-item">
        <label class="layui-form-label">库存名称：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="Name" name="Name" maxlength="20" lay-verify="required" autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开始时间：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="StartDate" name="StartDate" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">截至时间：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="EndDate" name="EndDate" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">库存数量：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="Inventory" name="Inventory" lay-verify="required|number">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">已用库存：</label>
        <div class="layui-input-inline">
            <span id="UsedInventory">0</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
        </div>
    </div>
</form>
<script type="text/html" id="operat">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/javascript">
    layui.use(['table', 'jquery', 'laydate', "form"], function () {
        var table = layui.table;
        var $ = layui.$;
        var laydate = layui.laydate;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#StartDate' //指定元素
        });
        laydate.render({
            elem: '#EndDate' //指定元素
        });

        //实例表格
        function RenderTable(levelId, majorId) {
            var url = '@Url.Action("StockSettingList", "Metadata", new { schoolId = ViewBag.SchoolId })&levelId=' + levelId + '&majorId=' + majorId;
            table.render({
                elem: '#chargetable'
                , url: url
                , page: true //开启分页
                , cols: [[ //标题栏
                    { title: '专业库存列表', colspan: 6 } //rowspan即纵向跨越的单元格数
                    ], [ //标题栏
                     { field: 'Name', width: 177, title: '库存名称' }
                    , { field: 'StartDateStr', width: 102, title: '开始时间' }
                    , { field: 'EndDateStr', width: 102, title: '截至时间' }
                    , { field: 'Inventory', width: 90, title: '库存数量' }
                    , { field: 'UsedInventory', width: 90, title: '已用库存' }
                    , { title: '操作', width: 120, templet: '#operat' }
                ]]
            });
        }

        //监听工具条
        table.on('tool(charge)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                layer.confirm('您确认要删除吗？', function (index) {
                    $.ajax({
                        url: "@Url.Action("DeleteStockSetting", "Metadata")",
                        type: 'post',
                        async: false,
                        dataType: 'json',
                        data: { id: data.StockSettingId },
                        success: function (result) {
                            if (result.IsSuccess) {
                                table.reload('chargetable');
                            }
                            else {
                                layer.msg("删除失败！");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.msg("系统出现异常，请联系管理员！");
                        }
                    });
                    layer.close(index);
                });
            }
            if (obj.event === 'edit') {
                $("#Name ").val(data.Name);
                $("#StockSettingId ").val(data.StockSettingId);
                $("#EndDate").val(data.EndDateStr);
                $("#StartDate").val(data.StartDateStr);
                $("#Inventory").val(data.Inventory);
                $("#UsedInventory").text(data.UsedInventory);
                $("#LevelId").val(data.LevelId);
                $("#MajorId").val(data.MajorId);
                layer.open({
                    type: 1
                    , area: ['380px', '460px']
                    , title: "库存设置"
                    , content: $("#from_Add")
                });
            }
        });

        //提交表单
        form.on('submit(save)', function (data) {
            if (Date.parse(data.field.StartDate) > Date.parse(data.field.EndDate)) {
                layer.msg("开始时间不能大于截至时间", {
                    icon: 2,
                    time: 1200
                });
                return false;
            }
            $.ajax({
                url: '@Url.Action("SaveStockSetting", "Metadata")',
                type: 'post',
                data: data.field,
                dataType: "json",
                success: function (data) {
                    if (data.IsSuccess) {
                        layer.msg("保存成功", {
                            icon: 1,
                            time: 1200
                        }, function () {
                            table.reload('chargetable');
                            layer.closeAll();
                        });
                    }
                    else {
                        layer.msg(data.Info, {
                            icon: 2,
                            time: 1200
                        });
                    }
                }
            });
            return false;
        });

        $("#using_json0").jstree({
            "plugins": ["themes", "html_data", "contextmenu"],
            "contextmenu": {
                "items":
                {
                    "create": null,
                    "rename": null,
                    "remove": null,
                    "ccp": null,
                    "Add": {
                        "label": "库存设置", "action": function (data) {
                            var inst = $.jstree.reference(data.reference);
                            var obj = inst.get_node(data.reference);
                            $("#LevelId").val(obj.li_attr.parentId);
                            $("#MajorId").val(obj.li_attr.itemId);
                            $("#StockSettingId ").val("");
                            $("#Name ").val("");
                            $("#EndDate").val("");
                            $("#StartDate").val("");
                            $("#Inventory").val("");
                            $("#UsedInventory").text("0");
                            layer.open({
                                type: 1
                                , area: ['380px', '460px']
                                , title: "库存设置"
                                , content: $("#from_Add")
                            });
                        }, _disabled: function (data) {
                            var inst = $.jstree.reference(data.reference);
                            var obj = inst.get_node(data.reference);
                            if (obj.li_attr.level == 0) {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    }
                }
            },
            "core": {
                "multiple": false,//设置为单选
                "data": {
                    url: "@Url.Action("GetTreeData", "Metadata", new { schoolId = ViewBag.SchoolId })",
                    'data': function (node) {
                        return { 'id': node.id };
                    },
                    "cache": false
                }
            }
        });

        $("#using_json0").on("changed.jstree", function (e, data) {
            if (data.selected[0] != undefined) {
                var obj = data.instance.get_node(data.selected[0]);
                if (obj.li_attr.level != "0") {
                    RenderTable(obj.li_attr.parentId, obj.li_attr.itemId);
                }
            }
        }).jstree();
    });
</script>