
@{
    ViewBag.Title = "招生机构管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                @*<div class="layui-form-item ">
                    <label class="layui-form-label">启用状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="" title="全部" checked>
                        <input type="radio" name="status" value="@((int)StatusBaseEnum.Enabled)" title="已启用">
                        <input type="radio" name="status" value="@((int)StatusBaseEnum.Disabled)" title="已禁用">
                    </div>
                </div>*@
                <div class="layui-form-item ">
                    <label class="layui-form-label">招生机构</label>
                    <div class="layui-input-inline">
                        <input type="text" id="supplierName" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">登录账号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="loginAccount" autocomplete="off" class="layui-input">
                    </div>
                    <button type="button" class="layui-btn layui-btn-warm" data-type="reload">查询</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a href="@Url.Action("Option","Supplier",new { area="Account" })" class="layui-btn layui-btn-normal layui-btn-small">+添加</a>
            <button class="layui-btn layui-btn-danger layui-btn-small" data-type="delete">删除</button>
            <button data-type="config" id="config" class="layui-btn layui-btn-small a4">配置报考学校</button>
            <table id="supplier-table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="resetPwd">重置密码</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.SupplierId}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="statusFilter" {{ d.Status == 1 ? '' : 'checked' }}>
</script>
<script>
    layui.use(['jquery', 'table', 'layer','form'], function () {
        var table = layui.table;
        var form = layui.form;

        //实例表格
        var tableOptions = {
            elem: '#supplier-table'
            , url: '@Url.Action("SupplierList", "Supplier", new { Classify = SystemTypeEnum.TrainingInstitutions })'//数据
            , page: true //开启分页
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { type: 'numbers', title: '序号' }
                , { field: 'SupplierName', title: '招生机构', }
                , { field: 'LoginAccount', title: '账号' }
                , { field: 'Contact', title: '联系人' }
                , { field: 'Phone', title: '联系电话' }
                , { field: 'status', title: '状态', templet: '#status' }
                , { title: '操作', toolbar: '#tableTool', width: 150 }
            ]]
        }
        table.render(tableOptions)

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('supplier-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        Status: $("input[name=status]:checked").val(),
                        SupplierName: $('#supplierName').val(),
                        LoginAccount: $('#loginAccount').val()
                    }
                });
            },
            delete: function () {
                var checkStatus = table.checkStatus('supplier-table')
                    , data = checkStatus.data;
                if (data.length == 0) return false;
                layer.confirm('您确定要删除选中的招生机构吗？', function (index) {
                    var ckb_value = [];
                    for (var i = 0; i < data.length; i++) {
                        ckb_value.push(data[i].SupplierId);
                    }
                    var ajaxOption = {
                        url: "@Url.Action("DeleteSuppliers", "Supplier")",
                        type: 'Post',
                        async: false,
                        dataType: 'json',
                        data: { Ids: ckb_value },
				        success: function (result) {
                            if (result.IsSuccess) {
                                table.reload('supplier-table');
                            }
                            else {
                                layer.msg(result.Info);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.msg("系统出现异常，请联系管理员！");
                        }
                    }
                    $.ajax(ajaxOption);
                    layer.close(index);
                });
            },
            config: function () { //获取选中数据
                var checkStatus = table.checkStatus('supplier-table')
                    , data = checkStatus.data;
                if (data.length == 0 || data.length > 1) {
                    layer.msg("请选择一个招生机构");
                } else {
                    location.href = "@Url.Action("SchoolConfig", "Supplier")?enterpriseId=" + data[0].SupplierId;
                }
            }
        };

        $('.panel .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //radio 选择事件
        form.on("radio", function (data) {
            active["reload"].call(this);
        });
        table.on('tool(table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit') {
                location.href = "@Url.Action("Option", "Supplier")?supplierId=" + data.SupplierId;
            } else if (layEvent === 'resetPwd') {
                layer.confirm('您确定要为该招生机构账号重置密码吗？', function (index) {
                    var ajaxOption = {
                        url: "@Url.Action("ResetPassword", "Supplier")",
                        type: 'Post',
                        async: false,
                        dataType: 'json',
                        data: { supplierId: data.SupplierId },
				        success: function (result) {
                            if (result.IsSuccess) {
                                layer.msg("重置密码成功", {
                                    icon: 1
                                    , time: 1000
                                });
                            }
                            else {
                                layer.msg(result.Info);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.msg("系统出现异常，请联系管理员！");
                        }
                    }
                    $.ajax(ajaxOption);
                    layer.close(index);
                });
            }
        })

        //监听状态操作
        form.on('switch(statusFilter)', function (obj) {
            var status = obj.elem.checked;
            if (status) {
                status = @((int)StatusBaseEnum.Enabled);
            } else {
                status = @((int)StatusBaseEnum.Disabled);
            }
            $.ajax({
                url: "@Url.Action("UpdateSupplierStatus", "Supplier")",
                type: 'Post',
                async: false,
                dataType: 'json',
                data: { Ids: this.value, Status: status },
                success: function (result) {
                    if (result.IsSuccess) {
                        var msg = status == 1 ? '禁用成功' : '启用成功';
                        layer.alert(msg);
                    } else {
                        layer.msg(result.Info);
                    }
                }
            })
        });
    })
</script> 