@model EnterpriseAddDto
@{
    ViewBag.Title = Model.EnterpriseId.IsEmpty() ? "添加招生机构" : "编辑招生机构";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-wrap">
    <div class="layui-form">
        @Html.HiddenFor(t => t.EnterpriseId)
        <div class="panel">
            <div class="panel-title">
                基础信息
            </div>
            <div class="panel-body">
                <div class="layui-form">
                    <div class="layui-form-item required">
                        <label class="layui-form-label">招生机构</label>
                        <div class="layui-input-inline">
                            <input type="text" name="EnterpriseName" autocomplete="off" class="layui-input" lay-verify="required" value="@Model.EnterpriseName">
                        </div>
                    </div>
                    <div class="layui-form-item required">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Contact" autocomplete="off" class="layui-input" lay-verify="required" value="@Model.Contact">
                        </div>
                    </div>
                    <div class="layui-form-item required">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Phone" autocomplete="off" class="layui-input" lay-verify="required|phone" value="@Model.Phone">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-title">
                账号信息
            </div>
            <div class="panel-body">
                <div class="layui-form">
                    <div class="layui-form-item required">
                        <label class="layui-form-label">登录账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="UserAccount" autocomplete="off" class="layui-input" lay-verify="required" value="@Model.UserAccount">
                        </div>
                    </div>
                    <div class="layui-form-item userPwd required">
                        <label class="layui-form-label">登录密码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="UserPwd" value="abc123456" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-title">
                其它信息
            </div>
            <div class="panel-body">
                <div class="layui-form">
                    <div class="layui-form-item input-inline-400">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <textarea name="Remark" placeholder="请输入内容" class="layui-textarea">@Model.Remark</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
            <a href="@Url.Action("Index", "Supplier")" class="layui-btn layui-btn-primary">取消</a>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var isSubmit = true;
        layui.use(['jquery', 'form', 'laydate'], function () {
            var $ = layui.$;
            var form = layui.form;

            //编辑表单赋值
            if ("@(Model.EnterpriseId)" != "@Guid.Empty") {
                $("input[name=UserAccount]").attr("readonly", "readonly");
                $(".userPwd").addClass("layui-hide");
                $("input[name=UserPwd]").removeAttr("lay-verify");
            }

            form.on('submit(save)', function (data) {
                if (isSubmit) {
                    isSubmit = false;
                    $.ajax({
                        url: "@Url.Action("SaveSupplier", "Supplier")",
                        type: "post",
                        data: data.field,
                        dataType: "json",
                        success: function (res) {
                            if (res.IsSuccess) {
                                layer.msg("保存成功", {
                                    icon: 1
                                    , time: 1000
                                }, function () {
                                    location.href = "@Url.Action("Index", "Supplier")";
                                });
                            } else {
                                layer.msg(res.Info, {
                                    icon: 2
                                    , time: 2000
                                });
                            }
                        },
                        complete: function () {
                            isSubmit = true;
                        }
                    });
                }
            });
        })
    </script>
}