@{
    ViewBag.Title = "订单变更列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                <div class="layui-form-item flex">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select id="Status" name="Status" style="width:100px;">
                            <option value="">全部</option>
                            @foreach (var item in EnrolmentPlatform.Project.Infrastructure.EnumHelper.EnumDescriptionHelper.GetAllItemValueList<EnrolmentPlatform.Project.DTO.Enums.Orders.OrderApprovalStatusEnum, int>())
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                    <label class="layui-form-label">学生姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="StudentName" class="layui-input">
                    </div>
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="IDCard" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item flex">
                    <label class="layui-form-label">学生电话</label>
                    <div class="layui-input-inline">
                        <input type="text" id="Phone" class="layui-input">
                    </div>
                    <label class="layui-form-label">报考学校</label>
                    <div class="layui-input-inline">
                        <input type="text" id="SchoolName" class="layui-input">
                    </div>
                    <button class="layui-btn layui-btn-warm" type="button" id="search_btn" lay-submit="" lay-filter="s">查询</button>
                </div>
                <button class="layui-btn layui-btn-warm" lay-submit="" lay-filter="sb">提交</button>
                <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="d">删除</button>
            </div>
        </div>
        <div class="panel-body">
            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" target="_blank" href='@(Url.Action("OrderInfo","OrderUpdateApproval",new {Area="Order"}))?action=view&approvalId={{d.ApprovalId}}'>查看</a>
    {{# if(d.ApprovalStatus==0){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" target="_blank" href='@(Url.Action("OrderInfo","OrderUpdateApproval",new {Area="Order"}))?action=update&approvalId={{d.ApprovalId}}'>编辑</a>
    {{# } }}
</script>
<script type="text/javascript">
    var table, layer, laydate, form;
    layui.use(['jquery', 'table', 'laydate', 'layer'], function () {
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form = layui.form;

        //实例表格
        var tableOptions = {
            elem: '#table'
            , skin: 'line'
            , limit: 10
            , url: '@Url.Action("Search", "OrderUpdateApproval")'
            , page: true //开启分页
            , cols: [[ //表头
                { type: 'checkbox' }
                , { field: 'StudentName', title: '学生姓名', width: 100 }
                , { field: 'IDCardNo', title: '身份证号', width: 100 }
                , { field: 'BatchName', title: '批次', width: 130 }
                , { field: 'SchoolName', title: '院校', width: 150 }
                , { field: 'LevelName', title: '层次', width: 100 }
                , { field: 'MajorName', title: '专业', width: 180 }
                , { field: 'StatusName', title: '状态', width: 80 }
                , { field: 'CreateUserName', title: '招生老师', width: 120 }
                , { field: 'CreateTimeStr', title: '报名时间', width: 120 }
                , { title: '操作', toolbar: '#tableTool', width: 168 }
            ]]
        };
        table.render(tableOptions);

        //删除
        form.on('submit(d)', function (data) {
            //选中行
            var checkdata = table.checkStatus('table').data;
            if (checkdata.length == 0) {
                layer.msg('请选择需要删除的报名单修改申请。', {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            //删除处理
            var canDelete = true;
            var arr = new Array(checkdata.length);
            for (var i = 0; i < checkdata.length; i++) {
                arr[i] = checkdata[i].ApprovalId;
                if (parseInt(checkdata[i].ApprovalStatus) != 0 && parseInt(checkdata[i].ApprovalStatus) != 3) {
                    canDelete = false;
                }
            }

            if (canDelete == false) {
                layer.msg('只有待提交和审核不通过的才可以删除。', {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            //删除确认
            layer.confirm('确认删除？', {
                btn: ['确认', '取消']
            }, function (index, layero) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;utf-8",
                    dataType: "json",
                    async: false,
                    data: JSON.stringify(arr),
                    url: '@Url.Action("Delete", "OrderUpdateApproval")',
                    success: function (result) {
                        if (result.ret == 1) {
                            layer.msg('删除成功。', {
                                icon: 1,
                                time: 2000
                            }, function () {
                                table.reload("table");
                            });
                        }
                        else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 2000
                            });
                        }
                    }
                });

                layer.close(index);
            });
        });

        //提交
        form.on('submit(sb)', function (data) {
            //选中行
            var checkdata = table.checkStatus('table').data;
            if (checkdata.length == 0) {
                layer.msg('请选择需要提交的报名单。', {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            //选中的ID
            var canSubmit = true;
            var arr = new Array(checkdata.length);
            for (var i = 0; i < checkdata.length; i++) {
                arr[i] = checkdata[i].ApprovalId;
                if (parseInt(checkdata[i].ApprovalStatus) != 0) {
                    canSubmit = false;
                }
            }

            if (canSubmit == false) {
                layer.msg('只有待提交状态的才可以提交。', {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            //提交确认
            layer.confirm('确认提交？', {
                btn: ['确认', '取消']
            }, function (index, layero) {
                var dto = {};
                dto.IDs = arr;
                $.ajax({
                    type: "POST",
                    contentType: "application/json;utf-8",
                    dataType: "json",
                    async: false,
                    data: JSON.stringify(dto),
                    url: '@Url.Action("Submit", "OrderUpdateApproval")',
                    success: function (result) {
                        if (result.ret == 1) {
                            layer.msg('提交成功。', {
                                icon: 1,
                                time: 2000
                            }, function () {
                                table.reload("table");
                            });
                        }
                        else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 2000
                            });
                        }
                    }
                });
                layer.close(index);
            });
        });

        //查询
        form.on('submit(s)', function (data) {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: getSearchData()
            });
        });
    });

    //更多查询
    var dis = true;
    $("#MoreSearch").click(function () {
        if (dis == true) {
            $(".searchMore").show();
            $("#MoreSearch").text("收起查询");
            dis = false;
        }
        else {
            $(".searchMore").hide();
            $("#MoreSearch").text("更多查询");
            dis = true;
        }
    });

    //获得查询条件
    function getSearchData() {
        return {
            Status: $("#Status").val(),
            StudentName: $("#StudentName").val(),
            SchoolName: $("#SchoolName").val(),
            Phone: $("#Phone").val(),
            IDCard: $("#IDCard").val(),
        };
    }
</script>