@{
    ViewBag.Title = "报名单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OrderDto dto = ViewBag.OrderInfo;
}
<style type="text/css">
    .layui-form-label {
        width: 90px !important;
    }
</style>
<div class="main-wrap">
    <div class="panel layui-form">
        <div class="panel-title">
            @(ViewBag.Title)
        </div>
        <div class="panel-body">
            <div class="layui-form-item required">
                <label class="layui-form-label">学生姓名</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="StudentName" value='@((dto!=null) ? dto.StudentName : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="IDCardNo" value='@((dto!=null) ? dto.IDCardNo : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="Phone" value='@((dto!=null) ? dto.Phone : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">微信/QQ</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="TencentNo" value='@((dto!=null) ? dto.TencentNo : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">邮箱地址</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="Email" value='@((dto!=null) ? dto.Email : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">报考院校</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.SchoolName : "")'>
                </div>
                <label class="layui-form-label">层次</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.LevelName : "")'>
                </div>
                <label class="layui-form-label">专业</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.MajorName : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">批次</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.BatchName : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.Sex : "")'>
                </div>
                <label class="layui-form-label">民族</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.MinZu : "")'>
                </div>
                <label class="layui-form-label">籍贯</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.JiGuan : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">最高学历</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.HighesDegree : "")'>
                </div>
                <label style="float: left;display: block;padding: 9px 15px;width: 90px;font-weight: 400;line-height: 20px;text-align: right;">所读专业</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.SuoDuZhuanYe : "")'>
                </div>
                <label class="layui-form-label">毕业学校</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.GraduateSchool : "")'>
                </div>
            </div>
            <div class="layui-form-item required">
                <label class="layui-form-label">毕业证编号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.BiYeZhengBianHao : "")'>
                </div>
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.Address : "")'>
                </div>
                <label class="layui-form-label">工作单位</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null) ? dto.GongZuoDanWei : "")'>
                </div>
            </div>
            <div class="layui-form-item" id="schoolCustomerFieldBefore">
                <label class="layui-form-label">是否电大毕业</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@((dto!=null && dto.IsTvUniversity) ? "是" : "否")'>
                </div>
                <label class="layui-form-label"><span style="color:red;">* </span>毕业时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value='@(dto.GraduationTime.HasValue ? dto.GraduationTime.Value.ToString("yyyy-MM-dd") : "")'>
                </div>
            </div>
        </div>
        <div class="panel-title">
            备注
        </div>
        <div class="panel-body">
            <textarea name="Remark" placeholder="请输入内容" id="Remark" class="layui-textarea">@((dto != null) ? dto.Remark : "")</textarea>
            <div class="margin-top-10">
                <button class="layui-btn layui-btn-primary" onclick="window.location.href = '@Url.Action("Index","Manager")'">返回</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Website/js/customerfield.js"></script>
<script>
    layui.use('jquery', function () {
        //自定义字段
        filedList("@((dto != null) ? dto.SchoolId.ToString() :"")", '@(dto!=null?Html.Raw(dto.CustomerField):null)',"schoolCustomerFieldBefore");
    });
</script>